@charset "utf-8";
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 1650px;
    height: auto;
    background-color: lightgrey;
}

.flex-item {
    background-color: cornflowerblue;
    margin: 10px;
}

.item1 {
	-webkit-flex: 2;
	flex: 2;
}

.item2 {
	-webkit-flex: 2;
	flex: 2;
}

.item3 {
	-webkit-flex: 1;
	flex: 1;
}
