<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>


<div id="cobaltp">
  <!--#% increased Physical Damage with Claws-->
  
    <strong>Physical Damage +% with Claws</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (Savage)</li>    
     
  </ol>
  
  <!--#% increased Physical Damage with Daggers-->
  
    <strong>Physical Damage +% with Daggers</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (Lethal)</li>    
     
  </ol>
  
  <!--#% increased Physical Damage with Wands-->
  
    <strong>Physical Damage +% with Wands</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (Cruel)</li>    
     
  </ol>
  
  <!--#% increased Physical Damage with Staves-->
  
    <strong>Physical Damage +% with Staves</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (Judging)</li>     
     
  </ol>
  
  <!--#% increased Attack Speed+% with Claws-->
  
    <strong>Attack Speed +% with Claws</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (Ripping)</li>     
     
  </ol>
  
  <!--#% increased Attack Speed+% with Staves-->
  
    <strong>Attack Speed +% with Staves</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (Bludgeoning)</li>     
     
  </ol>
  
  <!--#% increased Attack Speed+% with Daggers-->
  
    <strong>Attack Speed +% with Daggers</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (Slicing)</li>     
     
  </ol>
  
  <!--#% increased Cast Speed+% with Fire Skills-->
  
    <strong>Cast Speed +% with Fire Skills</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 3 to 5 (Pyromantic)</li>     
     
  </ol>
  
  <!--#% increased Cast Speed+% with Cold Skills-->
  
    <strong>Cast Speed +% with Cold Skills</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 3 to 5 (Cryomantic)</li>     
     
  </ol>
  
  <!--#% increased Cast Speed+% with Lightning Skills-->
  
    <strong>Cast Speed +% Lightning Skills</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 3 to 5 (Electromantic)</li>     
     
  </ol>
  
  <!--#% increased Cast Speed+% with Chaos Skills-->
  
    <strong>Cast Speed +% with Chaos Skills</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 3 to 5 (Entropic)</li>     
     
  </ol>
  
  <!--#% increased Cast Speed+% for Curses-->
  
    <strong>Cast Speed +% for Curses</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (Blasphemous)</li>     
     
  </ol>
  
  <!--+# to maximum Life-->
  
    <strong>Base +Max Life</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 12 (Healthy)</li>     
     
  </ol>
  
  <!--#% increased maximum Life-->
  
    <strong>Max Life +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 3 to 5 (Spirited)</li>     
     
  </ol>
  
  <!--+# to maximum Mana-->
  
    <strong>Base +Max Mana</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 12 (Learned)</li>     
     
  </ol>
  
  
  <!--#% increased maximum Mana-->
  
    <strong>Max Mana +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (Enlightened)</li>     
     
  </ol>
  
  <!--+# to maximum Energy Shield-->
  
    <strong>Base +Max Energy Shield</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (Glowing)</li>     
     
  </ol>
  
  <!--#% increased maximum Energy Shield-->
  
    <strong>Max Energy Shield+%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 3 to 5 (Shimmering)</li>     
     
  </ol>
  
  <!--#% increased Mana Regeneration Rate-->
  
    <strong>Mana Regeneration Rate+%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 10 to 20 (Energetic)</li>     
     
  </ol>
  
  <!--+# to maximum Life and Mana-->
  
    <strong>Base +Max Life and Mana</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 6 / 4 to 6 (Determined)</li>     
     
  </ol>
  
  <!--#% increased maximum Life and Mana-->
  
    <strong>Max Life and Mana+%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 2 to 4 / 4 to 6 (Passionate)</li>     
     
  </ol>
  
  <!--#% increased maximum Energy Shield and Mana-->
  
    <strong>Max Energy Shield and Mana +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 2 to 4 / 4 to 6 (Wise)</li>     
     
  </ol>
  
  <!--#% increased maximum Life and Energy Shield-->
  
    <strong>Max Life and Energy Shield +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 2 to 4 / 2 to 4 (Faithful)</li>     
     
  </ol>
  
  <!--#% increased Armour and Energy Shield-->
  
    <strong>Armour and Energy Shield +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 / 4 to 6 (Paladin's)</li>     
     
  </ol>
  
  <!--#% increased Evasion and Energy Shield-->
  
    <strong>Evasion and Energy Shield+%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 / 2 to 4 (Rogue's)</li>     
     
  </ol>
  
  <!--#% increased Global Defenses-->
  
    <strong>Global Defenses +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (Defensive)</li>     
     
  </ol>
  
  <!--#% increased Critical Strike Chance with Spells-->
  
    <strong>Critical Strike Chance +% for Spells</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (Annihilating)</li>     
     
  </ol>
  
  <!--#% increased Critical Strike Chance with Traps-->
  
    <strong>Critical Strike Chance +% for Traps</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 10 to 20 (Inescapable)</li>     
     
  </ol>
  
  <!--#% increased Critical Strike Chance with Mines-->
  
    <strong>Critical Strike Chance +% for Mines</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 10 to 20 (Crippling)</li>     
     
  </ol>
  
  
  <!--#% increased Critical Strike Chance with Fire Skills-->
  
    <strong>Critical Strike Chance +% for Fire Skills</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (Incinerating)</li>     
     
  </ol>
  
  
  <!--#% increased Critical Strike Chance with Cold Skills-->
  
    <strong>Critical Strike Chance +% for Cold Skills</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (Avalanching)</li>     
     
  </ol>
  
  
  <!--#% increased Critical Strike Chance with Lightning Skills-->
  
    <strong>Critical Strike Chance +% for Lightning Skills</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (Thundering)</li>     
     
  </ol>
  
  
  <!--#% increased Critical Strike Chance with Elemental Skills-->
  
    <strong>Critical Strike Chance +% for Elemental Skills</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (Apocalyptic)</li>     
     
  </ol>
  
  
  <!--#% increased Critical Strike Chance with Chaos Skills-->
  
    <strong>Critical Strike Chance +% for Chaos Skills</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (Obliterating)</li>     
     
  </ol>
  
  
  <!--#% increased Critical Strike Multiplier with Spells-->
  
    <strong>Critical Strike Multiplier with Spells</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (Unmaking)</li>     
     
  </ol>
  
  
  <!--#% increased Critical Strike Multiplier with Traps-->
  
    <strong>Critical Strike Multiplier with Traps</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (Debilitating)</li>     
     
  </ol>
  
  
  <!--#% increased Critical Strike Multiplier with Mines-->
  
    <strong>Critical Strike Multiplier with Mines</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (Incapacitating)</li>     
     
  </ol>
  
  <!--#% increased Radius of Auras-->
  
    <strong>+% Radius of Auras</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (Hero's)</li>     
     
  </ol>
  
  <!--#% increased Radius of Curses-->
  
    <strong>+% Radius of Curses</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (Hexing)</li>     
     
  </ol>
  
  <!--#% chance to Avoid being Shocked-->
  
    <strong>+% Chance to Avoid being Shocked</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 2 to 5 (Insulating)</li>     
     
  </ol>
  
  <!--#% chance to Shock-->
  
    <strong>+% Chance to Shock</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 2 to 3 (Static)</li>     
     
  </ol>
  
  <!--#% increased Shock Duration on enemies-->
  
    <strong>+% Shock Duration on Enemies</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (Charged)</li>     
     
  </ol>
  
  <!--#% increased Power Charge Duration-->
  
    <strong>Power Charge Duration +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (Empowering)</li>     
     
  </ol>
  
  <!--#% increased Chance to Block with Shields-->
  
    <strong>+% Chance to Block with Shields</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 2 (Shielding)</li>     
     
  </ol>
  
  <!--#% increased Chance to Block with Staves-->
  
    <strong>+% Chance to Block with Staves</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 2 (Halting)</li>     
     
  </ol>
  
  <!--#% increased Faster Energy Shield Recharge-->
  
    <strong>Faster Energy Shield Recharge+%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (Serene)</li>     
     
  </ol>
  </div>

<div id="cobalts">
  <!--#% increased Spell Damage-->
  
    <strong>Spell Damage +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (of Mysticism) </li>     
     
  </ol>
  
  <!--#% increased Trap Damage-->
  
    <strong>Trap Damage +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Trapping)</li>     
     
  </ol>
  
  <!--#% increased Mine Damage-->
  
    <strong>Mine Damage +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Sabotage)</li>     
     
  </ol>
  
  <!--#% increased Damage with Minions-->
  
    <strong>Minions deal #% increased Damage</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Sabotage)</li>     
     
  </ol> 
  
  <!--#% increased Fire Damage-->

   <strong>Fire Damage +%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Fire)</li>     
   
</ol>


<!--#% increased Cold Damage-->

   <strong>Cold Damage +%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Ice)</li>     
   
</ol>

<!--#% increased Lightning Damage-->

   <strong>Lightning Damage +%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Lightning)</li>     
   
</ol>

<!--#% increased Chaos Damage-->

   <strong>Chaos Damage +%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (of Chaos)</li>     
   
</ol>

<!--#% increased Area Damage-->

   <strong>Area Damage +%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (of Blasting) </li>     
   
</ol>

<!--#% increased Cast Speed while Dual Wielding-->

   <strong>Cast Speed +% while Dual Wielding</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 3 to 5 (of Resonance)</li>     
   
</ol>

<!--#% increased Cast Speed while holding a Shield-->

   <strong>Cast Speed +% while holding a Shield</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 3 to 5 (of Warding)</li>     
   
</ol>

<!--#% increased Attack Speed while Holding a Shield-->

   <strong>Attack Speed +% while Holding a Shield</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 6 (of Defence)</li>     
   
</ol>

<!--#% increased Cast Speed while wielding a Staff-->

   <strong>Cast Speed +% while wielding a Staff</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 3 to 5 (of Warding)</li>     
   
</ol>

 
<!--#% increased Cast Speed-->

   <strong>Cast Speed +%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 2 to 4 (of Enchanting)</li>     
   
</ol>

<!--#% increased Trap Throwing Speed-->

   <strong>Trap Throwing Speed +%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (of Rigging)</li>     
   
</ol>


<!--#% increased Mine Laying Speed-->

   <strong>Mine Laying Speed +%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (of Arming)</li>     
   
</ol>


<!--#% increased Attack and Cast Speed Speed-->

   <strong>Attack and Cast Speed +%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 2 to 4 (of Zeal) </li>     
   
</ol>


 <!--+# to Intelligence-->

   <strong>Additional Intelligence</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 10 to 16 (of Intelligence)</li>     
   
</ol>

<!--+# to Strength and Intelligence-->

   <strong>Additional Strength and Intelligence</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 10 (of Spirit)</li>     
   
</ol>


<!--+# to Dexterity and Intelligence-->

   <strong>Additional Dexterity and Intelligence</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 10 (of Cunning)</li>     
   
</ol>


<!--+# to All Attributes-->

   <strong>Additional All Attributes</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (of Adaption)</li>     
   
</ol>

<!--+# Life gained for each Enemy hit by your Attacks-->

   <strong>+ Life Gained on Hit by Attacks</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 1 to 2 (of Rejuvenation)</li>     
   
</ol>


<!--+# Energy Shield gained for each Enemy hit by your Attacks-->

   <strong>+ Energy Shield Gained on Hit by Attacks</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 1 to 2 (of Focusing)</li>     
   
</ol>


<!--+# Mana gained for each Enemy hit by your Attacks-->

   <strong>+ Mana Gained on Hit by Attacks</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 1 to 2 (of Absorbtion)</li>     
   
</ol>


<!--#% increased Rarity of Items found-->

   <strong>Item Found Rarity +%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 3 to 6 (of Raiding)</li>     
   
</ol>


<!--#% increased Critical Strike Chance-->

   <strong>Critical Strike Chance +%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (of Menace)</li>     
   
</ol>


<!--#% increased Critical Strike Multiplier-->

   <strong>Critical Strike Multiplier +%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (of Potency)</li>     
   
</ol>


<!--#% increased Critical Strike Chance with Wands-->

   <strong>+% Critical Strike Chance with Wands</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 10 to 20 (of Divination) </li>     
   
</ol>


<!--#% increased Critical Strike Chance with Claws-->

   <strong>+% Critical Strike Chance with Claws</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 10 to 20 (of the Eagle)</li>     
   
</ol>
<!--#% increased Critical Strike Chance with Daggers-->

   <strong>+% Critical Strike Chance with Daggers</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 10 to 20 (of Needling) </li>     
   
</ol>


<!--#% increased Critical Strike Chance with Staves-->

   <strong>+% Critical Strike Chance with Staves</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 10 to 20 (of Tyranny)</li>     
   
</ol>

<!--#% increased Critical Strike Multiplier with Staves-->

   <strong>+% Critical Strike Multiplier with Staves</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (of Trauma)</li>     
   
</ol>


<!--#% increased Critical Strike Multiplier with Wands-->

   <strong>+% Critical Strike Multiplier with Wands</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (of Evocation) </li>     
   
</ol>

<!--#% increased Critical Strike Multiplier with Claws-->

   <strong>+% Critical Strike Multiplier with Claws</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (of the Bear)  </li>     
   
</ol>


<!--#% increased Critical Strike Multiplier with Daggers-->

   <strong>+% Critical Strike Multiplier with Daggers</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (of Assassination)</li>     
   
</ol>

<!--#% increased Critical Strike Chance with Two Hand Melee Weapons-->

   <strong>+% Critical Strike Chance with Two Hand Melee Weapons</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Sundering)</li>     
   
</ol>

<!--#% increased Critical Strike Chance while holding a Shield-->

   <strong>+% Critical Strike Chance while holding a Shield</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Tactics)</li>     
   
</ol>

<!--#% increased Critical Strike Multiplier with Fire Skills-->

   <strong>+% Critical Strike Multiplier with Fire Skills</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (of the Inferno) </li>     
   
</ol>


<!--#% increased Critical Strike Multiplier with Cold Skills-->

   <strong>+% Critical Strike Multiplier with Cold Skills</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (of the Tundra)</li>     
   
</ol>


<!--#% increased Critical Strike Multiplier with Lightning Skills-->

   <strong>+% Critical Strike Multiplier with Lightning Skills</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (of the Storm)</li>     
   
</ol>


<!--#% increased Critical Strike Multiplier with Elemental Skills-->

   <strong>+% Critical Strike Multiplier with Elemental Skills</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (of the Elements)</li>     
   
</ol>


<!--#% increased Critical Strike Multiplier with Chaos Skills-->

   <strong>+% Critical Strike Multiplier with Chaos Skills</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (of the Abyss) </li>     
   
</ol>


<!--#% increased Fire Resistance-->

   <strong>Fire Resistance+%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Cooling)</li>     
   
</ol>


<!--#% increased Cold Resistance-->

   <strong>Cold Resistance+%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Warmth)</li>     
   
</ol>


<!--#% increased Lightning Resistance-->

   <strong>Lightning Resistance+%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Grounding)</li>     
   
</ol>


<!--#% increased Fire and Cold Resistances-->

   <strong>Fire and Cold Resistance+%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 9 (of the Hearth)</li>     
   
</ol>


<!--#% increased Fire and Lightning Resistances-->

  <strong>Fire and Lightning Resistance+%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 9 (of Insulation)</li>     
   
</ol>
 

<!--#% increased Cold and Lightning Resistances-->

   <strong>Cold and Lightning Resistance+%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 9 (of Shelter)</li>     
   
</ol>


<!--#% increased All Elements Resistances-->

   <strong>All Elements Resistance +%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 7 (of Resistance)</li>     
   
</ol>


<!--#% increased Chaos Resistance-->

   <strong>Chaos Resistance+%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 7 to 13 (of Order)</li>     
   
</ol>

<!--#% increased Minion Block Chance-->

   <strong>Minion Block Chance +%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 3 to 6 (of Strategy)</li>     
   
</ol>


<!--#% increased Minion Life-->

   <strong>Minion Life +%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (of Training)</li>     
   
</ol>


<!--#% increased Minion Elemental Resistances-->

   <strong>Elemental Resistances +%</strong>
     <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (of Discipline)</li>     
   
</ol>

</div>
 
  

</body>
</html>
