<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>

<ul>
   <div id="1haxecorr">
     <h3>Corrupted One Hand Axe Implict
     </h3>
    <li>iLvl 1: 5% Chance to Cause Monsters to Flee</li>
    <li>iLvl 1: +1 to 2 to Weapon range</li>
    <li>iLvl 1: Adds 1 to 2 / 3 to 5 Chaos Damage</li>
    <li>iLvl 1: Culling Strike</li>
    <li>iLvl 20: Gems in this item are supported by level 10 Melee Splash</li>
    <li>iLvl 20: Adds 6 to 8 / 11 to 13 Chaos Damage</li>
    <li>iLvl 31: Grants level 10 Vulnerability Skill</li>
    <li>iLvl 40: Adds 8 to 11 / 19 to 23 Chaos Damage</li>
    <li>iLvl 50: 0.2% of Fire Damage Leeched as Life</li>
    <li>iLvl 50: 0.2% of Cold Damage Leeched as Life</li>
    <li>iLvl 50: 0.2% of Lightning Damage Leeched as Life</li>
</div>



  <div id="clawcorr"><h3>Corrupted Claw Implict
    </h3>
    <li>iLvl 1: 5% Chance to Cause Monsters to Flee</li>
    <li>iLvl 1: Adds 1 to 2 / 3 to 5 Chaos Damage</li>
    <li>iLvl 1: +1 to 2 to Weapon range</li>
    <li>iLvl 1: 3 to 6 % additional Chance to Block while Dual Wielding</li>
    <li>iLvl 1: Culling Strike</li>
    <li>iLvl 20: Adds 6 to 8 / 11 to 13 Chaos Damage</li>
    <li>iLvl 20: Gems in this item are supported by level 10 Melee Splash</li>
    <li>iLvl 40: Adds 8 to 11 / 19 to 23 Chaos Damage</li>
    <li>iLvl 50: 0.2% of Fire Damage Leeched as Life</li>
    <li>iLvl 50: 0.2% of Cold Damage Leeched as Life</li>
    <li>iLvl 50: 0.2% of Lightning Damage Leeched as Life</li>
    <li>iLvl 59: Gems in this item are supported by level 15 Life Leech</li>
  </div>
  

    <div id="daggcorr"><h3>Corrupted Dagger Implict
    </h3>
      <li>iLvl 1: 5% Chance to Cause Monsters to Flee</li>
      <li>iLvl 1: Adds 1 to 2 / 3 to 5 Chaos Damage</li>
      <li>iLvl 1: Culling Strike</li>
      <li>iLvl 1: +1 to 2 to Weapon range</li>
      <li>iLvl 1: 3 to 6 % additional Chance to Block while Dual Wielding</li>
      <li>iLvl 20: Adds 6 to 8 / 11 to 13 Chaos Damage</li>
      <li>iLvl 20: Gems in this item are supported by level 10 Melee Splash</li>
      <li>iLvl 40: Adds 8 to 11 / 19 to 23 Chaos Damage</li>
      <li>iLvl 35: Gems in this item are supported by level 14 Increased Critical Damage</li>
      <li>iLvl 50: 0.2% of Fire Damage Leeched as Life</li>
      <li>iLvl 50: 0.2% of Cold Damage Leeched as Life</li>
      <li>iLvl 50: 0.2% of Lightning Damage Leeched as Life</li>
    </div>

  <div id="sceptrecorr"><h3>Corrupted Sceptre Implict
    </h3>
    <li>iLvl 1: 5% Chance to Cause Monsters to Flee</li>
    <li>iLvl 1: Adds 1 to 2 / 3 to 5 Chaos Damage</li>
    <li>iLvl 1: 10 to 20 % of Physical Damage Converted to Fire Damage</li>
    <li>iLvl 1: 10 to 20 % of Physical Damage Converted to Cold Damage</li>
    <li>iLvl 1: 10 to 20 % of Physical Damage Converted to Lightning Damage</li>
    <li>iLvl 20: Adds 6 to 8 / 11 to 13 Chaos Damage</li>
    <li>iLvl 20: Gems in this item are supported by level 10 Melee Splash</li>
    <li>iLvl 24: Gems in this item are supported by level 12 Weapon Elemental Damage</li>
    <li>iLvl 24: Gems in this item are Supported by level 10 Faster Casting</li>
    <li>iLvl 38: Gems in this item are supported by level 6 Stun</li>
    <li>iLvl 40: Adds 8 to 11 / 19 to 23 Chaos Damage</li>
    <li>iLvl 48: Gems in this item are Supported by level 12 Added Fire Damage</li>
    <li>iLvl 50: 0.2% of Fire Damage Leeched as Life</li>
    <li>iLvl 50: 0.2% of Cold Damage Leeched as Life</li>
    <li>iLvl 50: 0.2% of Lightning Damage Leeched as Life</li>
  </div>
  <div id="1hswordcorr"><h3>Corrupted Sword Implict
    </h3>
    <li>iLvl 1: 3 to 6 % additional Chance to Block while Dual Wielding</li>
    <li>iLvl 1: Culling Strike</li>
    <li>iLvl 1: +1 to 2 to Weapon range(N/A on thrusting)</li>
    <li>iLvl 1: Adds 1 to 2 / 3 to 5 Chaos Damage</li>
    <li>iLvl 1: 5% Chance to Cause Monsters to Flee</li>
    <li>iLvl 1: 0.2% of Lightning Damage Leeched as Life</li>
    <li>iLvl 1: 0.2% of Cold Damage Leeched as Life</li>
    <li>iLvl 1: 0.2% of Fire Damage Leeched as Life</li>
    <li>iLvl 20: Gems in this item are supported by level 10 Melee Splash</li>
    <li>iLvl 20: Adds 6 to 8 / 11 to 13 Chaos Damage</li>
    <li>iLvl 28: Gems in this item are supported by level 1 Multistrike</li>
    <li>iLvl 40: Adds 8 to 11 / 19 to 23 Chaos Damage</li>
  </div>
  <div id="wandcorr"><h3>Corrupted Wand Implict
    </h3>
    <li>iLvl 1: 4 to 8 % chance of Projectiles Piercing</li>
    <li>iLvl 1: Culling Strike</li>
    <li>iLvl 1: Adds 1 to 2 / 3 to 5 Chaos Damage</li>
    <li>iLvl 1: 5% Chance to Cause Monsters to Flee</li>
    <li>iLvl 12: Gems in this item are Supported by level 1 Elemental Proliferation</li>
    <li>iLvl 20: Adds 6 to 8 / 11 to 13 Chaos Damage</li>
    <li>iLvl 31: Grants level 10 Elemental Weakness Skill</li>
    <li>iLvl 40: Adds 8 to 11 / 19 to 23 Chaos Damage</li>
    <li>iLvl 50: 0.2% of Lightning Damage Leeched as Life</li>
    <li>iLvl 50: 0.2% of Cold Damage Leeched as Life</li>
    <li>iLvl 50: 0.2% of Fire Damage Leeched as Life</li>
  </div>
  
  
<div id="1hmacecorr"><h3>Corrupted One Hand Mace Implict
  </h3>
  <li>iLvl 1: 5% Chance to Cause Monsters to Flee</li>
  <li>iLvl 1: Adds 1 to 2 / 3 to 5 Chaos Damage</li>
  <li>iLvl 1: +(1 to 2) to Weapon range</li>
  <li>iLvl 20: Adds 6 to 8 / 11 to 13 Chaos Damage</li>
  <li>iLvl 20: Gems in this item are supported by level 10 Melee Splash</li>
  <li>iLvl 38: Gems in this item are supported by level 6 Stun</li>
  <li>iLvl 40: Adds 8 to 11 / 19 to 23 Chaos Damage</li>
  <li>iLvl 48: Gems in this item are Supported by level 12 Added Fire Damage</li>
  <li>iLvl 50: 0.2% of Fire Damage Leeched as Life</li>
  <li>iLvl 50: 0.2% of Cold Damage Leeched as Life</li>
  <li>iLvl 50: 0.2% of Lightning Damage Leeched as Life</li>
</div>
  
  
  
<div id="2haxecorr"><h3>Corrupted Two Hand Axe Implict
  </h3>
  <li>iLvl 1: +1 to 2 to Weapon range</li>
  <li>iLvl 1: Culling Strike</li>
  <li>iLvl 1: Adds 1 to 2 / 3 to 5 Chaos Damage</li>
  <li>iLvl 1: 5% Chance to Cause Monsters to Flee</li>
  <li>iLvl 20: +1 Maximum Power Charge</li>
  <li>iLvl 20: Adds 6 to 8 / 11 to 13 Chaos Damage</li>
  <li>iLvl 31: Grants level 10 Vulnerability Skill</li>
  <li>iLvl 40: Adds 8 to 11 / 19 to 23 Chaos Damage</li>
  <li>iLvl 50: 0.2% of Fire Damage Leeched as Life</li>
  <li>iLvl 50: 0.2% of Cold Damage Leeched as Life</li>
  <li>iLvl 50: 0.2% of Lightning Damage Leeched as Life</li>
</div>
<div id="bowcorr"><h3>Corrupted Bow Implict
  </h3>
  <li>iLvl 1: 5 to 10 % chance of Arrows Piercing</li>
  <li>iLvl 1: Adds an additional Arrow</li>
  <li>iLvl 1: Culling Strike</li>
  <li>iLvl 1: Adds 1 to 2 / 3 to 5 Chaos Damage</li>
  <li>iLvl 1: 5% Chance to Cause Monsters to Flee</li>
  <li>iLvl 6: Gems in this item are supported by level 1 Fork</li>
  <li>iLvl 20: +1 Maximum Power Charge</li>
  <li>iLvl 20: Adds 6 to 8 / 11 to 13 Chaos Damage</li>
  <li>iLvl 40: Adds 8 to 11 / 19 to 23 Chaos Damage</li>
     <li>iLvl 50: 0.2% of Fire Damage Leeched as Life</li>
    <li>iLvl 50: 0.2% of Cold Damage Leeched as Life</li>
    <li>iLvl 50: 0.2% of Lightning Damage Leeched as Life</li>
</div>
<div id="2hmacecorr"><h3>Corrupted Two Hand Mace Implict
  </h3>
  <li>iLvl 1: +1 to 2 to Weapon range</li>
  <li>iLvl 1: Adds 1 to 2 / 3 to 5 Chaos Damage</li>
  <li>iLvl 1: 5% Chance to Cause Monsters to Flee</li>
  <li>iLvl 20: +1 Maximum Power Charge</li>
  <li>iLvl 20: Adds 6 to 8 / 11 to 13 Chaos Damage</li>
  <li>iLvl 38: Gems in this item are supported by level 6 Stun</li>
  <li>iLvl 40: Adds 8 to 11 / 19 to 23 Chaos Damage</li>
     <li>iLvl 50: 0.2% of Fire Damage Leeched as Life</li>
    <li>iLvl 50: 0.2% of Cold Damage Leeched as Life</li>
    <li>iLvl 50: 0.2% of Lightning Damage Leeched as Life</li>
</div>
<div id="staffcorr"><h3>Corrupted Staff Implict
  </h3>
  <li>iLvl 1: 2 to 4 % Chance to Block Spells</li>
  <li>iLvl 1: 2 to 4 % Chance to Block</li>
  <li>iLvl 1: +1 to 2 to Weapon range</li>
  <li>iLvl 1: Adds 1 to 2 / 3 to 5 Chaos Damage</li>
  <li>iLvl 1: 5% Chance to Cause Monsters to Flee</li>
  <li>iLvl 20: +1 Maximum Power Charge</li>
  <li>iLvl 20: Adds 6 to 8 / 11 to 13 Chaos Damage</li>
  <li>iLvl 24: Gems in this item are Supported by level 1 Increased Area of Effect</li>
  <li>iLvl 40: Adds 8 to 11 / 19 to 23 Chaos Damage</li>
     <li>iLvl 50: 0.2% of Fire Damage Leeched as Life</li>
    <li>iLvl 50: 0.2% of Cold Damage Leeched as Life</li>
    <li>iLvl 50: 0.2% of Lightning Damage Leeched as Life</li>
</div>
<div id="2hswordcorr"><h3>Corrupted Two Hand Sword Implict
  </h3>
  <li>iLvl 1: Culling Strike</li>
  <li>iLvl 1: +1 to 2 to Weapon range</li>
  <li>iLvl 1: Adds 1 to 2 / 3 to 5 Chaos Damage</li>
  <li>iLvl 1: 5% Chance to Cause Monsters to Flee</li>
  <li>iLvl 20: +1 Maximum Power Charge</li>
  <li>iLvl 20: Adds 6 to 8 / 11 to 13 Chaos Damage</li>
  <li>iLvl 40: Adds 8 to 11 / 19 to 23 Chaos Damage</li>
  <li>iLvl 48: Gems in this item are supported by level 12 Additional Accuracy</li>
     <li>iLvl 50: 0.2% of Fire Damage Leeched as Life</li>
    <li>iLvl 50: 0.2% of Cold Damage Leeched as Life</li>
    <li>iLvl 50: 0.2% of Lightning Damage Leeched as Life</li>
</div>
<div id="chestcorr">
  <h3>Corrupted Chest Implict
    </h3>
  <li>iLvl 1: Skill Gems in this item get a 95% Mana Multiplier</li>
  <li>iLvl 1: 10 to 20 % chance to Avoid being Shocked</li>
  <li>iLvl 1: +1 to Level of Gems in this item</li>
  <li>iLvl 1: Cannot be Knocked Back</li>
  <li>iLvl 1: +2 to 4 % to Chaos Resistance</li>
  <li>iLvl 1: 10 to 20 % chance to Avoid being Ignited</li>
  <li>iLvl 1: 10 to 20 % chance to Avoid being Frozen</li>
  <li>iLvl 1: +1% to all maximum Resistances</li>
  <li>iLvl 1: +1 to 2 to Level of Vaal Gems in this item</li>
  <li>iLvl 45: Grants level 15 Purity of Lightning Skill</li>
  <li>iLvl 45: Grants level 15 Purity of Ice Skill</li>
  <li>iLvl 45: Grants level 15 Purity of Fire Skill</li>
</div>
<div id="helmcorr"><h3>Corrupted Helmet Implict
  </h3>
  <li>iLvl 1: When Hit, 3 to 5 % of Damage is taken from Mana before Life</li>
  <li>iLvl 1: Enemies Cannot Leech Life From You</li>
  <li>iLvl 1: Minions deal 15 to 20 % increased Damage</li>
  <li>iLvl 1: +2 to 4 % to Chaos Resistance</li>
  <li>iLvl 1: +1 to 2 to Level of Vaal Gems in this item</li>
  <li>iLvl 28: Grants level 7 Wrath Skill</li>
  <li>iLvl 35: Gems in this item are supported by level 12 Cast On Crit</li>
  <li>iLvl 35: Gems in this item are supported by level 12 Cast when Stunned</li>
  <li>iLvl 44: Grants level 11 Hatred Skill</li>
  <li>iLvl 56: Grants level 15 Anger Skill</li>
</div>
<div id="corrgloves"><h3>Corrupted Gloves Implict
  </h3>
  <li>iLvl 1: +1 to Level of Gems in this item</li>
  <li>iLvl 1: +2 to 4 % to Chaos Resistance</li>
  <li>iLvl 1: 4 to 6 % increased Cast Speed</li>
  <li>iLvl 1: +1 to 2 to Level of Vaal Gems in this item</li>
  <li>iLvl 30: Curse Enemies with level 10 to 12 Elemental Weakness on Hit</li>
  <li>iLvl 30: Curse Enemies with level 10 to 12 Vulnerability on Hit</li>
  <li>iLvl 30: Curse Enemies with level 10 to 12 Temporal Chains on Hit</li>
  <li>iLvl 31: Grants level 10 Assassin's Mark Skill</li>
  <li>iLvl 35: Gems in this item are supported by level 12 Cast On Crit</li>
  <li>iLvl 35: Gems in this item are supported by level 12 Cast when Stunned</li>
</div>
<div id="corrboots"><h3>Corrupted Boots Implict
  </h3>
  <li>iLvl 1: Cannot be Knocked Back</li>
  <li>iLvl 1: 2 to 4 % Chance to Dodge Attacks</li>
  <li>iLvl 1: 2 to 5 % increased Movement Speed</li>
  <li>iLvl 1: +1 to Level of Gems in this item</li>
  <li>iLvl 1: + 2 to 4 % to Chaos Resistance</li>
  <li>iLvl 1: + 1 to 2 to Level of Vaal Gems in this item</li>
  <li>iLvl 20: +1 Maximum Frenzy Charge</li>
  <li>iLvl 40: Grants level 14 Haste Skill</li>
  <li>iLvl 40: Grants level 14 Temporal Chains Skill</li>
</div>
<div id="corrshield"><h3>Corrupted Shield Implict
  </h3>
  <li>iLvl 1: 10 to 20 % chance to Avoid being Ignited</li>
  <li>iLvl 1: 3 to 6 % of Damage taken Gained as Mana when Hit</li>
  <li>iLvl 1: 2 to 4)% Chance to Block Spells</li>
  <li>iLvl 1: -10 to -5 Physical Damage taken from Attacks</li>
  <li>iLvl 1: +1 to Level of Gems in this item</li>
  <li>iLvl 1: +2 to 4 % to Chaos Resistance</li>
  <li>iLvl 1: +1 to 2 to Level of Vaal Gems in this item</li>
  <li>iLvl 30: -16 to -11 Physical Damage taken from Attacks</li>
  <li>iLvl 60: -24 to -17 Physical Damage taken from Attacks</li>
  <li>iLvl 61: Grants level 16 Discipline Skill</li>
  <li>iLvl 61: Grants level 16 Grace Skill</li>
  <li>iLvl 61: Grants level 16 Determination Skill</li>
</div>
<div id="corrammy"><h3>Corrupted Amulet Implict
  </h3>
  <li>iLvl 1: 10 to 20 % chance to Avoid being Frozen</li>
  <li>iLvl 1: Enemies can have 1 additional Curse</li>
  <li>iLvl 1: +1% to all maximum Resistances</li>
  <li>iLvl 1: 6 to 12 % increased Elemental Damage with Weapons</li>
  <li>iLvl 1: 4 to 8 % increased Attack Speed</li>
  <li>iLvl 1: 2 to 4 % Chance to Block</li>  
  <li>iLvl 1: Minions deal 15 to 20% increased Damage</li>
  <li>iLvl 1: 2 to 5 % increased Movement Speed</li>
  <li>iLvl 1: 10 to 20 % chance to Avoid being Ignited</li>
  <li>iLvl 1: 3 to 6 % of Damage taken Gained as Mana when Hit</li>
  <li>iLvl 1: 2 to 4 % Chance to Block Spells</li>
  <li>iLvl 1: -10 to -5 Physical Damage taken from Attacks</li>
  <li>iLvl 1: +2 to 4% to Chaos Resistance</li>
  <li>iLvl 19: Grants level 4 Clarity Skill</li>
  <li>iLvl 20: +1 Maximum Frenzy Charge</li>
  <li>iLvl 30: -16 to -11 Physical Damage taken from Attacks</li>
  <li>iLvl 32: Grants level 8 Clarity Skill</li>
  <li>iLvl 45: Grants level 15 Purity of Lightning Skill</li>
  <li>iLvl 45: Grants level 15 Purity of Ice Skill</li>
  <li>iLvl 45: Grants level 15 Purity of Fire Skill</li>
  <li>iLvl 45: Grants level 15 Purity of Elements Skill</li>
  <li>iLvl 50: 0.2% of Lightning Damage Leeched as Life</li>
  <li>iLvl 50: 0.2% of Cold Damage Leeched as Life</li>
  <li>iLvl 50: 0.2% of Fire Damage Leeched as Life</li>
  <li>iLvl 60: -24 to -17 Physical Damage taken from Attacks</li>
</div>
<div id="corrbelt"><h3>Corrupted Belt Implict
  </h3>
  <li>iLvl 1: +1 Maximum Endurance Charge</li>
  <li>iLvl 1: Can set up to 1 additional trap</li>
  <li>iLvl 1: 5 to 8 % increased Skill Effect Duration</li>
  <li>iLvl 1: 4 to 6 % increased Radius of Area Skills</li>
  <li>iLvl 1: 10 to 20 % chance to Avoid being Shocked</li>
  <li>iLvl 1: +2 to 4 % to Chaos Resistance</li>
  <li>iLvl 19: Grants level 4 Clarity Skill</li>
  <li>iLvl 32: Grants level 8 Clarity Skill</li>
  <li>iLvl 35: Grants level 15 Vitality Skill</li>
  <li>iLvl 45: Grants level 15 Purity of Elements Skill</li>
  <li>iLvl 47: Grants level 12 Clarity Skill</li>
  <li>iLvl 59: Grants level 16 Clarity Skill</li>
</div>
<div id="corrquiv"><h3>Corrupted Quiver Implict
  </h3>
  <li>iLvl 1: Adds an additional Arrow</li>
  <li>iLvl 1: +2 to 4 % to Chaos Resistance</li>
  <li>iLvl 1: 10 to 20 % of Physical Damage Converted to Lightning Damage</li>
  <li>iLvl 1: 10 to 20 % of Physical Damage Converted to Cold Damage</li>
  <li>iLvl 1: 10 to 20 % of Physical Damage Converted to Fire Damage</li>
  <li>iLvl 50: 0.2% of Lightning Damage Leeched as Life</li>
  <li>iLvl 50: 0.2% of Cold Damage Leeched as Life</li>
  <li>iLvl 50: 0.2% of Fire Damage Leeched as Life</li>
  <li>iLvl 58: Grants level 15 Projectile Weakness Skill</li>
</div>
<div id="corrring"><h3>Corrupted Ring Implict
  </h3>
  <li>iLvl 1: Adds 1 / 2 to 3 Chaos Damage</li>
  <li>iLvl 1: 4 to 6 % increased Cast Speed</li>
  <li>iLvl 1: 10 to 20 % chance to Avoid being Frozen</li>
  <li>iLvl 1: 6 to 12 % increased Elemental Damage with Weapons</li>
  <li>iLvl 1: 3 to 6 % of Damage taken Gained as Mana when Hit</li>
  <li>iLvl 20: +2 to 4 % to Chaos Resistance</li>
  <li>iLvl 40: Adds 3 to 4 / 6 to 8 Chaos Damage</li>
  <li>iLvl 40: +1 to 2 Mana gained for each enemy hit by your Attacks</li>
  <li>iLvl 40: Adds 7 to 9 / 11 to 13 Chaos Damage</li>
  <li>iLvl 46: Grants level 14 Conductivity Skill</li>
  <li>iLvl 46: Grants level 14 Flammability Skill</li>
  <li>iLvl 46: Grants level 14 Frostbite Skill</li>
</div>
<div id="corrjew"><h3>Corrupted Jewel Implict
  </h3>
  <li>iLvl 1: 1 to 3 % to Chaos Resistance</li>
  <li>iLvl 1: 1% reduced Character Size</li>
  <li>iLvl 1: 3 to 5 % reduced Chill Duration on You</li>
  <li>iLvl 1: 3 to 5 % reduced Freeze Duration on You</li>
  <li>iLvl 1: 3 to 5 % reduced Ignite Duration on You</li>
  <li>iLvl 1: 3 to 5 % reduced Shock Duration on You</li>
  <li>iLvl 1: 3 to 7 % increased Endurance, Frenzy and Power Charge Duration</li>
  <li>iLvl 1: Adds 1 / 2 to 3 Chaos Damage to Attacks</li>
  <li>iLvl 1: 3 to 5 % chance to receive a Critical Strike</li>
  <li>iLvl 1: 20 to 30 % increased Damage while Dead</li>
  <li>iLvl 1: 5 to 10 % increased Vaal Skill Damage</li>
  <li>iLvl 1: 1% increased Chaos Damage per equipped Corrupted Item</li>
  <li>iLvl 1: 1% increased Life Leech rate per equipped Corrupted Item</li>
  <li>iLvl 1: 1% increased Mana Leech rate per equipped Corrupted Item</li>
  <li>iLvl 1: You are Immune to Silence</li>
</div>
<div id="fishcorr"><h3>Corrupted Fishing Rod Implict
  </h3>
  <li>iLvl 1: You can catch Corrupted Fish</li>
  <li>iLvl 1: 10 to 20% increased Cast Speed</li>
  <li>iLvl 1: 5 to 10% increased Rarity of Fish Caught</li>
  <li>iLvl 1: 5 to 10% increased Quantity of Fish Caught</li>
  <li>iLvl 1: +1 to 2 to Weapon range</li>
  <li>iLvl 1: Adds 1 to 2 / 3 to 5 Chaos Damage</li>
  <li>iLvl 1: 5% Chance to Cause Monsters to Flee</li>
  <li>iLvl 1: 0.2% of Lightning Damage Leeched as Life</li>
  <li>iLvl 1: 0.2% of Cold Damage Leeched as Life</li>
  <li>iLvl 1: 0.2% of Fire Damage Leeched as Life</li>
  <li>iLvl 20: +1 Maximum Power Charge</li>
  <li>iLvl 20: Adds 6 to 8 / 11 to 13 Chaos Damage</li>
  <li>iLvl 40: Adds 8 to 11 / 19 to 23 Chaos Damage</li>
</div>
</ul>
</body>
</html>
