<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>

<ul>
   <div id="1haxecorr">
     <h3>Corrupted One Hand Axe Implict
     </h3>
    <li>iLvl 1: 20% chance to cause Bleeding on Hit / (30–40)% increased Attack Damage against Bleeding Enemies</li>
    <li>iLvl 1: (10–15)% chance to Fortify on Melee hit</li>
    <li>iLvl 1: (10–15)% chance to gain Onslaught for 4 seconds on Kill</li>
    <li>iLvl 1: (15–20)% increased Area of Effect</li>
    <li>iLvl 1: Adds 1 to 2 Physical Damage</li>
    <li>iLvl 1: (5–7)% increased Attack Speed</li>
    <li>iLvl 1: (10–15)% increased Physical Damage</li>
    <li>iLvl 31: Adds (3–4) to (5–7) Physical Damage</li>
    <li>iLvl 84: Adds (5–7) to (10–12) Physical Damage</li>
    <li>iLvl 85: (16–20)% increased Physical Damage</li>
</div>



  <div id="clawcorr"><h3>Corrupted Claw Implict
    </h3>
    <li>iLvl 1: (9–11)% chance to gain a Frenzy Charge on Kill</li>
    <li>iLvl 1: (5–7)% chance to gain a Power Charge on Critical Strike</li>
    <li>iLvl 1: (8–10)% additional Block Chance while Dual Wielding</li>
    <li>iLvl 1: +(25–30)% to Global Critical Strike Multiplier</li>
    <li>iLvl 1: Adds (6–8) to (13–15) Cold Damage</li>
    <li>iLvl 1: Adds (8–10) to (15–18) Fire Damage</li>
    <li>iLvl 1: Adds (1–2) to (27–28) Lightning Damage</li>
    <li>iLvl 1:(5–7)% increased Attack Speed</li>
    <li>iLvl 1: (14–18)% increased Critical Strike Chance</li>
    <li>iLvl 31: Adds (14–18) to (27–32) Cold Damage</li>
    <li>iLvl 31: Adds (17–22) to (33–39) Fire Damage</li>
    <li>iLvl 31: Adds (2–5) to (58–61) Lightning Damage</li>
    <li>iLvl 84: Adds (17–23) to (24–40) Cold Damage</li>
    <li>iLvl 84: Adds (21–28) to (40–48) Fire Damage</li>
    <li>iLvl 84: Adds (2–6) to (72–76) Lightning Damage</li>
  </div>
  

    <div id="daggcorr"><h3>Corrupted Dagger Implict
    </h3>
      <li>iLvl 1: (9–11)% chance to gain a Frenzy Charge on Kill</li>
    <li>iLvl 1: (5–7)% chance to gain a Power Charge on Critical Strike</li>
      <li>iLvl 1: (10–15)% chance to gain Unholy Might for 3 seconds on Kill</li>
      <li>iLvl 1: +(25–30)% to Global Critical Strike Multiplier</li>
      <li>iLvl 1: (50–60)% increased Damage over Time</li>
      <li>iLvl 1: Adds (1–2) to (3–5) Chaos Damage</li>
      <li>iLvl 1: Adds (6–8) to (13–15) Cold Damage</li>
      <li>iLvl 1: Adds (8–10) to (15–18) Fire Damage</li>
      <li>iLvl 1: Adds (1–2) to (27–28) Lightning Damage</li>
      <li>iLvl 31: Adds (6–8) to (11–13) Chaos Damage</li>
      <li>iLvl 31: Adds (14–18) to (27–32) Cold Damage</li>
      <li>iLvl 31: Adds (17–22) to (33–39) Fire Damage</li>
      <li>iLvl 31: Adds (2–5) to (58–61) Lightning Damage</li>
      <li>iLvl 84: Adds (8–11) to (19–23) Chaos Damage</li>
      <li>iLvl 84: Adds (17–23) to (24–40) Cold Damage</li>
      <li>iLvl 84: Adds (21–28) to (40–48) Fire Damage</li>
      <li>iLvl 84: Adds (2–6) to (72–76) Lightning Damage</li>
    </div>

  <div id="sceptrecorr"><h3>Corrupted Sceptre Implict
    </h3>
    <li>iLvl 1: (5–7)% chance to gain an Endurance Charge when you Stun an Enemy</li>
    <li>iLvl 1: (5–7)% chance to gain a Power Charge on Critical Strike</li>
    <li>iLvl 1: (15–20)% increased Area of Effec</li>
    <li>iLvl 1: Adds (6–8) to (13–15) Cold Damage</li>
    <li>iLvl 1: Adds (8–10) to (15–18) Fire Damage</li>
    <li>iLvl 1: Adds (1–2) to (27–28) Lightning Damage</li>
    <li>iLvl 1: (5–7)% increased Attack Speed</li>
    <li>iLvl 1: (12–15)% increased Cast Speed</li>
    <li>iLvl 1: (14–18)% increased Critical Strike Chance</li>
    <li>iLvl 31: Adds (14–18) to (27–32) Cold Damage</li>
    <li>iLvl 31: Adds (17–22) to (33–39) Fire Damage</li>
    <li>iLvl 31: Adds (2–5) to (58–61) Lightning Damage</li>
    <li>iLvl 84: Adds (17–23) to (24–40) Cold Damage</li>
    <li>iLvl 84: Adds (21–28) to (40–48) Fire Damage</li>
    <li>iLvl 84: Adds (2–6) to (72–76) Lightning Damage</li>
  </div>
  
  
  <div id="1hswordcorr"><h3>Corrupted Sword Implict
    </h3>
    <li>iLvl 1: Skills fire an additional Projectile (Thrusting Sword Only)</li>
    <li>iLvl 1: (10–15)% chance to Fortify on Melee hit</li>
    <li>iLvl 1: (10–15)% chance to gain Onslaught for 4 seconds on Kill</li>
    <li>iLvl 1: Damage Penetrates (8–10)% Elemental Resistances (Thrusting Sword Only)</li>
    <li>iLvl 1: Gain a Frenzy Charge after Spending a total of 200 Mana (Thrusting Sword Only)</li>
    <li>iLvl 1: (15–20)% increased Area of Effect</li>
    <li>iLvl 1: Adds 1 to 2 Physical Damage</li>
    <li>iLvl 1: (5–7)% increased Attack Speed</li>
    <li>iLvl 1: (14–18)% increased Critical Strike Chance (Thrusting Sword Only)</li>
    <li>iLvl 1: (10–15)% increased Physical Damage</li>
    <li>iLvl 31: Adds (3–4) to (5–7) Physical Damage</li>
    <li>iLvl 40: Resolute Technique</li>
    <li>iLvl 84: Adds (5–7) to (10–12) Physical Damage</li>
    <li>iLvl 85: (16–20)% increased Physical Damage</li>
  </div>
  
  <div id="wandcorr"><h3>Corrupted Wand Implict
    </h3>
    <li>iLvl 1: (5–7)% chance to gain a Power Charge on Critical Strike</li>
    <li>iLvl 1: (10–15)% chance to gain Unholy Might for 3 seconds on Kill</li>
    <li>iLvl 1: Damage Penetrates (8–10)% Elemental Resistances</li>
    <li>iLvl 1: (15–20)% increased Area of Effect</li>
    <li>iLvl 1: Adds (6–8) to (13–15) Cold Damage</li>
    <li>iLvl 1: Adds (8–10) to (15–18) Fire Damage</li>
    <li>iLvl 1: Adds (1–2) to (27–28) Lightning Damage</li>
    <li>iLvl 1: (3–5)% increased Attack Speed</li>
    <li>iLvl 1: (14–18)% increased Critical Strike Chance</li>
    <li>iLvl 31: Adds (14–18) to (27–32) Cold Damage</li>
    <li>iLvl 31: Adds (17–22) to (33–39) Fire Damage</li>
    <li>iLvl 31: Adds (2–5) to (58–61) Lightning Damage</li>
    <li>iLvl 84: Adds (17–23) to (24–40) Cold Damage</li>
    <li>iLvl 84: Adds (21–28) to (40–48) Fire Damage</li>
    <li>iLvl 84: Adds (2–6) to (72–76) Lightning Damage</li>
  </div>
  
  
<div id="1hmacecorr"><h3>Corrupted One Hand Mace Implict
  </h3>
  <li>iLvl 1: (5–7)% chance to gain an Endurance Charge when you Stun an Enemy</li>
  <li>iLvl 1: (10–15)% chance to Fortify on Melee hit</li>
  <li>iLvl 1: (10–15)% chance to gain Onslaught for 4 seconds on Kill</li>
  <li>iLvl 1: (15–20)% increased Area of Effect</li>
  <li>iLvl 1: Adds 1 to 2 Physical Damage</li>
  <li>iLvl 1: (5–7)% increased Attack Speed</li>
  <li>iLvl 1: (10–15)% increased Physical Damage</li>
  <li>iLvl 31: Adds (3–4) to (5–7) Physical Damage</li>
  <li>iLvl 84: Adds (5–7) to (10–12) Physical Damage</li>
  <li>iLvl 85: (16–20)% increased Physical Damage</li>
</div>
  
  
  
<div id="2haxecorr"><h3>Corrupted Two Hand Axe Implict
  </h3>
  <li>iLvl 1: 20% chance to cause Bleeding on Hit
(30–40)% increased Attack Damage against Bleeding Enemies</li>
  <li>iLvl 1: (25–30)% increased Area of Effect</li>
  <li>iLvl 1: Adds 1 to (2–3) Physical Damage</li>
  <li>iLvl 1: (10–15)% increased Physical Damage</li>
  <li>iLvl 1: +(1–2) to Weapon range</li>
  <li>iLvl 1: Socketed Gems are Supported by Level 1 Blood Magic</li>
  <li>iLvl 1: Socketed Gems are Supported by Level 10 Fortify</li>
  <li>iLvl 1: Socketed Gems are Supported by Level 10 Life Gain On Hit</li>
  <li>iLvl 1: Socketed Gems are Supported by Level 10 Onslaught</li>
  <li>iLvl 1: Socketed Gems are Supported by Level 10 Reduced Mana</li>
  <li>iLvl 31: Adds (4–5) to (6–8) Physical Damage</li>
  <li>iLvl 70: (5–7)% increased Attack Speed</li>
  <li>iLvl 84: Adds (8–9) to (11–13) Physical Damage</li>
  <li>iLvl 85: (16–20)% increased Physical Damage</li>
</div>

<div id="bowcorr"><h3>Corrupted Bow Implict
  </h3>
  <li>iLvl 1: (9–11)% chance to gain a Frenzy Charge on Kill</li>
  <li>iLvl 1: Adds (8–11) to (17–20) Cold Damage</li>
  <li>iLvl 1: Adds (10–15) to (20–23) Fire Damage</li>
  <li>iLvl 1: Adds (2–3) to (30–34) Lightning Damage</li>
  <li>iLvl 1: Adds 1 to (2–3) Physical Damage</li>
  <li>iLvl 1: (3–5)% increased Attack Speed</li>
  <li>iLvl 1: (14–18)% increased Critical Strike Chance</li>
  <li>iLvl 1: (10–15)% increased Physical Damage</li>
  <li>iLvl 1: Socketed Gems are supported by Level 10 Blind</li>
     <li>iLvl 1: Socketed Gems are supported by Level 10 Faster Projectiles</li>
    <li>iLvl 1: Socketed Gems are Supported by Level 10 Onslaught</li>
    <li>iLvl 31: Adds (19–23) to (31–38) Cold Damage</li>
    <li>iLvl 31: Adds (23–27) to (34–43) Fire Damage</li>
    <li>iLvl 31: Adds (3–6) to (63–72) Lightning Damage</li>
    <li>iLvl 31: Adds (4–5) to (6–8) Physical Damage</li>
    <li>iLvl 75: Bow Attacks fire an additional Arrow</li>
    <li>iLvl 84: Adds (22–28) to (39–47) Cold Damage</li>
    <li>iLvl 84: Adds (27–34) to (45–53) Fire Damage</li>
    <li>iLvl 84: Adds (4–8) to (89–92) Lightning Damage</li>
    <li>iLvl 84: Adds (8–9) to (11–13) Physical Damage</li>
    <li>iLvl 85: (16–20)% increased Physical Damage</li>
</div>

<div id="2hmacecorr"><h3>Corrupted Two Hand Mace Implict
  </h3>
  <li>iLvl 1: (5–7)% chance to gain an Endurance Charge when you Stun an Enemy</li>
  <li>iLvl 1: (25–30)% increased Area of Effect</li>
  <li>iLvl 1: Adds 1 to (2–3) Physical Damage</li>
  <li>iLvl 1: (10–15)% increased Physical Damage</li>
  <li>iLvl 1: Socketed Gems are Supported by Level 10 Fortify</li>
  <li>iLvl 1: Socketed Gems are Supported by Level 10 Onslaught</li>
  <li>iLvl 1: Socketed Gems are Supported by Level 10 Reduced Mana</li>
     <li>iLvl 31: Adds (4–5) to (6–8) Physical Damage</li>
    <li>iLvl 70: (5–7)% increased Attack Speed</li>
    <li>iLvl 84: Adds (8–9) to (11–13) Physical Damage</li>
    <li>iLvl 85: (16–20)% increased Physical Damage</li>
</div>

<div id="staffcorr"><h3>Corrupted Staff Implict
  </h3>
  <li>iLvl 1: (5–7)% chance to gain an Endurance Charge when you Stun an Enemy</li>
  <li>iLvl 1: (5–7)% chance to gain a Power Charge on Critical Strike</li>
  <li>iLvl 1: (25–30)% increased Area of Effect</li>
  <li>iLvl 1: Adds (8–11) to (17–20) Cold Damage</li>
  <li>iLvl 1: Adds (10–15) to (20–23) Fire Damage</li>
  <li>iLvl 1: Adds (2–3) to (30–34) Lightning Damage</li>
  <li>iLvl 1: (12–15)% increased Cast Speed</li>
  <li>iLvl 1: (14–18)% increased Critical Strike Chance</li>
  <li>iLvl 31: 	Adds (19–23) to (31–38) Cold Damage</li>
     <li>iLvl 31: Adds (23–27) to (34–43) Fire Damage</li>
    <li>iLvl 31: Adds (3–6) to (63–72) Lightning Damage</li>
    <li>iLvl 70: (5–7)% increased Attack Speed</li>
    <li>iLvl 84: Adds (22–28) to (39–47) Cold Damage</li>
    <li>iLvl 84: Adds (27–34) to (45–53) Fire Damage</li>
    <li>iLvl 84: Adds (4–8) to (89–92) Lightning Damage</li>
</div>

<div id="2hswordcorr"><h3>Corrupted Two Hand Sword Implict
  </h3>
  <li>iLvl 1: (25–30)% increased Area of Effect</li>
  <li>iLvl 1: Adds 1 to (2–3) Physical Damage</li>
  <li>iLvl 1: (10–15)% increased Physical Damage</li>
  <li>iLvl 1: Socketed Gems are supported by Level 10 Additional Accuracy</li>
  <li>iLvl 1: Socketed Gems are Supported by Level 10 Fortify</li>
  <li>iLvl 1: Socketed Gems are Supported by Level 10 Onslaught</li>
  <li>iLvl 31: Adds (4–5) to (6–8) Physical Damage</li>
  <li>iLvl 40: Resolute Technique</li>
     <li>iLvl 70: (5–7)% increased Attack Speed</li>
    <li>iLvl 84: Adds (8–9) to (11–13) Physical Damage</li>
</div>

<div id="chestcorr">
  <h3>Corrupted Chest Implict
    </h3>
  <li>iLvl 1: (3–5)% additional Physical Damage Reduction while stationary</li>
  <li>iLvl 1: +1 to Level of Socketed Gems</li>
  <li>iLvl 1: (40–50)% increased Damage</li>
  <li>iLvl 1: (4–6)% increased maximum Life</li>
  <li>iLvl 1: (4–6)% increased maximum Energy Shield</li>
  <li>iLvl 20: You take 50% reduced Extra Damage from Critical Strikes</li>
  <li>iLvl 20: +2 to Level of Socketed Duration Gems</li>
  <li>iLvl 20: +2 to Level of Socketed AoE Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Aura Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Curse Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Trap or Mine Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Warcry Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Projectile Gems</li>
  <li>iLvl 45: (4–6)% reduced Chaos Damage taken</li>
  <li>iLvl 45: (4–6)% reduced Cold Damage taken</li>
  <li>iLvl 45: (4–6)% reduced Fire Damage taken</li>
  <li>iLvl 45: (4–6)% reduced Lightning Damage taken</li>
  <li>iLvl 80: +1% to all maximum Resistances</li>
</div>

<div id="helmcorr"><h3>Corrupted Helmet Implict
  </h3>
  <li>iLvl 1: Cannot be Blinded</li>
  <li>iLvl 1: (1.6–2)% of Life Regenerated per second</li>
  <li>iLvl 1: +2 to Level of Socketed Cold Gems	</li>
  <li>iLvl 1: +2 to Level of Socketed Fire Gems</li>
  <li>iLvl 1: +2 to Level of Socketed Lightning Gems</li>
  <li>iLvl 1: Socketed Skill Gems get a 90% Mana Multiplier</li>
  <li>iLvl 1: (4–6)% increased maximum Life</li>
  <li>iLvl 1: (4–6)% increased maximum Energy Shield</li>
  <li>iLvl 20: +2 to Level of Socketed Duration Gems</li>
  <li>iLvl 20: +2 to Level of Socketed AoE Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Aura Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Curse Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Trap or Mine Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Warcry Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Projectile Gems</li>
  <li>iLvl 40: (30–40)% increased Burning Damage</li>
  <li>iLvl 40: (25–30)% increased Effect of Chill</li>
  <li>iLvl 40: (25–30)% increased Effect of Shock</li>
  <li>iLvl 50: 0.5% of Cold Damage Leeched as Life</li>
  <li>iLvl 50: 0.5% of Fire Damage Leeched as Life</li>
  <li>iLvl 50: 0.5% of Lightning Damage Leeched as Life</li>
  <li>iLvl 60: +1 to Maximum Power Charges</li>
</div>

<div id="corrgloves"><h3>Corrupted Gloves Implict
  </h3>
  <li>iLvl 1: +1 to Level of Socketed Gems</li>
  <li>iLvl 1: (8–10)% increased Attack Speed</li>
  <li>iLvl 1: (8–10)% increased Cast Speed</li>
  <li>iLvl 1: (4–6)% increased maximum Life</li>
  <li>iLvl 1: (4–6)% increased maximum Energy Shield</li>
  <li>iLvl 20: +2 to Level of Socketed Duration Gems</li>
  <li>iLvl 20: +2 to Level of Socketed AoE Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Aura Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Curse Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Trap or Mine Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Warcry Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Projectile Gems</li>
  <li>iLvl 30: Curse Enemies with Level (10–12) Despair on Hit</li>
  <li>iLvl 30: Curse Enemies with Level (10–12) Elemental Weakness on Hit</li>
  <li>iLvl 30: Curse Enemies with Level (10–12) Enfeeble on Hit</li>
  <li>iLvl 30: Curse Enemies with Level (10–12) Temporal Chains on Hit</li>
  <li>iLvl 30: Curse Enemies with Level (10–12) Vulnerability on Hit</li>
  <li>iLvl 60: Attacks have +(0.5–0.8)% to Critical Strike Chance</li>
  <li>iLvl 60: Spells have +(0.5–0.8)% to Critical Strike Chance</li>
  <li>iLvl 60: +1 to Maximum Frenzy Charges</li>
</div>

<div id="corrboots"><h3>Corrupted Boots Implict
  </h3>
  <li>iLvl 1: +(35–60) Armour while stationary</li>
  <li>iLvl 1: +(35–60) to Global Evasion Rating while moving</li>
  <li>iLvl 1: (4–6)% chance to Dodge Attack Hits</li>
  <li>iLvl 1: (4–6)% chance to Dodge Spell Hits</li>
  <li>iLvl 1: +1 to Level of Socketed Gems</li>
  <li>iLvl 1: (8–10)% increased Movement Speed</li>
  <li>iLvl 1: (4–6)% increased maximum Life</li>
  <li>iLvl 1: (4–6)% increased maximum Energy Shield</li>
  <li>iLvl 20: +2 to Level of Socketed Duration Gems</li>
  <li>iLvl 20: +2 to Level of Socketed AoE Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Aura Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Curse Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Trap or Mine Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Warcry Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Projectile Gems</li>
  <li>iLvl 31: +(61–138) Armour while stationary</li>
  <li>iLvl 31: +(61–138) to Global Evasion Rating while moving</li>
  <li>iLvl 56: Grants Level 21 Haste Skill</li>
  <li>iLvl 60: (6–10)% chance to Dodge Attack Hits while moving</li>
  <li>iLvl 60: (6–10)% chance to Dodge Spell Hits while moving</li>
  <li>iLvl 60: +1 to Maximum Endurance Charges</li>
  <li>iLvl 60: 100 Life Regenerated per second while moving</li>
  <li>iLvl 75: +(139–322) Armour while stationary</li>
  <li>iLvl 75: +(139–322) to Global Evasion Rating while moving</li>
</div>

<div id="corrshield"><h3>Corrupted Shield Implict
  </h3>
  <li>iLvl 1: +1 to Level of Socketed Gems</li>
  <li>iLvl 1: +(4–5)% Chance to Block</li>
  <li>iLvl 1: (20–25)% of Block Chance applied to Spells</li>
  <li>iLvl 1: (4–6)% increased maximum Life</li>
  <li>iLvl 1: (4–6)% increased maximum Energy Shield</li>
  <li>iLvl 20: (4–6)% reduced Area Damage taken from Hits</li>
  <li>iLvl 20: (4–6)% reduced Damage taken from Projectiles</li>
  <li>iLvl 20: You take (20–30)% reduced Extra Damage from Critical Strikes</li>
  <li>iLvl 20: +2 to Level of Socketed Duration Gems</li>
  <li>iLvl 20: +2 to Level of Socketed AoE Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Aura Gems	</li>
  <li>iLvl 20: +2 to Level of Socketed Curse Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Trap or Mine Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Warcry Gems</li>
  <li>iLvl 20: +2 to Level of Socketed Projectile Gems</li>
  <li>iLvl 56: Grants Level 23 Determination Skill</li>
  <li>iLvl 56: Grants Level 23 Discipline Skill</li>
  <li>iLvl 56: Grants Level 23 Grace Skill</li>
  <li>iLvl 60: +1% to maximum Block Chance</li>
  <li>iLvl 60: (6–8)% of Physical Damage from Hits taken as Cold Damage</li>
  <li>iLvl 60: (6–8)% of Physical Damage from Hits taken as Fire Damage</li>
  <li>iLvl 60: (6–8)% of Physical Damage from Hits taken as Lightning Damage</li>
  <li>iLvl 60: (6–8)% of Physical Damage from Hits taken as Chaos Damage</li>
</div>

<div id="corrammy"><h3>Corrupted Amulet Implict
  </h3>
  <li>iLvl 1: (8–10)% increased Attack Speed</li>
  <li>iLvl 1: (4–5)% Chance to Block</li>
  <li>iLvl 1: (8–10)% increased Movement Speed</li>
  <li>iLvl 1: (20–25)% of Block Chance applied to Spells</li>
  <li>iLvl 1: (20–24)% increased Elemental Damage with Attack Skills</li>
  <li>iLvl 1: (4–6)% increased Intelligence / (4–6)% increased Dexterity</li>  
  <li>iLvl 1: (4–6)% increased Dexterity / (4–6)% increased Strength</li>
  <li>iLvl 1: (4–6)% increased Strength / (4–6)% increased Intelligence</li>
  <li>iLvl 1: +(14–16)% to all Elemental Resistances</li>
  <li>iLvl 45: Wrath has (15–20)% increased Aura Effect</li>
  <li>iLvl 45: Anger has (15–20)% increased Aura Effect</li>
  <li>iLvl 45: Hatred has (15–20)% increased Aura Effect</li>
  <li>iLvl 45: Determination has (15–20)% increased Aura Effect</li>
  <li>iLvl 45: Discipline has (15–20)% increased Aura Effect</li>
  <li>iLvl 45: Grace has (15–20)% increased Aura Effect</li>
  <li>iLvl 50: 0.5% of Cold Damage Leeched as Life</li>
  <li>iLvl 50: 0.5% of Fire Damage Leeched as Life</li>
  <li>iLvl 50: 0.5% of Lightning Damage Leeched as Life</li>
  <li>iLvl 56: Grants Level 21 Clarity Skill</li>
  <li>iLvl 56: Grants Level 23 Purity of Fire Skill</li>
  <li>iLvl 56: Grants Level 23 Purity of Ice Skill</li>
  <li>iLvl 56: Grants Level 23 Purity of Lightning Skill</li>
  <li>iLvl 56: Grants Level 21 Purity of Elements Skill</li>
  <li>iLvl 60: Enemies can have 1 additional Curse</li>
  <li>iLvl 60: (20–30)% increased Rarity of Items found</li>
  <li>iLvl 80: +1% to all maximum Resistances</li>
  <li>iLvl 84: (3–5)% increased Quantity of Items found</li>
</div>

<div id="corrbelt"><h3>Corrupted Belt Implict
  </h3>
  <li>iLvl 1: (8–10)% increased Area of Effect</li>  
  <li>iLvl 1: (35–40)% increased Critical Strike Chance during any Flask Effect</li>
  <li>iLvl 1: (12–15)% increased Skill Effect Duration</li>
  <li>iLvl 1: (8–10)% increased maximum Energy Shield</li>
  <li>iLvl 1: (6–8)% increased maximum Life</li>
  <li>iLvl 1: (4–6)% increased Intelligence / (4–6)% increased Dexterity</li>  
  <li>iLvl 1: (4–6)% increased Dexterity / (4–6)% increased Strength</li>
  <li>iLvl 1: (4–6)% increased Strength / (4–6)% increased Intelligence</li>
  <li>iLvl 1: +(14–16)% to all Elemental Resistances</li>
  <li>iLvl 45: Wrath has (15–20)% increased Aura Effect</li>
  <li>iLvl 45: Anger has (15–20)% increased Aura Effect</li>
  <li>iLvl 45: Hatred has (15–20)% increased Aura Effect</li>
  <li>iLvl 45: Determination has (15–20)% increased Aura Effect</li>
  <li>iLvl 45: Discipline has (15–20)% increased Aura Effect</li>
  <li>iLvl 45: Grace has (15–20)% increased Aura Effect</li>
  <li>iLvl 60: +(20–25)% to Critical Strike Multiplier during any Flask Effect</li>
  <li>iLvl 60: (8–12)% increased Attack Speed during any Flask Effect</li>
  <li>iLvl 60: (8–12)% increased Cast Speed during any Flask Effect</li>
  <li>iLvl 60: (8–12)% increased Movement Speed during any Flask Effect</li>
  <li>iLvl 60: (20–30)% increased Rarity of Items found</li>
  <li>iLvl 84: (3–5)% increased Quantity of Items found</li>
</div>

<div id="corrquiv"><h3>Corrupted Quiver Implict
  </h3>
  <li>iLvl 1: Adds (6–8) to (13–15) Cold Damage to Bow Attacks</li>
  <li>iLvl 1: Adds (8–10) to (15–18) Fire Damage to Bow Attacks</li>
  <li>iLvl 1: Adds (1–2) to (27–28) Lightning Damage to Bow Attacks</li>
  <li>iLvl 1: Gain (8–12)% of Physical Damage as Extra Cold Damage</li>
  <li>iLvl 1: Gain (8–12)% of Physical Damage as Extra Fire Damage</li>
  <li>iLvl 1: Gain (8–12)% of Physical Damage as Extra Lightning Damage</li>
  <li>iLvl 1: Point Blank</li>
  <li>iLvl 31: Adds (14–18) to (27–32) Cold Damage to Bow Attacks</li>
  <li>iLvl 31: Adds (17–22) to (33–39) Fire Damage to Bow Attacks</li>
  <li>iLvl 31: Adds (2–5) to (58–61) Lightning Damage to Bow Attacks</li>
  <li>iLvl 40: Projectiles deal (20–25)% increased Damage for each time they have Chained</li>
  <li>iLvl 40: Projectiles deal (8–10)% increased Damage for each Enemy Pierced</li>
  <li>iLvl 50: 0.5% of Cold Damage Leeched as Life</li>
  <li>iLvl 50: 0.5% of Fire Damage Leeched as Life</li>
  <li>iLvl 50: 0.5% of Lightning Damage Leeched as Life</li>
  <li>iLvl 75: Adds (21–25) to (39–44) Cold Damage to Bow Attacks</li>
  <li>iLvl 75: Adds (21–28) to (42–49) Fire Damage to Bow Attacks</li>
  <li>iLvl 75: Adds (2–6) to (72–76) Lightning Damage to Bow Attacks</li>
  <li>iLvl 75: Bow Attacks fire an additional Arrow</li>
  <li>iLvl 80: Skills Chain +1 times</li>
</div>

<div id="corrring"><h3>Corrupted Ring Implict
  </h3>
  <li>iLvl 1: Adds (3–4) to (7–8) Cold Damage to Spells and Attacks</li>
  <li>iLvl 1: Adds (3–5) to (7–8) Fire Damage to Spells and Attacks</li>
  <li>iLvl 1: Adds 1 to (14–15) Lightning Damage to Spells and Attacks</li>
  <li>iLvl 1: (8–10)% increased Attack Speed</li>
  <li>iLvl 1: (8–10)% increased Cast Speed</li>
  <li>iLvl 1: (15–25)% increased Global Physical Damage</li>
  <li>iLvl 1: (4–6)% increased Intelligence / (4–6)% increased Dexterity</li>  
  <li>iLvl 1: (4–6)% increased Dexterity / (4–6)% increased Strength</li>
  <li>iLvl 1: (4–6)% increased Strength / (4–6)% increased Intelligence</li>
  <li>iLvl 1: +(14–16)% to all Elemental Resistances</li>
  <li>iLvl 31: Adds (6–9) to (13–16) Cold Damage to Spells and Attacks</li>
  <li>iLvl 31: Adds (7–10) to (15–18) Fire Damage to Spells and Attacks</li>
  <li>iLvl 31: Adds (1–2) to (27–28) Lightning Damage to Spells and Attacks</li>
  <li>iLvl 40: +(4–6) Mana gained for each Enemy hit by your Attacks</li>  
  <li>iLvl 45: Grants Level 21 Wrath Skill</li>
  <li>iLvl 45: Wrath has (15–20)% increased Aura Effect</li>
  <li>iLvl 45: Anger has (15–20)% increased Aura Effect</li>
  <li>iLvl 45: Hatred has (15–20)% increased Aura Effect</li>
  <li>iLvl 45: Determination has (15–20)% increased Aura Effect</li>
  <li>iLvl 45: Discipline has (15–20)% increased Aura Effect</li>
  <li>iLvl 45: Grace has (15–20)% increased Aura Effect</li>
  <li>iLvl 56: Grants Level 21 Anger Skill</li>
  <li>iLvl 56: Grants Level 23 Conductivity Skill</li>
  <li>iLvl 56: Grants Level 23 Despair Skill</li>
  <li>iLvl 56: Grants Level 23 Flammability Skill</li>
  <li>iLvl 56: Grants Level 23 Frostbite Skill</li>
  <li>iLvl 56: Grants Level 21 Hatred Skill</li>
  <li>iLvl 60: Cannot be Ignited</li>
  <li>iLvl 60: Cannot be Poisoned</li>
  <li>iLvl 60: (20–30)% increased Rarity of Items found</li>
  <li>iLvl 81: Adds (12–16) to (24–28) Cold Damage to Spells and Attacks</li>
  <li>iLvl 82: Adds (13–18) to (28–33) Fire Damage to Spells and Attacks</li>
  <li>iLvl 83: Adds (1–5) to (50–52) Lightning Damage to Spells and Attacks</li>
  <li>iLvl 84: (3–5)% increased Quantity of Items found</li>
  <li>iLvl 85: Bleeding cannot be inflicted on you</li>
</div>

<div id="corrjew"><h3>Corrupted Jewel Implict
  </h3>
  <li>iLvl 1: (5–7)% increased Effect of non-Damaging Ailments on Enemies</li>
  <li>iLvl 1: (4–5)% increased Area of Effect</li>
  <li>iLvl 1: (8–10)% increased Global Critical Strike Chance</li>
  <li>iLvl 1: (4–5)% increased Damage</li>
  <li>iLvl 1: Minions deal (4–5)% increased Damage</li>
  <li>iLvl 1: 1% reduced Mana Reserved</li>
  <li>iLvl 1: 5 to 10 % increased Vaal Skill Damage</li>
  <li>iLvl 33: Corrupted Blood cannot be inflicted on you</li>
  <li>iLvl 40: You cannot be Hindered</li>
  <li>iLvl 40: ou cannot be Maimed</li>
  <li>iLvl 60: You cannot be Cursed with Silence</li>
</div>

<div id="fishcorr"><h3>Corrupted Fishing Rod Implict
  </h3>
  <li>iLvl 1: You can catch Corrupted Fish</li>
  <li>iLvl 1: 10 to 20% increased Cast Speed</li>
  <li>iLvl 1: 5 to 10% increased Rarity of Fish Caught</li>
  <li>iLvl 1: 5 to 10% increased Quantity of Fish Caught</li>
  <li>iLvl 1: +1 to 2 to Weapon range</li>
  <li>iLvl 1: Adds 1 to 2 / 3 to 5 Chaos Damage</li>
  <li>iLvl 1: 5% Chance to Cause Monsters to Flee</li>
  <li>iLvl 1: 0.2% of Lightning Damage Leeched as Life</li>
  <li>iLvl 1: 0.2% of Cold Damage Leeched as Life</li>
  <li>iLvl 1: 0.2% of Fire Damage Leeched as Life</li>
  <li>iLvl 20: +1 Maximum Power Charge</li>
  <li>iLvl 20: Adds 6 to 8 / 11 to 13 Chaos Damage</li>
  <li>iLvl 40: Adds 8 to 11 / 19 to 23 Chaos Damage</li>
</div>
</ul>
</body>
</html>
