<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>



<!--#% increased Physical Damage-->
<div id="crimsonp"><strong>Physical Damage +% with Maces</strong>
  
    <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (Brutal)</li>
    </ol>  
  <strong>Physical Damage +% with Axes</strong>
  
    <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (Sinister)</li>
    </ol> 
  <strong>Physical Damage +% with Swords</strong>
  
    <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (Vicious)</li>
    </ol>
  <strong>Physical Damage +% with Staves</strong>
  
    <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (Judging)</li>
    </ol>
  <strong>Physical Damage +% while Unarmed</strong>
  
    <ol style='margin-top:0in' type=disc><li>iLvl 1:  8 to 16 (Brawling)</li>
    </ol>
  <strong>Physical Damage +% with One Handed Melee Weapons</strong>
  
    <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (Fighter's)</li>
    </ol>
  <strong>Physical Damage +% with Two Handed Melee Weapons</strong>
  
    <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (Champion's)</li>
    </ol>
  <strong>Physical Damage +% while Dual Wielding</strong>
  
    <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (Gladiator's)</li>
    </ol> 


<!--#% increased Attack Speed-->
<strong>Attack Speed +% with Maces</strong>
  
    <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (Beating)</li>
    </ol>
  <strong>Attack Speed +% with Axes</strong>
  
    <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (Cleaving)</li>
    </ol>
  <strong>Attack Speed +% with Swords</strong>
  
    <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (Fencing)</li>
    </ol>
  <strong>Attack Speed +% with Staves</strong>
  
    <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (Bludgeoning)</li>
    </ol>


<!--+# to maximum Life-->
<strong>Base +Max Life</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 12 (Healthy)</li>
     </ol>     
   

<!--#% increased maximum Life-->
<strong>Max Life +%</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 3 to 5 (Spirited)</li>
     </ol>

<!--+# to maximum Mana-->
<strong>Base +Max Mana</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 12 (Learned)</li>
     </ol>

<!--#% increased maximum Mana-->
<strong>Max Mana +%</strong>

       <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (Enlightened)</li>
     </ol> 

<!--+# to maximum Life and Mana-->
<strong>Base +Max Life and Mana</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 6 / 4 to 6 (Determined)</li>
     </ol>

<!--#% increased maximum Life and Mana-->
<strong>Max Life and Mana+%</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 2 to 4 / 4 to 6 (Passionate)</li>
     </ol>

<!--#% increased maximum Life and Energy Shield-->
<strong>Max Life and Energy Shield +%</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 2 to 4 / 2 to 4 (Faithful)</li>
     </ol>

<!--#% of Physical Attack Damage Leeched as Life-->
<strong>Life Leech from Physical Attk Dmg %</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 1 to 2 (Hungering)</li>
     </ol>

<!--#% increased Armour-->
<strong>Armour +%</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (Armoured)</li>
     </ol>

<!--#% increased Armour and Evasion-->
<strong>Armour and Evasion +%</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 / 6 to 12 (Fighter's)</li>
     </ol>

<!--#% increased Armour and Energy Shield-->
<strong>Armour and Energy Shield +%</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 / 4 to 6 (Paladin's)</li>
     </ol>

<!--#% increased Global Defenses-->
<strong>Global Defenses +%</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (Defensive)</li>
     </ol>

<!--#% increased Critical Strike Chance with Melee weapons-->
<strong>Melee Critical Strike Chance +%</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (Duelist's)</li>
     </ol>

<!--#% increased Critical Strike Multiplier with Melee weapons-->
<strong>Melee Critical Strike Multiplier +%</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (Demolishing)</li>
     </ol>

<!--#% decreased Mana Cost of Skills-->
<strong>-% Mana Cost of Skills</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 3 to 5 (Dynamic)</li>
     </ol>

<!--#% increased Radius of Auras-->
<strong>+% Radius of Auras</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (Hero's)</li>
     </ol>

<!--#% chance to Avoid being Ignited-->
<strong>+% Chance to Avoid being Ignited</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 2 to 5 (Dousing)</li>
     </ol>

<!--#% chance to Ignite-->
<strong>+% Chance to Ignite</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 2 to 3 (Sparking)</li>
     </ol>  

<!--#% increased Ignite Duration on enemies-->
<strong>+% Ignite Duration on Enemies</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 2 to 4 (Immolating)</li>
     </ol>

<!--#% increased Endurance Charge Duration-->
<strong>Endurance Charge Duration +%</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (Enduring)</li>
     </ol>

<!--#% chance to Knock Enemies Back on hit-->
<strong>+% Chance to Knock Enemies Back on Hit</strong>
     
       <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (Fending)</li>
     </ol>

<!--#% increased Chance to Block-->
<strong>+% Chance to Block with Shields</strong>
  
    <ol style='margin-top:0in' type=disc><li>iLvl 1: 2 (Shielding)</li>
    </ol>
  
  <strong>+% Chance to Block with Staves</strong>
  
    <ol style='margin-top:0in' type=disc><li>iLvl 1: 2 (Halting)</li>
    </ol>
  
  <strong>+% Chance to Block</strong>
  
    <ol style='margin-top:0in' type=disc><li>iLvl 1: 2 (Deflecting)</li>
    </ol>    
</div>




<!--suffix-->





<div id="crims">
  <!--#% increased Melee Damage-->
  
    <strong>Melee Damage +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (of Combat)</li>     
     
  </ol>
  
  <!--#% increased Damage-->
  
    <strong>Damage +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (of Wounding)</li>     
     
  </ol>
  
  <!--#% increased Physical Damage-->
  
    <strong>Physical Damage +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Stone)</li>     
     
  </ol>
  
  <!--#% increased Fire Damage-->
  
    <strong>Fire Damage +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Fire)</li>     
     
  </ol>
  
  
  <!--#% increased Cold Damage-->
  
    <strong>Cold Damage +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Ice)</li>     
     
  </ol>
  
  <!--#% increased Lightning Damage-->
  
    <strong>Lightning Damage +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Lightning)</li>     
     
  </ol>
  
  <!--#% increased Area Damage-->
  
    <strong>Area Damage +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (of Blasting) </li>     
     
  </ol>
  
  <!--#% increased Attack Speed with One Hand Melee Weapons-->
  
    <strong>Attack Speed +% with One Hand Melee Weapons</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 6 (of the Soldier)</li>     
     
  </ol>
  
  <!--#% increased Attack Speed with Two Hand Melee Weapons-->
  
    <strong>Attack Speed +% with Two Hand Melee Weapons</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 6 (of the Warrior)</li>     
     
  </ol>
  
  <!--#% increased Attack Speed while Dual Wielding-->
  
    <strong>Attack Speed +% while Dual Wielding</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 6 (of Harmony)</li>     
     
  </ol>
  
  <!--#% increased Attack Speed while Holding a Shield-->
  
    <strong>Attack Speed +% while Holding a Shield</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 6 (of Defence)</li>     
     
  </ol>
  
  <!--#% increased Cast Speed while holding a Shield-->
  
    <strong>Cast Speed +% while holding a Shield</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 3 to 5 (of Warding)</li>     
     
  </ol>
  
  <!--#% increased Cast Speed while wielding a Staff-->
  
    <strong>Cast Speed +% while wielding a Staff</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 3 to 5 (of Warding)</li>     
     
  </ol>
  
  <!--#% increased Attack Speed while Unarmed-->
  
    <strong>Attack Speed +% while Unarmed</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (of Fury) </li>     
     
  </ol>
  
  <!--#% increased Attack Speed-->
  
   <strong>Attack Speed +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 3 to 5 (of Berserking)</li>     
     
  </ol>
  
  <!--#% increased Melee Physical Damage while holding a Shield-->
  
    <strong>Melee Physical Dmg +% while holding a Shield</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (of the Phalanx)</li>     
     
  </ol>
  
  <!--+# to Strength-->
  
    <strong>Additional Strength</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 10 to 16 (of Strength)</li>     
     
  </ol>
  
  <!--+# to Strength and Dexterity-->
  
    <strong>Additional Strength and Dexterity</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 10 (of Athletics)</li>     
     
  </ol>
  
  <!--+# to Strength and Intelligence-->
  
    <strong>Additional Strength and Intelligence</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 10 (of Spirit)</li>     
     
  </ol>
  
  <!--+# to All Attributes-->
  
    <strong>Additional All Attributes</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (of Adaption)</li>     
     
  </ol>
  
  <!--+# Life gained for each Enemy hit by your Attacks-->
  
    <strong>+ Life Gained on Hit by Attacks</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 1 to 2 (of Rejuvenation)</li>     
     
  </ol>
  
  <!--+# Mana gained for each Enemy hit by your Attacks-->
  
    <strong>+ Mana Gained on Hit by Attacks</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 1 to 2 (of Absorbtion)</li>     
     
  </ol>
  
  <!--#% increased Rarity of Items found-->
  
    <strong>Item Found Rarity +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 3 to 6 (of Raiding)</li>     
     
  </ol>
  
  <!--#% increased Critical Strike Chance-->
  
    <strong>Critical Strike Chance +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (of Menace)</li>     
     
  </ol>
  
  <!--#% increased Critical Strike Multiplier-->
  
    <strong>Critical Strike Multiplier +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (of Potency)</li>     
     
  </ol>
  
  <!--#% increased Critical Strike Chance with Maces-->
  
    <strong>+% Critical Strike Chance with Maces</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 10 to 20 (of Striking)</li>     
     
  </ol>
  
  <!--#% increased Critical Strike Chance with Axes-->
  
    <strong>+% Critical Strike Chance with Axes</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 10 to 20 (of Biting)</li>     
     
  </ol>
  
  <!--#% increased Critical Strike Chance with Swords-->
  
    <strong>+% Critical Strike Chance with Swords</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 10 to 20 (of Stinging)</li>     
     
  </ol>
  
  <!--#% increased Critical Strike Chance with Staves-->
  
    <strong>+% Critical Strike Chance with Staves</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 10 to 20 (of Tyranny)</li>     
     
  </ol>
  
  <!--#% increased Critical Strike Chance with One Hand Melee Weapons-->
  
    <strong>+% Critical Strike Chance with One Hand Melee Weapons</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Harm)</li>     
     
  </ol>
  
  <!--#% increased Critical Strike Chance while holding a Shield-->
  
    <strong>+% Critical Strike Chance while holding a Shield</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Tactics)</li>     
     
  </ol>
  
  <!--#% increased Critical Strike Multiplier with Maces-->
  
    <strong>+% Critical Strike Multiplier with Maces</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (of Crushing)</li>     
     
  </ol>
  
  <!--#% increased Critical Strike Multiplier with Axes-->
  
    <strong>+% Critical Strike Multiplier with Axes</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (of Execution)</li>     
     
  </ol>
  
  <!--#% increased Critical Strike Multiplier with Swords-->
  
    <strong>+% Critical Strike Multiplier with Swords</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (of Severing)</li>     
     
  </ol>
  
  <!--#% increased Critical Strike Multiplier with One Hand Melee Weapons-->
  
    <strong>+% Critical Strike Multiplier with One Hand Melee Weapons</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (of Piercing)</li>     
     
  </ol>
  
  <!--#% increased Critical Strike Multiplier with Two Hand Melee Weapons-->
  
    <strong>+% Critical Strike Multiplier with Two Hand Melee Weapons</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (of Rupturing) </li>     
     
  </ol>
  
  <!--#% increased Critical Strike Multiplier while Dual Wielding-->
  
    <strong>+% Critical Strike Multiplier while Dual Wielding Weapons</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 10 (of Puncturing)</li>     
     
  </ol>
  
  <!--#% increased Fire Resistance-->
  
    <strong>Fire Resistance+%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Cooling)</li>     
     
  </ol>
  
  
  <!--#% increased Cold Resistance-->
  
    <strong>Cold Resistance+%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Warmth)</li>     
     
  </ol>
  
  
  <!--#% increased Lightning Resistance-->
  
    <strong>Lightning Resistance+%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of Grounding)</li>     
     
  </ol>
  
  <!--#% increased Fire and Cold Resistances-->
  
    <strong>Fire and Cold Resistance+%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 9 (of the Hearth)</li>     
     
  </ol>
  
  
  <!--#% increased Fire and Lightning Resistances-->
  
    <strong>Fire and Lightning Resistance+%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 9 (of Insulation)</li>     
     
  </ol>
  
  
  <!--#% increased Cold and Lightning Resistances-->
  
    <strong>Cold and Lightning Resistance+%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 5 to 9 (of Shelter)</li>     
     
  </ol>
  
  
  <!--#% increased All Elements Resistances-->
  
    <strong>All Elements Resistance +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 7 (of Resistance)</li>     
     
  </ol>
  
  
  <!--#% increased Chaos Resistance-->
  
    <strong>Chaos Resistance+%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 7 to 13 (of Order)</li>     
     
  </ol>
  
  
  <!--#% increased Stun Duration-->
  
    <strong>Stun Duration +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (of Stunning)</li>     
     
  </ol>
  
  <!--#% increased Totem Damage-->
  
    <strong>Totem Damage +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 8 to 16 (of the Shaman)</li>     
     
  </ol>
  
  
  <!--#% increased Totem Life-->
  
    <strong>Totem Life +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 6 to 12 (of Heritage)</li>     
     
  </ol>
  
  
  <!--#% increased Totem Elemental Resistances-->
  
    <strong>Totem Elemental Resistances +%</strong>
      <ol style='margin-top:0in' type=disc><li>iLvl 1: 4 to 8 (of Roots)</li>     
     
  </ol>
</div>
</body>
</html>


