<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>

<!--#% increased Physical Damage with Axes-->
<ul>
   <div id="jewelphysaxe"><u>Physical Damage +% with Axes</u>
     <li>iLvl 1: 8 to 16 (Sinister)</li>     
   </div>
</ul>


<!--#% increased Physical Damage with Maces-->
<ul>
   <div id="jewelphysmace"><u>Physical Damage +% with Maces</u>
     <li>iLvl 1: 8 to 16 (Brutal)</li>     
   </div>
</ul>


<!--#% increased Physical Damage with Swords-->
<ul>
   <div id="jewelphyssword"><u>Physical Damage +% with Swords</u>
     <li>iLvl 1: 8 to 16 (Vicious)</li>    
   </div>
</ul>


<!--#% increased Physical Damage with Bows-->
<ul>
   <div id="jewelphysbow"><u>Physical Damage +% with Bows</u>
     <li>iLvl 1: 8 to 16 (Fierce)</li>    
   </div>
</ul>


<!--#% increased Physical Damage with Claws-->
<ul>
   <div id="jewelphysclaws"><u>Physical Damage +% with Claws</u>
     <li>iLvl 1: 8 to 16 (Savage)</li>    
   </div>
</ul>


<!--#% increased Physical Damage with Daggers-->
<ul>
   <div id="jewelphysdaggers"><u>Physical Damage +% with Daggers</u>
     <li>iLvl 1: 8 to 16 (Lethal)</li>    
   </div>
</ul>


<!--#% increased Physical Damage with Staves-->
<ul>
   <div id="jewelphysstaves"><u>Physical Damage +% with Staves</u>
     <li>iLvl 1: 8 to 16 (Judging)</li>     
   </div>
</ul>


<!--#% increased Physical Damage with One Handed Melee Weapons-->
<ul>
   <div id="jewelphys1h"><u>Physical Damage +% with One Handed Melee Weapons</u>
     <li>iLvl 1: 6 to 12 (Fighter's)</li>     
   </div>
</ul>


<!--#% increased Physical Damage with Two Handed Melee Weapons-->
<ul>
   <div id="jewelphys2h"><u>Physical Damage +% with Two Handed Melee Weapons</u>
     <li>iLvl 1: 6 to 12 (Champion's)</li>     
   </div>
</ul>


<!--#% increased Physical Damage while Dual Wielding-->
<ul>
   <div id="jewelphysdw"><u>Physical Damage +% while Dual Wielding</u>
     <li>iLvl 1: 6 to 12 (Gladiator's)</li>     
   </div>
</ul>


<!--#% increased Physical Damage while Unarmed-->
<ul>
   <div id="jewelphysua"><u>Physical Damage +% while Unarmed</u>
     <li>iLvl 1:  8 to 16 (Brawling)</li>     
   </div>
</ul>


<!--#% increased Attack Speed+% with Maces-->
<ul>
   <div id="jewelspdmace"><u>Attack Speed +% with Maces</u>
     <li>iLvl 1: 4 to 8 (Beating)</li>     
   </div>
</ul>


<!--#% increased Attack Speed+% with Axes-->
<ul>
   <div id="jewelspdaxe"><u>Attack Speed +% with Axes</u>
     <li>iLvl 1: 4 to 8 (Cleaving)</li>     
   </div>
</ul>


<!--#% increased Attack Speed+% with Swords-->
<ul>
   <div id="jewelspdsword"><u>Attack Speed +% with Swords</u>
     <li>iLvl 1: 4 to 8 (Fencing)</li>     
   </div>
</ul>


<!--#% increased Attack Speed+% with Bows-->
<ul>
   <div id="jewelspdbow"><u>Attack Speed +% with Bows</u>
     <li>iLvl 1: 4 to 8 (Vollying)</li>     
   </div>
</ul>


<!--#% increased Attack Speed+% with Claws-->
<ul>
   <div id="jewelspdclaws"><u>Attack Speed +% with Claws</u>
     <li>iLvl 1: 4 to 8 (Ripping)</li>     
   </div>
</ul>


<!--#% increased Attack Speed+% with Daggers-->
<ul>
   <div id="jewelspddagger"><u>Attack Speed +% with Daggers</u>
     <li>iLvl 1: 4 to 8 (Slicing)</li>     
   </div>
</ul>


<!--#% increased Attack Speed+% with Staves-->
<ul>
   <div id="jewelspdswordstaves"><u>Attack Speed +% with Staves</u>
     <li>iLvl 1: 4 to 8 (Bludgeoning)</li>     
   </div>
</ul>


<!--+# to maximum Life-->
<ul>
   <div id="jewelflatlife"><u>Base +Max Life</u>
     <li>iLvl 1: 8 to 12 (Healthy)</li>     
   </div>
</ul>


<!--+# to maximum Energy Shield-->
<ul>
   <div id="jewelflates"><u>Base +Max Energy Shield</u>
     <li>iLvl 1: 8 to 16 (Glowing)</li>     
   </div>
</ul>


<!--#% increased maximum Life-->
<ul>
   <div id="jewellife"><u>Max Life +%</u>
     <li>iLvl 1: 3 to 5 (Spirited)</li>     
   </div>
</ul>


<!--#% increased maximum Energy Shield-->
<ul>
   <div id="jeweles"><u>Max Energy Shield+%</u>
     <li>iLvl 1: 3 to 5 (Shimmering)</li>     
   </div>
</ul>


<!--+# to maximum Mana-->
<ul>
   <div id="jewelflatmana"><u>Base +Max Mana</u>
     <li>iLvl 1: 8 to 12 (Learned)</li>     
   </div>
</ul>


<!--#% increased maximum Mana-->
<ul>
   <div id="jewelmana"><u>Max Mana +%</u>
     <li>iLvl 1: 4 to 8 (Enlightened)</li>     
   </div>
</ul>


<!--+# to maximum Life and Mana-->
<ul>
   <div id="jewelflatmanalife"><u>Base +Max Life and Mana</u>
     <li>iLvl 1: 4 to 6 / 4 to 6 (Determined)</li>     
   </div>
</ul>


<!--#% increased maximum Energy Shield+% and Mana-->
<ul>
   <div id="jewelmanaes"><u>Max Energy Shield and Mana +%</u>
     <li>iLvl 1: 2 to 4 / 4 to 6 (Wise)</li>     
   </div>
</ul>



<!--#% increased maximum Life and Energy Shield-->
<ul>
   <div id="jewellifees"><u>Max Life and Energy Shield +%</u>
     <li>iLvl 1: 2 to 4 / 2 to 4 (Faithful)</li>     
   </div>
</ul>


<!--#% increased maximum Life and Mana-->
<ul>
   <div id="jewellifemana"><u>Max Life and Mana+%</u>
     <li>iLvl 1: 2 to 4 / 4 to 6 (Passionate)</li>     
   </div>
</ul>


<!--#% increased Mana Regeneration Rate-->
<ul>
   <div id="jewelmanaregen"><u>Mana Regeneration Rate+%</u>
     <li>iLvl 1: 10 to 20 (Energetic)</li>     
   </div>
</ul>


<!--#% of Physical Attack Damage Leeched as Life-->
<ul>
   <div id="jewelll"><u>Life Leech from Physical Attk Dmg %</u>
     <li>iLvl 1: 1 to 2 (Hungering)</li>     
   </div>
</ul>


<!--#% of Physical Attack Damage Leeched as Mana-->
<ul>
   <div id="jewelml"><u>Mana Leech from Physical Attk Dmg %</u>
     <li>iLvl 1: 1 to 2 (Thirsting)</li>     
   </div>
</ul>


<!--#% of Spell Damage Leeched as Life-->
<ul>
   <div id="jewelsdll"><u>Spell Damage% Leeched as Life</u>
     <li>iLvl 1: 1 (Transfusing)</li>     
   </div>
</ul>

<!--#% of Spell Damage Leeched as Mana-->
<ul>
   <div id="jewelsdml"><u>Spell Damage% Leeched as Mana</u>
     <li>iLvl 1: 1 (Siphoning)</li>     
   </div>
</ul>


<!--#% increased Armour-->
<ul>
   <div id="jewelar"><u>Armour +%</u>
     <li>iLvl 1: 8 to 16 (Armoured)</li>     
   </div>
</ul>


<!--#% increased Evasion-->
<ul>
   <div id="jewelev"><u>Evasion +%</u>
     <li>iLvl 1: 8 to 16 (Evasive)</li>     
   </div>
</ul>


<!--#% increased Armour and Evasion-->
<ul>
   <div id="jewelar"><u>Armour and Evasion +%</u>
     <li>iLvl 1: 6 to 12 / 6 to 12 (Fighter's)</li>     
   </div>
</ul>


<!--#% increased Armour and Energy Shield-->
<ul>
   <div id="jewelares"><u>Armour and Energy Shield +%</u>
     <li>iLvl 1: 6 to 12 / 4 to 6 (Paladin's)</li>     
   </div>
</ul>


<!--#% increased Evasion and Energy Shield-->
<ul>
   <div id="jeweleves"><u>Evasion and Energy Shield+%</u>
     <li>iLvl 1: 6 to 12 / 2 to 4 (Rogue's)</li>     
   </div>
</ul>


<!--+# Additional Accuracy-->
<ul>
   <div id="jeweladacc"><u>Base +Accuracy</u>
     <li>iLvl 1: 20 to 40 (Accurate)</li>     
   </div>
</ul>


<!--#% increased Accuracy-->
<ul>
   <div id="jewelaccur"><u>Accuracy+%</u>
     <li>iLvl 1: 8 to 16 (Precise)</li>     
   </div>
</ul>


<!--#% increased Global Defenses-->
<ul>
   <div id="jewelgd"><u>Global Defenses +%</u>
     <li>iLvl 1: 5 to 10 (Defensive)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance with Melee weapons-->
<ul>
   <div id="jewelmcrit"><u>Melee Critical Strike Chance +%</u>
     <li>iLvl 1: 6 to 12 (Duelist's)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with Melee weapons-->
<ul>
   <div id="jewelmmulti"><u>Melee Critical Strike Multiplier +%</u>
     <li>iLvl 1: 4 to 8 (Demolishing)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance with Spells-->
<ul>
   <div id="jewelcritspell"><u>Critical Strike Chance +% for Spells</u>
     <li>iLvl 1: 6 to 12 (Annihilating)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance with Traps-->
<ul>
   <div id="jewelcrittrap"><u>Critical Strike Chance +% for Traps</u>
     <li>iLvl 1: 10 to 20 (Inescapable)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance with Mines-->
<ul>
   <div id="jewelcritmine"><u>Critical Strike Chance +% for Mines</u>
     <li>iLvl 1: 10 to 20 (Crippling)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance with Fire Skills-->
<ul>
   <div id="jewelcritfire"><u>Critical Strike Chance +% for Fire Skills</u>
     <li>iLvl 1: 8 to 16 (Incinerating)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance with Cold Skills-->
<ul>
   <div id="jewelcritcold"><u>Critical Strike Chance +% for Cold Skills</u>
     <li>iLvl 1: 8 to 16 (Avalanching)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance with Lightning Skills-->
<ul>
   <div id="jewelcritlight"><u>Critical Strike Chance +% for Lightning Skills</u>
     <li>iLvl 1: 8 to 16 (Thundering)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance with Elemental Skills-->
<ul>
   <div id="jewelcritele"><u>Critical Strike Chance +% for Elemental Skills</u>
     <li>iLvl 1: 8 to 16 (Apocalyptic)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance with Chaos Skills-->
<ul>
   <div id="jewelcritchaos"><u>Critical Strike Chance +% for Chaos Skills</u>
     <li>iLvl 1: 8 to 16 (Obliterating)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with Spells-->
<ul>
   <div id="jewelmultispell"><u>Critical Strike Multiplier with Spells</u>
     <li>iLvl 1: 4 to 8 (Unmaking)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with Traps-->
<ul>
   <div id="jewelmultitrap"><u>Critical Strike Multiplier with Traps</u>
     <li>iLvl 1: 6 to 12 (Debilitating)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with Mines-->
<ul>
   <div id="jewelmultimine"><u>Critical Strike Multiplier with Mines</u>
     <li>iLvl 1: 6 to 12 (Incapacitating)</li>     
   </div>
</ul>


<!--#% decreased Mana Cost of Skills-->
<ul>
   <div id="jewelskillreduce"><u>-% Mana Cost of Skills</u>
     <li>iLvl 1: 3 to 5 (Dynamic)</li>     
   </div>
</ul>


<!--#% increased Radius of Auras-->
<ul>
   <div id="jewelauraradius"><u>+% Radius of Auras</u>
     <li>iLvl 1: 6 to 12 (Hero's)</li>     
   </div>
</ul>


<!--#% increased Radius of Curses-->
<ul>
   <div id="jewelcurseradius"><u>+% Radius of Curses</u>
     <li>iLvl 1: 5 to 10 (Hexing)</li>     
   </div>
</ul>


<!--#% chance to Avoid being Ignited-->
<ul>
   <div id="jewelreduceignite"><u>+% Chance to Avoid being Ignited</u>
     <li>iLvl 1: 2 to 5 (Dousing)</li>     
   </div>
</ul>


<!--#% chance to Avoid being Frozen-->
<ul>
   <div id="jewelreducechill"><u>+% Chance to Avoid being Frozen</u>
     <li>iLvl 1: 2 to 5 (Heating)</li>     
   </div>
</ul>


<!--#% chance to Avoid being Chilled-->
<ul>
   <div id="jewelreducefreeze"><u>+% Chance to Avoid being Chilled</u>
     <li>iLvl 1: 2 to 5 (Thawing)</li>     
   </div>
</ul>


<!--Freeze on Hit-->
<ul>
   <div id="jewelalwaysfreeze"><u>Freeze on Hit</u>
     <li>iLvl 1: 2 to 3 (Crystallizing)</li>     
   </div>
</ul>


<!--#% chance to Avoid being Shocked-->
<ul>
   <div id="jewelreduceshock"><u>+% Chance to Avoid being Shocked</u>
     <li>iLvl 1: 2 to 5 (Insulating)</li>     
   </div>
</ul>



<!--#% chance to Ignite-->
<ul>
   <div id="jewelignite"><u>+% Chance to Ignite</u>
     <li>iLvl 1: 2 to 3 (Sparking)</li>     
   </div>
</ul>


<!--#% chance to Shock-->
<ul>
   <div id="jewelshock"><u>+% Chance to Shock</u>
     <li>iLvl 1: 2 to 3 (Static)</li>     
   </div>
</ul>


<!--#% increased Ignite Duration on enemies-->
<ul>
   <div id="jewelignitedur"><u>+% Ignite Duration on Enemies</u>
     <li>iLvl 1: 2 to 4 (Immolating)</li>     
   </div>
</ul>


<!--#% increased Shock Duration on enemies-->
<ul>
   <div id="jewelshockedur"><u>+% Shock Duration on Enemies</u>
     <li>iLvl 1: 8 to 16 (Charged)</li>     
   </div>
</ul>


<!--#% increased Freeze Duration on enemies-->
<ul>
   <div id="jewelfreezedur"><u>+% Freeze Duration on Enemies</u>
     <li>iLvl 1: 8 to 16 (Glacial)</li>     
   </div>
</ul>


<!--#% increased Endurance Charge Duration-->
<ul>
   <div id="jewelendu"><u>Endurance Charge Duration +%</u>
     <li>iLvl 1: 5 to 10 (Enduring)</li>     
   </div>
</ul>


<!--#% increased Power Charge Duration-->
<ul>
   <div id="jewelpower"><u>Power Charge Duration +%</u>
     <li>iLvl 1: 5 to 10 (Empowering)</li>     
   </div>
</ul>


<!--#% increased Frenzy Charge Duration-->
<ul>
   <div id="jewelfrenzy"><u>Frenzy Charge Duration +%</u>
     <li>iLvl 1: 5 to 10 (Inciting)</li>     
   </div>
</ul>



<!--#% chance to Knock Enemies Back on hit-->
<ul>
   <div id="jewelknock"><u>+% Chance to Knock Enemies Back on Hit</u>
     <li>iLvl 1: 4 to 8 (Fending)</li>     
   </div>
</ul>


<!--#% increased Chance to Block with Shields-->
<ul>
   <div id="jewelblockshield"><u>+% Chance to Block with Shields</u>
     <li>iLvl 1: 2 (Shielding)</li>     
   </div>
</ul>


<!--#% increased Chance to Block while Dual Wielding-->
<ul>
   <div id="jewelblockwdw"><u>+% Chance to Block while Dual Wielding</u>
     <li>iLvl 1: 2 (Parrying)</li>     
   </div>
</ul>


<!--#% increased Chance to Block with Staves-->
<ul>
   <div id="jewelblockstaff"><u>+% Chance to Block with Staves</u>
     <li>iLvl 1: 2 (Halting)</li>     
   </div>
</ul>


<!--#% increased Chance to Block with Spells Staves-->
<ul>
   <div id="jewelblockspellstaff"><u>+% Chance to Block Spells with Staves</u>
     <li>iLvl 1: 2 (Halting)</li>     
   </div>
</ul>

<!--#% increased Chance to Block with Spells with Shields-->
<ul>
   <div id="jewelblockspellshield"><u>+% Chance to Block Spells with Shields</u>
     <li>iLvl 1: 2 (Thwarting)</li>     
   </div>
</ul>


<!--#% increased Chance to Block -->
<ul>
   <div id="jewelblock"><u>+% Chance to Block</u>
     <li>iLvl 1: 2 (Deflecting)</li>     
   </div>
</ul>


<!--#% increased Chance to Block Spells while Dual Wielding -->
<ul>
   <div id="jewelblockspelldw"><u>+% Chance to Block Spells while Dual Wielding</u>
     <li>iLvl 1: 2 (Dissipating)</li>     
   </div>
</ul>


<!--#% increased Faster Energy Shield Recharge-->
<ul>
   <div id="jewelesrecharge"><u>Faster Energy Shield Recharge+%</u>
     <li>iLvl 1: 4 to 8 (Serene)</li>     
   </div>
</ul>


<!--#% increased Melee Damage-->
<ul>
   <div id="jewelmd"><u>Melee Damage +%</u>
     <li>iLvl 1: 6 to 12 (of Combat)</li>     
   </div>
</ul>


<!--#% increased Projectile Damage-->
<ul>
   <div id="jewelprojdmg"><u>Projectile Damage +%</u>
     <li>iLvl 1: 6 to 12 (of Archery) </li>     
   </div>
</ul>


<!--#% increased Trap Damage-->
<ul>
   <div id="jeweltrapdmg"><u>Trap Damage +%</u>
     <li>iLvl 1: 6 to 12 (of Trapping)</li>     
   </div>
</ul>

<!--#% increased Mine Damage-->
<ul>
   <div id="jewelminedmg"><u>Mine Damage +%</u>
     <li>iLvl 1: 6 to 12 (of Sabotage)</li>     
   </div>
</ul>


<!--#% increased Physical Damage-->
<ul>
   <div id="jewelpd"><u>Physical Damage +%</u>
     <li>iLvl 1: 8 to 16 (of Stone)</li>     
   </div>
</ul>


<!--#% increased Damage-->
<ul>
   <div id="jeweld"><u>Damage +%</u>
     <li>iLvl 1: 5 to 10 (of Wounding)</li>     
   </div>
</ul>


<!--#% increased Fire Damage-->
<ul>
   <div id="jewelfd"><u>Fire Damage +%</u>
     <li>iLvl 1: 8 to 16 (of Fire)</li>     
   </div>
</ul>


<!--#% increased Cold Damage-->
<ul>
   <div id="jewelcd"><u>Cold Damage +%</u>
     <li>iLvl 1: 8 to 16 (of Ice)</li>     
   </div>
</ul>

<!--#% increased Lightning Damage-->
<ul>
   <div id="jewelld"><u>Lightning Damage +%</u>
     <li>iLvl 1: 8 to 16 (of Lightning)</li>     
   </div>
</ul>


<!--#% increased Damage over Time-->
<ul>
   <div id="jeweldot"><u>Damage over Time +%</u>
     <li>iLvl 1: 8 to 16 (of Entropy) </li>     
   </div>
</ul>


<!--#% increased Chaos Damage-->
<ul>
   <div id="jewelchaosdmg"><u>Chaos Damage +%</u>
     <li>iLvl 1: 5 to 10 (of Chaos)</li>     
   </div>
</ul>


<!--#% increased Area Damage-->
<ul>
   <div id="jewelad"><u>Area Damage +%</u>
     <li>iLvl 1: 6 to 12 (of Blasting) </li>     
   </div>
</ul>


<!--#% increased Spell Damage-->
<ul>
   <div id="jewelspelldmg"><u>Spell Damage +%</u>
     <li>iLvl 1: 6 to 12 (of Mysticism) </li>     
   </div>
</ul>


<!--#% increased Attack Speed with One Hand Melee Weapons-->
<ul>
   <div id="jewelas1h"><u>Attack Speed +% with One Hand Melee Weapons</u>
     <li>iLvl 1: 4 to 6 (of the Soldier)</li>     
   </div>
</ul>


<!--#% increased Attack Speed while Dual Wielding-->
<ul>
   <div id="jewelaswdw"><u>Attack Speed +% while Dual Wielding</u>
     <li>iLvl 1: 4 to 6 (of Harmony)</li>     
   </div>
</ul>


<!--#% increased Cast Speed while Dual Wielding-->
<ul>
   <div id="jewelcswdw"><u>Cast Speed +% while Dual Wielding</u>
     <li>iLvl 1: 3 to 5 (of Resonance)</li>     
   </div>
</ul>


<!--#% increased Cast Speed while holding a Shield-->
<ul>
   <div id="jewelcswhs"><u>Cast Speed +% while holding a Shield</u>
     <li>iLvl 1: 3 to 5 (of Warding)</li>     
   </div>
</ul>


<!--#% increased Cast Speed while wielding a Staff-->
<ul>
   <div id="jewelcswwstaff"><u>Cast Speed +% while wielding a Staff</u>
     <li>iLvl 1: 3 to 5 (of Warding)</li>     
   </div>
</ul>


<!--#% increased Attack Speed with Two Hand Melee Weapons-->
<ul>
   <div id="jewelas2h"><u>Attack Speed +% with Two Hand Melee Weapons</u>
     <li>iLvl 1: 4 to 6 (of the Warrior)</li>     
   </div>
</ul>


<!--#% increased Cast Speed while holding a Staff-->
<ul>
   <div id="jewelcshs"><u>Cast Speed +% while holding a Staff</u>
     <li>iLvl 1: 3 to 5 (of the Wright)</li>     
   </div>
</ul>


<!--#% increased Cast Speed while holding a Shield-->
<ul>
   <div id="jewelcshstf"><u>Cast Speed +% while holding a Shield</u>
     <li>iLvl 1: 4 to 6 (of Defence)</li>     
   </div>
</ul>


<!--#% increased Attack Speed while Unarmed-->
<ul>
   <div id="jewelasua"><u>Attack Speed +% while Unarmed</u>
     <li>iLvl 1: 4 to 8 (of Fury) </li>     
   </div>
</ul>


<!--#% increased Projectile Speed-->
<ul>
   <div id="jewelprojspd"><u>Projectile Speed +%</u>
     <li>iLvl 1: 5 to 10 (of Soaring)  </li>     
   </div>
</ul>


<!--#% increased Trap Throwing Speed-->
<ul>
   <div id="jeweltrapspd"><u>Trap Throwing Speed +%</u>
     <li>iLvl 1: 5 to 10 (of Rigging)</li>     
   </div>
</ul>


<!--#% increased Mine Laying Speed-->
<ul>
   <div id="jewelminespd"><u>Mine Laying Speed +%</u>
     <li>iLvl 1: 5 to 10 (of Arming)</li>     
   </div>
</ul>


<!--#% increased Attack and Cast Speed Speed-->
<ul>
   <div id="jewelattkcstspd"><u>Attack and Cast Speed +%</u>
     <li>iLvl 1: 2 to 4 (of Zeal) </li>     
   </div>
</ul>


<!--#% increased Attack Speed-->
<ul>
   <div id="jewelas"><u>Attack Speed +%</u>
     <li>iLvl 1: 3 to 5 (of Berserking)</li>     
   </div>
</ul>


<!--#% increased Melee Physical Damage while holding a Shield-->
<ul>
   <div id="jewelmpdhs"><u>Melee Physical Dmg +% while holding a Shield</u>
     <li>iLvl 1: 6 to 12 (of the Phalanx)</li>     
   </div>
</ul>


<!--+# to Strength-->
<ul>
   <div id="jewelstr"><u>Additional Strength</u>
     <li>iLvl 1: 10 to 16 (of Strength)</li>     
   </div>
</ul>

<!--+# to Dexterity-->
<ul>
   <div id="jeweldex"><u>Additional Dexterity</u>
     <li>iLvl 1: 10 to 16 (of Dexterity)</li>     
   </div>
</ul>


<!--+# to Intelligence-->
<ul>
   <div id="jewelint"><u>Additional Intelligence</u>
     <li>iLvl 1: 10 to 16 (of Intelligence)</li>     
   </div>
</ul>


<!--+# to Strength and Dexterity-->
<ul>
   <div id="jewelstrdex"><u>Additional Strength and Dexterity</u>
     <li>iLvl 1: 6 to 10 (of Athletics)</li>     
   </div>
</ul>



<!--+# to Strength and Intelligence-->
<ul>
   <div id="jewelstrint"><u>Additional Strength and Intelligence</u>
     <li>iLvl 1: 6 to 10 (of Spirit)</li>     
   </div>
</ul>


<!--+# to Dexterity and Intelligence-->
<ul>
   <div id="jewelstrint"><u>Additional Dexterity and Intelligence</u>
     <li>iLvl 1: 6 to 10 (of Cunning)</li>     
   </div>
</ul>


<!--+# to All Attributes-->
<ul>
   <div id="jewelall"><u>Additional All Attributes</u>
     <li>iLvl 1: 4 to 8 (of Adaption)</li>     
   </div>
</ul>


<!--+# Life gained for each Enemy hit by your Attacks-->
<ul>
   <div id="jewellgoh"><u>+ Life Gained on Hit by Attacks</u>
     <li>iLvl 1: 1 to 2 (of Rejuvenation)</li>     
   </div>
</ul>


<!--+# Energy Shield gained for each Enemy hit by your Attacks-->
<ul>
   <div id="jewelesgoh"><u>+ Energy Shield Gained on Hit by Attacks</u>
     <li>iLvl 1: 1 to 2 (of Focusing)</li>     
   </div>
</ul>


<!--+# Mana gained for each Enemy hit by your Attacks-->
<ul>
   <div id="jewelmgoh"><u>+ Mana Gained on Hit by Attacks</u>
     <li>iLvl 1: 1 to 2 (of Absorbtion)</li>     
   </div>
</ul>


<!--#% increased Rarity of Items found-->
<ul>
   <div id="jewelmf"><u>Item Found Rarity +%</u>
     <li>iLvl 1: 3 to 6 (of Raiding)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance-->
<ul>
   <div id="jewelcsc"><u>Critical Strike Chance +%</u>
     <li>iLvl 1: 6 to 12 (of Menace)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier-->
<ul>
   <div id="jewelcsm"><u>Critical Strike Multiplier +%</u>
     <li>iLvl 1: 5 to 10 (of Potency)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance with Maces-->
<ul>
   <div id="jewelcscmace"><u>+% Critical Strike Chance with Maces</u>
     <li>iLvl 1: 10 to 20 (of Striking)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance with Wands-->
<ul>
   <div id="jewelcscwand"><u>+% Critical Strike Chance with Wands</u>
     <li>iLvl 1: 10 to 20 (of Divination) </li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance with Claws-->
<ul>
   <div id="jewelcscclaw"><u>+% Critical Strike Chance with Claws</u>
     <li>iLvl 1: 10 to 20 (of the Eagle)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance with Bows-->
<ul>
   <div id="jewelcscbow"><u>+% Critical Strike Chance with Bows</u>
     <li>iLvl 1: 10 to 20 (of the Sniper)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance with Daggers-->
<ul>
   <div id="jewelcscdag"><u>+% Critical Strike Chance with Daggers</u>
     <li>iLvl 1: 10 to 20 (of Needling) </li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance with Staves-->
<ul>
   <div id="jewelcscstaves"><u>+% Critical Strike Chance with Staves</u>
     <li>iLvl 1: 10 to 20 (of Tyranny)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with Staves-->
<ul>
   <div id="jewelcsmstaves"><u>+% Critical Strike Multiplier with Staves</u>
     <li>iLvl 1: 6 to 12 (of Trauma)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with Wands-->
<ul>
   <div id="jewelcsmwand"><u>+% Critical Strike Multiplier with Wands</u>
     <li>iLvl 1: 6 to 12 (of Evocation) </li>     
   </div>
</ul>

<!--#% increased Critical Strike Multiplier with Maces-->
<ul>
   <div id="jewelcsmmace"><u>+% Critical Strike Multiplier with Maces</u>
     <li>iLvl 1: 6 to 12 (of Crushing)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with Bows-->
<ul>
   <div id="jewelcsmbow"><u>+% Critical Strike Multiplier with Bows</u>
     <li>iLvl 1: 6 to 12 (of the Hunter) </li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with Claws-->
<ul>
   <div id="jewelcsmclaw"><u>+% Critical Strike Multiplier with Claws</u>
     <li>iLvl 1: 6 to 12 (of the Bear)  </li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with Daggers-->
<ul>
   <div id="jewelcsmdagger"><u>+% Critical Strike Multiplier with Daggers</u>
     <li>iLvl 1: 6 to 12 (of Assassination)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with Axes-->
<ul>
   <div id="jewelcsmaxe"><u>+% Critical Strike Multiplier with Axes</u>
     <li>iLvl 1: 6 to 12 (of Execution)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with Swords-->
<ul>
   <div id="jewelcsmsword"><u>+% Critical Strike Multiplier with Swords</u>
     <li>iLvl 1: 6 to 12 (of Severing)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance with One Hand Melee Weapons-->
<ul>
   <div id="jewelcsc1hmw"><u>+% Critical Strike Chance with One Hand Melee Weapons</u>
     <li>iLvl 1: 8 to 16 (of Harm)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Chance while holding a Shield-->
<ul>
   <div id="jewelcscwhas"><u>+% Critical Strike Chance while holding a Shield</u>
     <li>iLvl 1: 8 to 16 (of Tactics)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with One Hand Melee Weapons-->
<ul>
   <div id="jewelcsm1hmw"><u>+% Critical Strike Multiplier with One Hand Melee Weapons</u>
     <li>iLvl 1: 5 to 10 (of Piercing)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with Two Hand Melee Weapons-->
<ul>
   <div id="jewelcsm2hmw"><u>+% Critical Strike Multiplier with Two Hand Melee Weapons</u>
     <li>iLvl 1: 5 to 10 (of Rupturing) </li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier while Dual Wielding-->
<ul>
   <div id="jewelcsmwdw"><u>+% Critical Strike Multiplier while Dual Wielding Weapons</u>
     <li>iLvl 1: 5 to 10 (of Puncturing)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier while Dual Wielding-->
<ul>
   <div id="jewelcsmwhs"><u>+% Critical Strike Multiplier while holding a Shield</u>
     <li>iLvl 1: 5 to 10 (of Perforating)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with Fire Skills-->
<ul>
   <div id="jewelcsmwfs"><u>+% Critical Strike Multiplier with Fire Skills</u>
     <li>iLvl 1: 5 to 10 (of the Inferno) </li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with Cold Skills-->
<ul>
   <div id="jewelcsmwcs"><u>+% Critical Strike Multiplier with Cold Skills</u>
     <li>iLvl 1: 5 to 10 (of the Tundra)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with Lightning Skills-->
<ul>
   <div id="jewelcsmwls"><u>+% Critical Strike Multiplier with Lightning Skills</u>
     <li>iLvl 1: 5 to 10 (of the Storm)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with Elemental Skills-->
<ul>
   <div id="jewelcsmeles"><u>+% Critical Strike Multiplier with Elemental Skills</u>
     <li>iLvl 1: 4 to 8 (of the Elements)</li>     
   </div>
</ul>


<!--#% increased Critical Strike Multiplier with Chaos Skills-->
<ul>
   <div id="jewelcsmchaoss"><u>+% Critical Strike Multiplier with Chaos Skills</u>
     <li>iLvl 1: 5 to 10 (of the Abyss) </li>     
   </div>
</ul>


<!--#% increased Fire Resistance-->
<ul>
   <div id="jewelfireres"><u>Fire Resistance+%</u>
     <li>iLvl 1: 8 to 16 (of Cooling)</li>     
   </div>
</ul>


<!--#% increased Cold Resistance-->
<ul>
   <div id="jewelcoldres"><u>Cold Resistance+%</u>
     <li>iLvl 1: 8 to 16 (of Warmth)</li>     
   </div>
</ul>


<!--#% increased Lightning Resistance-->
<ul>
   <div id="jewellightres"><u>Lightning Resistance+%</u>
     <li>iLvl 1: 8 to 16 (of Grounding)</li>     
   </div>
</ul>


<!--#% increased Fire and Cold Resistances-->
<ul>
   <div id="jewelfirecoldres"><u>Fire and Cold Resistance+%</u>
     <li>iLvl 1: 5 to 9 (of the Hearth)</li>     
   </div>
</ul>


<!--#% increased Fire and Lightning Resistances-->
<ul>
   <div id="jewelfirelightres"><u>Fire and Lightning Resistance+%</u>
     <li>iLvl 1: 5 to 9 (of Insulation)</li>     
   </div>
</ul>
 

<!--#% increased Cold and Lightning Resistances-->
<ul>
   <div id="jewelcoldlightres"><u>Cold and Lightning Resistance+%</u>
     <li>iLvl 1: 5 to 9 (of Shelter)</li>     
   </div>
</ul>


<!--#% increased All Elements Resistances-->
<ul>
   <div id="jewelallres"><u>All Elements Resistance +%</u>
     <li>iLvl 1: 4 to 7 (of Resistance)</li>     
   </div>
</ul>


<!--#% increased Chaos Resistance-->
<ul>
   <div id="jewelchaosres"><u>Chaos Resistance+%</u>
     <li>iLvl 1: 7 to 13 (of Order)</li>     
   </div>
</ul>


<!--#% increased Stun Duration-->
<ul>
   <div id="jewelstundur"><u>Stun Duration +%</u>
     <li>iLvl 1: 6 to 12 (of Stunning)</li>     
   </div>
</ul>


<!--#% increased Totem Damage-->
<ul>
   <div id="jeweltotemdmg"><u>Totem Damage +%</u>
     <li>iLvl 1: 8 to 16 (of the Shaman)</li>     
   </div>
</ul>


<!--#% increased Totem Life-->
<ul>
   <div id="jeweltotemlife"><u>Totem Life +%</u>
     <li>iLvl 1: 6 to 12 (of Heritage)</li>     
   </div>
</ul>


<!--#% increased Totem Elemental Resistances-->
<ul>
   <div id="jeweltotemres"><u>Totem Elemental Resistances +%</u>
     <li>iLvl 1: 4 to 8 (of Roots)</li>     
   </div>
</ul>


<!--#% increased Minion Block Chance-->
<ul>
   <div id="jewelminblk"><u>Minion Block Chance +%</u>
     <li>iLvl 1: 3 to 6 (of Strategy)</li>     
   </div>
</ul>


<!--#% increased Minion Life-->
<ul>
   <div id="jewelminlife"><u>Minion Life +%</u>
     <li>iLvl 1: 6 to 12 (of Training)</li>     
   </div>
</ul>


<!--#% increased Minion Elemental Resistances-->
<ul>
   <div id="jewelminres"><u>Elemental Resistances +%</u>
     <li>iLvl 1: 4 to 8 (of Discipline)</li>     
   </div>
</ul>


