<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>

<!--#% increased Physical Damage with Axes-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelphysaxe"><strong>Physical Damage +% with Axes</strong>
     <li>iLvl 1: 8 to 16 (Sinister)</li>     
   </div>
</ol>


<!--#% increased Physical Damage with Maces-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelphysmace"><strong>Physical Damage +% with Maces</strong>
     <li>iLvl 1: 8 to 16 (Brutal)</li>     
   </div>
</ol>


<!--#% increased Physical Damage with Swords-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelphyssword"><strong>Physical Damage +% with Swords</strong>
     <li>iLvl 1: 8 to 16 (Vicious)</li>    
   </div>
</ol>


<!--#% increased Physical Damage with Bows-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelphysbow"><strong>Physical Damage +% with Bows</strong>
     <li>iLvl 1: 8 to 16 (Fierce)</li>    
   </div>
</ol>


<!--#% increased Physical Damage with Claws-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelphysclaws"><strong>Physical Damage +% with Claws</strong>
     <li>iLvl 1: 8 to 16 (Savage)</li>    
   </div>
</ol>


<!--#% increased Physical Damage with Daggers-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelphysdaggers"><strong>Physical Damage +% with Daggers</strong>
     <li>iLvl 1: 8 to 16 (Lethal)</li>    
   </div>
</ol>

<!--#% increased Physical Damage with Wands-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelphyswans"><strong>Physical Damage +% with Wands</strong>
     <li>iLvl 1: 8 to 16 (Cruel)</li>    
   </div>
</ol>


<!--#% increased Physical Damage with Staves-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelphysstaves"><strong>Physical Damage +% with Staves</strong>
     <li>iLvl 1: 8 to 16 (Judging)</li>     
   </div>
</ol>


<!--#% increased Physical Damage with One Handed Melee Weapons-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelphys1h"><strong>Physical Damage +% with One Handed Melee Weapons</strong>
     <li>iLvl 1: 6 to 12 (Fighter's)</li>     
   </div>
</ol>


<!--#% increased Physical Damage with Two Handed Melee Weapons-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelphys2h"><strong>Physical Damage +% with Two Handed Melee Weapons</strong>
     <li>iLvl 1: 6 to 12 (Champion's)</li>     
   </div>
</ol>


<!--#% increased Physical Damage while Dual Wielding-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelphysdw"><strong>Physical Damage +% while Dual Wielding</strong>
     <li>iLvl 1: 6 to 12 (Gladiator's)</li>     
   </div>
</ol>


<!--#% increased Physical Damage while Unarmed-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelphysua"><strong>Physical Damage +% while Unarmed</strong>
     <li>iLvl 1:  8 to 16 (Brawling)</li>     
   </div>
</ol>


<!--#% increased Attack Speed+% with Maces-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelspdmace"><strong>Attack Speed +% with Maces</strong>
     <li>iLvl 1: 4 to 8 (Beating)</li>     
   </div>
</ol>


<!--#% increased Attack Speed+% with Axes-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelspdaxe"><strong>Attack Speed +% with Axes</strong>
     <li>iLvl 1: 4 to 8 (Cleaving)</li>     
   </div>
</ol>


<!--#% increased Attack Speed+% with Swords-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelspdsword"><strong>Attack Speed +% with Swords</strong>
     <li>iLvl 1: 4 to 8 (Fencing)</li>     
   </div>
</ol>


<!--#% increased Attack Speed+% with Bows-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelspdbow"><strong>Attack Speed +% with Bows</strong>
     <li>iLvl 1: 4 to 8 (Vollying)</li>     
   </div>
</ol>


<!--#% increased Attack Speed+% with Claws-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelspdclaws"><strong>Attack Speed +% with Claws</strong>
     <li>iLvl 1: 4 to 8 (Ripping)</li>     
   </div>
</ol>


<!--#% increased Attack Speed+% with Daggers-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelspddagger"><strong>Attack Speed +% with Daggers</strong>
     <li>iLvl 1: 4 to 8 (Slicing)</li>     
   </div>
</ol>


<!--#% increased Attack Speed+% with Staves-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelspdswordstaves"><strong>Attack Speed +% with Staves</strong>
     <li>iLvl 1: 4 to 8 (Bludgeoning)</li>     
   </div>
</ol>

<!--#% increased Cast Speed+% with Fire Skills-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelspdfirsk"><strong>Cast Speed +% with Fire Skills</strong>
     <li>iLvl 1: 3 to 5 (Pyromantic)</li>     
   </div>
</ol>

<!--#% increased Cast Speed+% with Cold Skills-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelspdcolsk"><strong>Cast Speed +% with Cold Skills</strong>
     <li>iLvl 1: 3 to 5 (Cryomantic)</li>     
   </div>
</ol>

<!--#% increased Cast Speed+% with Lightning Skills-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelspdlitsk"><strong>Cast Speed +% Lightning Skills</strong>
     <li>iLvl 1: 3 to 5 (Electromantic)</li>     
   </div>
</ol>

<!--#% increased Cast Speed+% with Chaos Skills-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelspdchask"><strong>Cast Speed +% with Chaos Skills</strong>
     <li>iLvl 1: 3 to 5 (Entropic)</li>     
   </div>
</ol>

<!--#% increased Cast Speed+% for Curses-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelspdcursk"><strong>Cast Speed +% for Curses</strong>
     <li>iLvl 1: 5 to 10 (Blasphemous)</li>     
   </div>
</ol>


<!--#% increased maximum Energy Shield-->
<ol style='margin-top:0in' type=disc>
   <div id="jeweles"><strong>Max Energy Shield+%</strong>
     <li>iLvl 1: 3 to 5 (Shimmering)</li>     
   </div>
</ol>


<!--+# to maximum Energy Shield-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelflates"><strong>Base +Max Energy Shield</strong>
     <li>iLvl 1: 8 to 16 (Glowing)</li>     
   </div>
</ol>

<!--+# to maximum Life-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelflatlife"><strong>Base +Max Life</strong>
     <li>iLvl 1: 8 to 12 (Healthy)</li>     
   </div>
</ol>


<!--#% increased maximum Life-->
<ol style='margin-top:0in' type=disc>
   <div id="jewellife"><strong>Max Life +%</strong>
     <li>iLvl 1: 3 to 5 (Spirited)</li>     
   </div>
</ol>


<!--+# to maximum Mana-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelflatmana"><strong>Base +Max Mana</strong>
     <li>iLvl 1: 8 to 12 (Learned)</li>     
   </div>
</ol>


<!--#% increased maximum Mana-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelmana"><strong>Max Mana +%</strong>
     <li>iLvl 1: 4 to 8 (Enlightened)</li>     
   </div>
</ol>


<!--+# to maximum Life and Mana-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelflatmanalife"><strong>Base +Max Life and Mana</strong>
     <li>iLvl 1: 4 to 6 / 4 to 6 (Determined)</li>     
   </div>
</ol>


<!--#% increased maximum Energy Shield and Mana-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelmanaes"><strong>Max Energy Shield and Mana +%</strong>
     <li>iLvl 1: 2 to 4 / 4 to 6 (Wise)</li>     
   </div>
</ol>



<!--#% increased maximum Life and Energy Shield-->
<ol style='margin-top:0in' type=disc>
   <div id="jewellifees"><strong>Max Life and Energy Shield +%</strong>
     <li>iLvl 1: 2 to 4 / 2 to 4 (Faithful)</li>     
   </div>
</ol>


<!--#% increased maximum Life and Mana-->
<ol style='margin-top:0in' type=disc>
   <div id="jewellifemana"><strong>Max Life and Mana+%</strong>
     <li>iLvl 1: 2 to 4 / 4 to 6 (Passionate)</li>     
   </div>
</ol>


<!--#% increased Mana Regeneration Rate-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelmanaregen"><strong>Mana Regeneration Rate+%</strong>
     <li>iLvl 1: 10 to 20 (Energetic)</li>     
   </div>
</ol>


<!--#% of Physical Attack Damage Leeched as Life-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelll"><strong>Life Leech from Physical Attk Dmg %</strong>
     <li>iLvl 1: 1 to 2 (Hungering)</li>     
   </div>
</ol>


<!--#% of Physical Attack Damage Leeched as Mana-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelml"><strong>Mana Leech from Physical Attk Dmg %</strong>
     <li>iLvl 1: 1 to 2 (Thirsting)</li>     
   </div>
</ol>


<!--#% of Spell Damage Leeched as Life-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelsdll"><strong>Spell Damage% Leeched as Life</strong>
     <li>iLvl 1: 1 (Transfusing)</li>     
   </div>
</ol>

<!--#% of Spell Damage Leeched as Mana-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelsdml"><strong>Spell Damage% Leeched as Mana</strong>
     <li>iLvl 1: 1 (Siphoning)</li>     
   </div>
</ol>


<!--#% increased Armour-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelar"><strong>Armour +%</strong>
     <li>iLvl 1: 8 to 16 (Armoured)</li>     
   </div>
</ol>


<!--#% increased Evasion-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelev"><strong>Evasion +%</strong>
     <li>iLvl 1: 8 to 16 (Evasive)</li>     
   </div>
</ol>


<!--#% increased Armour and Evasion-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelar"><strong>Armour and Evasion +%</strong>
     <li>iLvl 1: 6 to 12 / 6 to 12 (Fighter's)</li>     
   </div>
</ol>


<!--#% increased Armour and Energy Shield-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelares"><strong>Armour and Energy Shield +%</strong>
     <li>iLvl 1: 6 to 12 / 4 to 6 (Paladin's)</li>     
   </div>
</ol>


<!--#% increased Evasion and Energy Shield-->
<ol style='margin-top:0in' type=disc>
   <div id="jeweleves"><strong>Evasion and Energy Shield+%</strong>
     <li>iLvl 1: 6 to 12 / 2 to 4 (Rogue's)</li>     
   </div>
</ol>


<!--+# Additional Accuracy-->
<ol style='margin-top:0in' type=disc>
   <div id="jeweladacc"><strong>Base +Accuracy</strong>
     <li>iLvl 1: 20 to 40 (Accurate)</li>     
   </div>
</ol>


<!--#% increased Accuracy-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelaccur"><strong>Accuracy+%</strong>
     <li>iLvl 1: 8 to 16 (Precise)</li>     
   </div>
</ol>


<!--#% increased Global Defenses-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelgd"><strong>Global Defenses +%</strong>
     <li>iLvl 1: 5 to 10 (Defensive)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance with Melee weapons-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelmcrit"><strong>Melee Critical Strike Chance +%</strong>
     <li>iLvl 1: 6 to 12 (Duelist's)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with Melee weapons-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelmmulti"><strong>Melee Critical Strike Multiplier +%</strong>
     <li>iLvl 1: 4 to 8 (Demolishing)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance with Spells-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcritspell"><strong>Critical Strike Chance +% for Spells</strong>
     <li>iLvl 1: 6 to 12 (Annihilating)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance with Traps-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcrittrap"><strong>Critical Strike Chance +% for Traps</strong>
     <li>iLvl 1: 10 to 20 (Inescapable)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance with Mines-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcritmine"><strong>Critical Strike Chance +% for Mines</strong>
     <li>iLvl 1: 10 to 20 (Crippling)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance with Fire Skills-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcritfire"><strong>Critical Strike Chance +% for Fire Skills</strong>
     <li>iLvl 1: 8 to 16 (Incinerating)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance with Cold Skills-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcritcold"><strong>Critical Strike Chance +% for Cold Skills</strong>
     <li>iLvl 1: 8 to 16 (Avalanching)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance with Lightning Skills-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcritlight"><strong>Critical Strike Chance +% for Lightning Skills</strong>
     <li>iLvl 1: 8 to 16 (Thundering)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance with Elemental Skills-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcritele"><strong>Critical Strike Chance +% for Elemental Skills</strong>
     <li>iLvl 1: 8 to 16 (Apocalyptic)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance with Chaos Skills-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcritchaos"><strong>Critical Strike Chance +% for Chaos Skills</strong>
     <li>iLvl 1: 8 to 16 (Obliterating)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with Spells-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelmultispell"><strong>Critical Strike Multiplier with Spells</strong>
     <li>iLvl 1: 4 to 8 (Unmaking)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with Traps-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelmultitrap"><strong>Critical Strike Multiplier with Traps</strong>
     <li>iLvl 1: 6 to 12 (Debilitating)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with Mines-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelmultimine"><strong>Critical Strike Multiplier with Mines</strong>
     <li>iLvl 1: 6 to 12 (Incapacitating)</li>     
   </div>
</ol>


<!--#% decreased Mana Cost of Skills-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelskillreduce"><strong>-% Mana Cost of Skills</strong>
     <li>iLvl 1: 3 to 5 (Dynamic)</li>     
   </div>
</ol>


<!--#% increased Radius of Auras-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelauraradius"><strong>+% Radius of Auras</strong>
     <li>iLvl 1: 6 to 12 (Hero's)</li>     
   </div>
</ol>


<!--#% increased Radius of Curses-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcurseradius"><strong>+% Radius of Curses</strong>
     <li>iLvl 1: 5 to 10 (Hexing)</li>     
   </div>
</ol>


<!--#% chance to Avoid being Ignited-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelreduceignite"><strong>+% Chance to Avoid being Ignited</strong>
     <li>iLvl 1: 2 to 5 (Dousing)</li>     
   </div>
</ol>


<!--#% chance to Avoid being Frozen-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelreducechill"><strong>+% Chance to Avoid being Frozen</strong>
     <li>iLvl 1: 2 to 5 (Heating)</li>     
   </div>
</ol>


<!--#% chance to Avoid being Chilled-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelreducefreeze"><strong>+% Chance to Avoid being Chilled</strong>
     <li>iLvl 1: 2 to 5 (Thawing)</li>     
   </div>
</ol>


<!--#% chance to Freeze-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelalwaysfreeze"><strong>#% chance to Freeze</strong>
     <li>iLvl 1: 2 to 3 (Crystallizing)</li>     
   </div>
</ol>


<!--#% chance to Avoid being Shocked-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelreduceshock"><strong>+% Chance to Avoid being Shocked</strong>
     <li>iLvl 1: 2 to 5 (Insulating)</li>     
   </div>
</ol>



<!--#% chance to Ignite-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelignite"><strong>+% Chance to Ignite</strong>
     <li>iLvl 1: 2 to 3 (Sparking)</li>     
   </div>
</ol>


<!--#% chance to Shock-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelshock"><strong>+% Chance to Shock</strong>
     <li>iLvl 1: 2 to 3 (Static)</li>     
   </div>
</ol>


<!--#% increased Ignite Duration on enemies-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelignitedur"><strong>+% Ignite Duration on Enemies</strong>
     <li>iLvl 1: 2 to 4 (Immolating)</li>     
   </div>
</ol>


<!--#% increased Shock Duration on enemies-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelshockedur"><strong>+% Shock Duration on Enemies</strong>
     <li>iLvl 1: 8 to 16 (Charged)</li>     
   </div>
</ol>


<!--#% increased Freeze Duration on enemies-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelfreezedur"><strong>+% Freeze Duration on Enemies</strong>
     <li>iLvl 1: 8 to 16 (Glacial)</li>     
   </div>
</ol>


<!--#% increased Endurance Charge Duration-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelendu"><strong>Endurance Charge Duration +%</strong>
     <li>iLvl 1: 5 to 10 (Enduring)</li>     
   </div>
</ol>


<!--#% increased Power Charge Duration-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelpower"><strong>Power Charge Duration +%</strong>
     <li>iLvl 1: 5 to 10 (Empowering)</li>     
   </div>
</ol>


<!--#% increased Frenzy Charge Duration-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelfrenzy"><strong>Frenzy Charge Duration +%</strong>
     <li>iLvl 1: 5 to 10 (Inciting)</li>     
   </div>
</ol>



<!--#% chance to Knock Enemies Back on hit-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelknock"><strong>+% Chance to Knock Enemies Back on Hit</strong>
     <li>iLvl 1: 4 to 8 (Fending)</li>     
   </div>
</ol>


<!--#% increased Chance to Block with Shields-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelblockshield"><strong>+% Chance to Block with Shields</strong>
     <li>iLvl 1: 2 (Shielding)</li>     
   </div>
</ol>


<!--#% increased Chance to Block while Dual Wielding-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelblockwdw"><strong>+% Chance to Block while Dual Wielding</strong>
     <li>iLvl 1: 2 (Parrying)</li>     
   </div>
</ol>


<!--#% increased Chance to Block with Staves-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelblockstaff"><strong>+% Chance to Block with Staves</strong>
     <li>iLvl 1: 2 (Halting)</li>     
   </div>
</ol>


<!--#% increased Chance to Block with Spells Staves-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelblockspellstaff"><strong>+% Chance to Block Spells with Staves</strong>
     <li>iLvl 1: 2 (Halting)</li>     
   </div>
</ol>

<!--#% increased Chance to Block with Spells with Shields-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelblockspellshield"><strong>+% Chance to Block Spells with Shields</strong>
     <li>iLvl 1: 2 (Thwarting)</li>     
   </div>
</ol>


<!--#% increased Chance to Block -->
<ol style='margin-top:0in' type=disc>
   <div id="jewelblock"><strong>+% Chance to Block</strong>
     <li>iLvl 1: 2 (Deflecting)</li>     
   </div>
</ol>


<!--#% increased Chance to Block Spells while Dual Wielding -->
<ol style='margin-top:0in' type=disc>
   <div id="jewelblockspelldw"><strong>+% Chance to Block Spells while Dual Wielding</strong>
     <li>iLvl 1: 2 (Dissipating)</li>     
   </div>
</ol>


<!--#% increased Faster Energy Shield Recharge-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelesrecharge"><strong>Faster Energy Shield Recharge+%</strong>
     <li>iLvl 1: 4 to 8 (Serene)</li>     
   </div>
</ol>


<!--#% increased Melee Damage-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelmd"><strong>Melee Damage +%</strong>
     <li>iLvl 1: 6 to 12 (of Combat)</li>     
   </div>
</ol>


<!--#% increased Projectile Damage-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelprojdmg"><strong>Projectile Damage +%</strong>
     <li>iLvl 1: 6 to 12 (of Archery) </li>     
   </div>
</ol>


<!--#% increased Trap Damage-->
<ol style='margin-top:0in' type=disc>
   <div id="jeweltrapdmg"><strong>Trap Damage +%</strong>
     <li>iLvl 1: 8 to 16 (of Trapping)</li>     
   </div>
</ol>

<!--#% increased Mine Damage-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelminedmg"><strong>Mine Damage +%</strong>
     <li>iLvl 1: 8 to 16 (of Sabotage)</li>     
   </div>
</ol>

  <!--#% increased Damage with Minions-->
  <ol style='margin-top:0in' type=disc>
    <div id="jewelmindmg"><strong>Minions deal #% increased Damage</strong>
      <li>iLvl 1: 8 to 16 (of Leadership)</li>     
     </div>
  </ol>  
<!--#% increased Physical Damage-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelpd"><strong>Physical Damage +%</strong>
     <li>iLvl 1: 8 to 16 (of Stone)</li>     
   </div>
</ol>


<!--#% increased Damage-->
<ol style='margin-top:0in' type=disc>
   <div id="jeweld"><strong>Damage +%</strong>
     <li>iLvl 1: 5 to 10 (of Wounding)</li>     
   </div>
</ol>


<!--#% increased Fire Damage-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelfd"><strong>Fire Damage +%</strong>
     <li>iLvl 1: 8 to 16 (of Fire)</li>     
   </div>
</ol>


<!--#% increased Cold Damage-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcd"><strong>Cold Damage +%</strong>
     <li>iLvl 1: 8 to 16 (of Ice)</li>     
   </div>
</ol>

<!--#% increased Lightning Damage-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelld"><strong>Lightning Damage +%</strong>
     <li>iLvl 1: 8 to 16 (of Lightning)</li>     
   </div>
</ol>


<!--#% increased Damage over Time-->
<ol style='margin-top:0in' type=disc>
   <div id="jeweldot"><strong>Damage over Time +%</strong>
     <li>iLvl 1: 8 to 16 (of Entropy) </li>     
   </div>
</ol>


<!--#% increased Chaos Damage-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelchaosdmg"><strong>Chaos Damage +%</strong>
     <li>iLvl 1: 5 to 10 (of Chaos)</li>     
   </div>
</ol>


<!--#% increased Area Damage-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelad"><strong>Area Damage +%</strong>
     <li>iLvl 1: 6 to 12 (of Blasting) </li>     
   </div>
</ol>


<!--#% increased Spell Damage-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelspelldmg"><strong>Spell Damage +%</strong>
     <li>iLvl 1: 6 to 12 (of Mysticism) </li>     
   </div>
</ol>


<!--#% increased Attack Speed with One Hand Melee Weapons-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelas1h"><strong>Attack Speed +% with One Hand Melee Weapons</strong>
     <li>iLvl 1: 4 to 6 (of the Soldier)</li>     
   </div>
</ol>


<!--#% increased Attack Speed while Dual Wielding-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelaswdw"><strong>Attack Speed +% while Dual Wielding</strong>
     <li>iLvl 1: 4 to 6 (of Harmony)</li>     
   </div>
</ol>

<!--#% increased Attack Speed while Holding a Shield-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelaswhas"><strong>Attack Speed +% while Holding a Shield</strong>
     <li>iLvl 1: 4 to 6 (of Defence)</li>     
   </div>
</ol>


<!--#% increased Cast Speed while Dual Wielding-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcswdw"><strong>Cast Speed +% while Dual Wielding</strong>
     <li>iLvl 1: 3 to 5 (of Resonance)</li>     
   </div>
</ol>


<!--#% increased Cast Speed while holding a Shield-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcswhs"><strong>Cast Speed +% while holding a Shield</strong>
     <li>iLvl 1: 3 to 5 (of Warding)</li>     
   </div>
</ol>


<!--#% increased Cast Speed while wielding a Staff-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcswwstaff"><strong>Cast Speed +% while wielding a Staff</strong>
     <li>iLvl 1: 3 to 5 (of Warding)</li>     
   </div>
</ol>


<!--#% increased Attack Speed with Two Hand Melee Weapons-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelas2h"><strong>Attack Speed +% with Two Hand Melee Weapons</strong>
     <li>iLvl 1: 4 to 6 (of the Warrior)</li>     
   </div>
</ol>


<!--#% increased Cast Speed while holding a Staff-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcshs"><strong>Cast Speed +% while holding a Staff</strong>
     <li>iLvl 1: 3 to 5 (of the Wright)</li>     
   </div>
</ol>

<!--#% increased Cast Speed-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsn"><strong>Cast Speed +%</strong>
     <li>iLvl 1: 2 to 4 (of Enchanting)</li>     
   </div>
</ol>


<!--#% increased Attack Speed while Unarmed-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelasua"><strong>Attack Speed +% while Unarmed</strong>
     <li>iLvl 1: 4 to 8 (of Fury) </li>     
   </div>
</ol>


<!--#% increased Projectile Speed-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelprojspd"><strong>Projectile Speed +%</strong>
     <li>iLvl 1: 5 to 10 (of Soaring)  </li>     
   </div>
</ol>


<!--#% increased Trap Throwing Speed-->
<ol style='margin-top:0in' type=disc>
   <div id="jeweltrapspd"><strong>Trap Throwing Speed +%</strong>
     <li>iLvl 1: 5 to 10 (of Rigging)</li>     
   </div>
</ol>


<!--#% increased Mine Laying Speed-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelminespd"><strong>Mine Laying Speed +%</strong>
     <li>iLvl 1: 5 to 10 (of Arming)</li>     
   </div>
</ol>


<!--#% increased Attack and Cast Speed Speed-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelattkcstspd"><strong>Attack and Cast Speed +%</strong>
     <li>iLvl 1: 2 to 4 (of Zeal) </li>     
   </div>
</ol>


<!--#% increased Attack Speed-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelas"><strong>Attack Speed +%</strong>
     <li>iLvl 1: 3 to 5 (of Berserking)</li>     
   </div>
</ol>


<!--#% increased Melee Physical Damage while holding a Shield-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelmpdhs"><strong>Melee Physical Dmg +% while holding a Shield</strong>
     <li>iLvl 1: 6 to 12 (of the Phalanx)</li>     
   </div>
</ol>


<!--+# to Strength-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelstr"><strong>Additional Strength</strong>
     <li>iLvl 1: 10 to 16 (of Strength)</li>     
   </div>
</ol>

<!--+# to Dexterity-->
<ol style='margin-top:0in' type=disc>
   <div id="jeweldex"><strong>Additional Dexterity</strong>
     <li>iLvl 1: 10 to 16 (of Dexterity)</li>     
   </div>
</ol>


<!--+# to Intelligence-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelint"><strong>Additional Intelligence</strong>
     <li>iLvl 1: 10 to 16 (of Intelligence)</li>     
   </div>
</ol>


<!--+# to Strength and Dexterity-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelstrdex"><strong>Additional Strength and Dexterity</strong>
     <li>iLvl 1: 6 to 10 (of Athletics)</li>     
   </div>
</ol>



<!--+# to Strength and Intelligence-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelstrint"><strong>Additional Strength and Intelligence</strong>
     <li>iLvl 1: 6 to 10 (of Spirit)</li>     
   </div>
</ol>


<!--+# to Dexterity and Intelligence-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelstrint"><strong>Additional Dexterity and Intelligence</strong>
     <li>iLvl 1: 6 to 10 (of Cunning)</li>     
   </div>
</ol>


<!--+# to All Attributes-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelall"><strong>Additional All Attributes</strong>
     <li>iLvl 1: 4 to 8 (of Adaption)</li>     
   </div>
</ol>


<!--+# Life gained for each Enemy hit by your Attacks-->
<ol style='margin-top:0in' type=disc>
   <div id="jewellgoh"><strong>+ Life Gained on Hit by Attacks</strong>
     <li>iLvl 1: 1 to 2 (of Rejuvenation)</li>     
   </div>
</ol>


<!--+# Energy Shield gained for each Enemy hit by your Attacks-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelesgoh"><strong>+ Energy Shield Gained on Hit by Attacks</strong>
     <li>iLvl 1: 1 to 2 (of Focusing)</li>     
   </div>
</ol>


<!--+# Mana gained for each Enemy hit by your Attacks-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelmgoh"><strong>+ Mana Gained on Hit by Attacks</strong>
     <li>iLvl 1: 1 to 2 (of Absorbtion)</li>     
   </div>
</ol>


<!--#% increased Rarity of Items found-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelmf"><strong>Item Found Rarity +%</strong>
     <li>iLvl 1: 3 to 6 (of Raiding)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsc"><strong>Critical Strike Chance +%</strong>
     <li>iLvl 1: 6 to 12 (of Menace)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsm"><strong>Critical Strike Multiplier +%</strong>
     <li>iLvl 1: 5 to 10 (of Potency)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance with Maces-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcscmace"><strong>+% Critical Strike Chance with Maces</strong>
     <li>iLvl 1: 10 to 20 (of Striking)</li>     
   </div>
</ol>

<!--#% increased Critical Strike Chance with Axes-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcscmace"><strong>+% Critical Strike Chance with Axes</strong>
     <li>iLvl 1: 10 to 20 (of Biting)</li>     
   </div>
</ol>

<!--#% increased Critical Strike Chance with Swords-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcscmace"><strong>+% Critical Strike Chance with Swords</strong>
     <li>iLvl 1: 10 to 20 (of Stinging)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance with Wands-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcscwand"><strong>+% Critical Strike Chance with Wands</strong>
     <li>iLvl 1: 10 to 20 (of Divination) </li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance with Claws-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcscclaw"><strong>+% Critical Strike Chance with Claws</strong>
     <li>iLvl 1: 10 to 20 (of the Eagle)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance with Bows-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcscbow"><strong>+% Critical Strike Chance with Bows</strong>
     <li>iLvl 1: 10 to 20 (of the Sniper)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance with Daggers-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcscdag"><strong>+% Critical Strike Chance with Daggers</strong>
     <li>iLvl 1: 10 to 20 (of Needling) </li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance with Staves-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcscstaves"><strong>+% Critical Strike Chance with Staves</strong>
     <li>iLvl 1: 10 to 20 (of Tyranny)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with Staves-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsmstaves"><strong>+% Critical Strike Multiplier with Staves</strong>
     <li>iLvl 1: 6 to 12 (of Trauma)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with Wands-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsmwand"><strong>+% Critical Strike Multiplier with Wands</strong>
     <li>iLvl 1: 6 to 12 (of Evocation) </li>     
   </div>
</ol>

<!--#% increased Critical Strike Multiplier with Maces-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsmmace"><strong>+% Critical Strike Multiplier with Maces</strong>
     <li>iLvl 1: 6 to 12 (of Crushing)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with Bows-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsmbow"><strong>+% Critical Strike Multiplier with Bows</strong>
     <li>iLvl 1: 6 to 12 (of the Hunter) </li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with Claws-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsmclaw"><strong>+% Critical Strike Multiplier with Claws</strong>
     <li>iLvl 1: 6 to 12 (of the Bear)  </li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with Daggers-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsmdagger"><strong>+% Critical Strike Multiplier with Daggers</strong>
     <li>iLvl 1: 6 to 12 (of Assassination)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with Axes-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsmaxe"><strong>+% Critical Strike Multiplier with Axes</strong>
     <li>iLvl 1: 6 to 12 (of Execution)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with Swords-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsmsword"><strong>+% Critical Strike Multiplier with Swords</strong>
     <li>iLvl 1: 6 to 12 (of Severing)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance while Dual Wielding-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsc1hmw"><strong>+% Critical Strike Chance while Dual Wielding</strong>
     <li>iLvl 1: 8 to 16 (of Technique)</li>     
   </div>
</ol>

<!--#% increased Critical Strike Chance with One Hand Melee Weapons-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsc1hmw"><strong>+% Critical Strike Chance with One Hand Melee Weapons</strong>
     <li>iLvl 1: 8 to 16 (of Harm)</li>     
   </div>
</ol>

<!--#% increased Critical Strike Chance with Two Hand Melee Weapons-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsc2hmwp"><strong>+% Critical Strike Chance with Two Hand Melee Weapons</strong>
     <li>iLvl 1: 8 to 16 (of Sundering)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Chance while holding a Shield-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcscwhas"><strong>+% Critical Strike Chance while holding a Shield</strong>
     <li>iLvl 1: 8 to 16 (of Tactics)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with One Hand Melee Weapons-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsm1hmw"><strong>+% Critical Strike Multiplier with One Hand Melee Weapons</strong>
     <li>iLvl 1: 5 to 10 (of Piercing)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with Two Hand Melee Weapons-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsm2hmw"><strong>+% Critical Strike Multiplier with Two Hand Melee Weapons</strong>
     <li>iLvl 1: 5 to 10 (of Rupturing) </li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier while Dual Wielding-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsmwdw"><strong>+% Critical Strike Multiplier while Dual Wielding Weapons</strong>
     <li>iLvl 1: 5 to 10 (of Puncturing)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier while holding a Shield-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsmwhs"><strong>+% Critical Strike Multiplier while holding a Shield</strong>
     <li>iLvl 1: 5 to 10 (of Perforating)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with Fire Skills-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsmwfs"><strong>+% Critical Strike Multiplier with Fire Skills</strong>
     <li>iLvl 1: 5 to 10 (of the Inferno) </li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with Cold Skills-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsmwcs"><strong>+% Critical Strike Multiplier with Cold Skills</strong>
     <li>iLvl 1: 5 to 10 (of the Tundra)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with Lightning Skills-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsmwls"><strong>+% Critical Strike Multiplier with Lightning Skills</strong>
     <li>iLvl 1: 5 to 10 (of the Storm)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with Elemental Skills-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsmeles"><strong>+% Critical Strike Multiplier with Elemental Skills</strong>
     <li>iLvl 1: 4 to 8 (of the Elements)</li>     
   </div>
</ol>


<!--#% increased Critical Strike Multiplier with Chaos Skills-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcsmchaoss"><strong>+% Critical Strike Multiplier with Chaos Skills</strong>
     <li>iLvl 1: 5 to 10 (of the Abyss) </li>     
   </div>
</ol>


<!--#% increased Fire Resistance-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelfireres"><strong>Fire Resistance+%</strong>
     <li>iLvl 1: 8 to 16 (of Cooling)</li>     
   </div>
</ol>


<!--#% increased Cold Resistance-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcoldres"><strong>Cold Resistance+%</strong>
     <li>iLvl 1: 8 to 16 (of Warmth)</li>     
   </div>
</ol>


<!--#% increased Lightning Resistance-->
<ol style='margin-top:0in' type=disc>
   <div id="jewellightres"><strong>Lightning Resistance+%</strong>
     <li>iLvl 1: 8 to 16 (of Grounding)</li>     
   </div>
</ol>


<!--#% increased Fire and Cold Resistances-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelfirecoldres"><strong>Fire and Cold Resistance+%</strong>
     <li>iLvl 1: 5 to 9 (of the Hearth)</li>     
   </div>
</ol>


<!--#% increased Fire and Lightning Resistances-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelfirelightres"><strong>Fire and Lightning Resistance+%</strong>
     <li>iLvl 1: 5 to 9 (of Insulation)</li>     
   </div>
</ol>
 

<!--#% increased Cold and Lightning Resistances-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelcoldlightres"><strong>Cold and Lightning Resistance+%</strong>
     <li>iLvl 1: 5 to 9 (of Shelter)</li>     
   </div>
</ol>


<!--#% increased All Elements Resistances-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelallres"><strong>All Elements Resistance +%</strong>
     <li>iLvl 1: 4 to 7 (of Resistance)</li>     
   </div>
</ol>


<!--#% increased Chaos Resistance-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelchaosres"><strong>Chaos Resistance+%</strong>
     <li>iLvl 1: 7 to 13 (of Order)</li>     
   </div>
</ol>


<!--#% increased Stun Duration-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelstundur"><strong>Stun Duration +%</strong>
     <li>iLvl 1: 6 to 12 (of Stunning)</li>     
   </div>
</ol>

<!--#% increased Stun Recovery-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelstundur"><strong>Stun Recovery +%</strong>
     <li>iLvl 1: 6 to 12 (of Recovery)</li>     
   </div>
</ol>


<!--#% increased Totem Damage-->
<ol style='margin-top:0in' type=disc>
   <div id="jeweltotemdmg"><strong>Totem Damage +%</strong>
     <li>iLvl 1: 8 to 16 (of the Shaman)</li>     
   </div>
</ol>


<!--#% increased Totem Life-->
<ol style='margin-top:0in' type=disc>
   <div id="jeweltotemlife"><strong>Totem Life +%</strong>
     <li>iLvl 1: 6 to 12 (of Heritage)</li>     
   </div>
</ol>


<!--#% increased Totem Elemental Resistances-->
<ol style='margin-top:0in' type=disc>
   <div id="jeweltotemres"><strong>Totem Elemental Resistances +%</strong>
     <li>iLvl 1: 4 to 8 (of Roots)</li>     
   </div>
</ol>


<!--#% increased Minion Block Chance-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelminblk"><strong>Minion Block Chance +%</strong>
     <li>iLvl 1: 3 to 6 (of Strategy)</li>     
   </div>
</ol>


<!--#% increased Minion Life-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelminlife"><strong>Minion Life +%</strong>
     <li>iLvl 1: 6 to 12 (of Training)</li>     
   </div>
</ol>


<!--#% increased Minion Elemental Resistances-->
<ol style='margin-top:0in' type=disc>
   <div id="jewelminres"><strong>Elemental Resistances +%</strong>
     <li>iLvl 1: 4 to 8 (of Discipline)</li>     
   </div>
</ol>


