<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="../css.css" rel="stylesheet" type="text/css">
</head>

<body>
      
      <div id="projects">
        
            <li>blue</li>
            <li>black</li>
           <li>white</li>
       
      </div> 
      
      <div id="Numbers">
        <li>one</li>
        <li>two</li>
        <li>three</li>
      </div>

      <div id="Misc">
        <li>House</li>
        <li>Rake</li>
        <li>Hat</li>
      </div>


</body>
</html>
