<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="../css/my.css" rel="stylesheet" type="text/css">
</head>

<body>

 <!--Area is inhabited by Skeletons-->
<ul>      
  <div id="Skeletal">
  <h3>Skeletal (6% Quantity, 3% Rarity)<br></h3>
    <li>Lvl 68+:</li>         
  </div>
</ul>

 <!--Area is inhabited by Sea Witches and their Spawn-->
<ul>      
  <div id="Slithering">
  <h3>Slithering (6% Quantity, 3% Rarity)<br></h3>
    <li>Lvl 68+:</li>         
  </div>
</ul>

 <!--Area is inhabited by Undead-->
<ul>      
  <div id="Undead">
  <h3>Undead (10% Quantity, 5% Rarity)<br></h3>
    <li>Lvl 68+:</li>         
  </div>
</ul>

 <!--Area has increased monster variety-->
<ul>      
  <div id="Multifarious">
  <h3>Multifarious (10% Quantity, 5% Rarity)<br></h3>
    <li>Lvl 68+:</li>         
  </div>
</ul>

 <!--Unique Boss deals #% Damage / Attacks #% faster-->
<ul>      
  <div id="Overlord">
  <h3>Overlord's (10% Quantity, 5% Rarity)<br></h3>
    <li>Lvl 68-73: 25% / 20%</li>
    <li>Lvl 74-78: 30% / 25%</li>
    <li>Lvl 79+: 35% / 30%</li>         
  </div>
</ul>   

 <!--Area contains many Totems-->
<ul>      
  <div id="Ceremonial">
  <h3>Ceremonial (12% Quantity)<br></h3>
    <li>Lvl 68+:</li>             
  </div>
</ul> 

 <!--Area contains two Unique Bosses-->
<ul>      
  <div id="Twinned">
  <h3>Twinned (12% Quantity, 6% Rarity)<br></h3>
    <li>Lvl 68+:</li>             
  </div>
</ul> 

 <!--#% Monster Fire Resistance-->
<ul>      
  <div id="Incombustible">
  <h3>Incombustible (12% Quantity, 6% Rarity)<br></h3>
    <li>Lvl 68-73: 40%</li> 
    <li>Lvl 74-78: 60%</li>
    <li>Lvl 79+: 80%</li>            
  </div>
</ul>

 <!--#% Monster Cold Resistance-->
<ul>      
  <div id="Molten">
  <h3>Molten (12% Quantity, 6% Rarity)<br></h3>
    <li>Lvl 68-73: 40%</li> 
    <li>Lvl 74-78: 60%</li>
    <li>Lvl 79+: 80%</li>            
  </div>
</ul>

 <!--#% Monster Lightning Resistance-->
<ul>      
  <div id="Grounded">
  <h3>Grounded (12% Quantity, 6% Rarity)<br></h3>
    <li>Lvl 68-73: 40%</li> 
    <li>Lvl 74-78: 60%</li>
    <li>Lvl 79+: 80%</li>            
  </div>
</ul>

 <!--#% Monster Physical Damage Reduction-->
<ul>      
  <div id="Armoured">
  <h3>Armoured (12% Quantity, 6% Rarity)<br></h3>
    <li>Lvl 68-73: 20%</li> 
    <li>Lvl 74-78: 30%</li>
    <li>Lvl 79+: 40%</li>            
  </div>
</ul>

 <!--#% more Rare Monsters / Rare Monsters each have a Nemesis Mod-->
<ul>      
  <div id="Antagonists">
  <h3>Antagonist's (12% Quantity, 6% Rarity)<br></h3>
    <li>Lvl 68+: 20% to 30% </li>                
  </div>
</ul>

 <!--Area is inhabited by ranged monsters-->
<ul>      
  <div id="Emanant">
  <h3>Emanant (12% Quantity, 6% Rarity)<br></h3>
    <li>Lvl 68+: </li>                
  </div>
</ul>

 <!--Slaying Enemies close together can attract monsters from Beyond-->
<ul>      
  <div id="Otherworldly">
  <h3>Otherworldly (12% Quantity, 6% Rarity)<br></h3>
    <li>Lvl 68+:</li>                
  </div>
</ul>

 <!--Monsters fire # additional Projectiles-->
<ul>      
  <div id="Splitting">
  <h3>Splitting (15% Quantity, 8% Rarity)<br></h3>
    <li>Lvl 68-73: 2</li>
    <li>Lvl 74-78: 3 </li>
    <li>Lvl 79+: 4</li>                
  </div>
</ul>

 <!--#% more Monster Life-->
<ul>      
  <div id="Fecund">
  <h3>Fecund (15% Quantity, 8% Rarity)<br></h3>
    <li>Lvl 68-73: 20 to 29</li>
    <li>Lvl 74-78: 30 to 39</li>
    <li>Lvl 79+: 40 to 49</li>                
  </div>
</ul>

 <!--Monsters deal #% extra Damage as Fire-->
<ul>      
  <div id="Burning">
  <h3>Burning (15% Quantity, 8% Rarity)<br></h3>
    <li>Lvl 68-73: 50 to 69</li>
    <li>Lvl 74-78: 70 to 89</li>
    <li>Lvl 79+: 90 to 110</li>                
  </div>
</ul>

 <!--Monsters deal #% extra Damage as Cold-->
<ul>      
  <div id="Freezing">
  <h3>Freezing (15% Quantity, 8% Rarity)<br></h3>
    <li>Lvl 68-73: 50 to 69</li>
    <li>Lvl 74-78: 70 to 89</li>
    <li>Lvl 79+: 90 to 110</li>                
  </div>
</ul>

 <!--Monsters deal #% extra Damage as Lightning-->
<ul>      
  <div id="Shocking">
  <h3>Shocking (15% Quantity, 8% Rarity)<br></h3>
    <li>Lvl 68-73: 50 to 69</li>
    <li>Lvl 74-78: 70 to 89</li>
    <li>Lvl 79+: 90 to 110</li>                
  </div>
</ul>

 <!--Area is inhabited by # additional Rogue Exiles-->
<ul>      
  <div id="Anarchic">
  <h3>Anarchic (15% Quantity, 8% Rarity)<br></h3>
    <li>Lvl 68+: 2</li>                
  </div>
</ul>

 <!--Area is inhabited by Animals-->
<ul>      
  <div id="Feral">
  <h3>Feral (15% Quantity, 8% Rarity)<br></h3>
    <li>Lvl 68+: </li>                
  </div>
</ul>

 <!--Area is inhabited by Demons-->
<ul>      
  <div id="Demonic">
  <h3>Demonic (15% Quantity, 8% Rarity)<br></h3>
    <li>Lvl 68+: </li>                
  </div>
</ul>

 <!--Area is inhabited by Humanoids-->
<ul>      
  <div id="Bipedal">
  <h3>Bipedal (15% Quantity, 8% Rarity)<br></h3>
    <li>Lvl 68+: </li>                
  </div>
</ul>

 <!--Monsters' skills Chain # additional times-->
<ul>      
  <div id="Chaining">
  <h3>Chaining (15% Quantity, 8% Rarity)<br></h3>
    <li>Lvl 68+: 2 </li>                
  </div>
</ul>

 <!--Monsters reflect #% of Physical Damage-->
<ul>      
  <div id="Punishing">
  <h3>Punishing (16% Quantity, 8% Rarity)<br></h3>
    <li>Lvl 68-73: 13</li>
    <li>Lvl 74-78: 15</li>
    <li>Lvl 79+: 18</li>                
  </div>
</ul>

 <!--Monsters reflect #% of Elemental Damage-->
<ul>      
  <div id="Mirrored">
  <h3>Mirrored (16% Quantity, 8% Rarity)<br></h3>
    <li>Lvl 68-73: 13</li>
    <li>Lvl 74-78: 15</li>
    <li>Lvl 79+: 18</li>                
  </div>
</ul>

 <!--Area is inhabited by Goatmen-->
<ul>      
  <div id="Capricious">
  <h3>Capricious (16% Quantity, 8% Rarity)<br></h3>
    <li>Lvl 68+: </li>              
  </div>
</ul>

 <!--Monsters are Immune to Curses-->
<ul>      
  <div id="Hexproof">
  <h3>Hexproof (16% Quantity, 8% Rarity)<br></h3>
    <li>Lvl 68+: </li>              
  </div>
</ul>

 <!--Monsters cannot be Stunned / #% more Monster Life-->
<ul>      
  <div id="Unwavering">
  <h3>Unwavering (18% Quantity, 8% Rarity)<br></h3>
    <li>Lvl 68-73: 15 to 19</li>
    <li>Lvl 74-78: 20 to 24</li>
    <li>Lvl 79+: 25 to 30</li>              
  </div>
</ul>

 <!--#% increased Monster Damage-->
<ul>      
  <div id="Deadly">
  <h3>Deadly (18% Quantity, 8% Rarity)<br></h3>
    <li>Lvl 68-73: 15 to 19</li>
    <li>Lvl 74-78: 20 to 24</li>
    <li>Lvl 79+: 25 to 30</li>              
  </div>
</ul>

 <!--#% increased Monster Movement Speed / #% increased Monster Attack Speed-->
<ul>      
  <div id="Fleet">
  <h3>Deadly (20% Quantity, 10% Rarity)<br></h3>
    <li>Lvl 68-73: 15 to 20 / 20 to 25</li>
    <li>Lvl 74-78: 20 to 25 / 25 to 35</li>
    <li>Lvl 79+: 25 to 30 / 35 to 45</li>              
  </div>
</ul>



<!--SUFFIX-->



 <!--Players have Elemental Equilibrium-->
<ul>      
  <div id="Balance">
  <h3>of Balance (10% Quantity, 5% Rarity, 10% PackSize)<br></h3>
    <li>Lvl 68+:</li>              
  </div>
</ul>

 <!--Area has patches of burning ground-->
<ul>      
  <div id="Flames">
  <h3>of Flames (12% Quantity, 6% Rarity,)<br></h3>
    <li>Lvl 68+:</li>              
  </div>
</ul>

 <!--Area has patches of chilled ground-->
<ul>      
  <div id="Ice">
  <h3>of Ice (12% Quantity, 6% Rarity)<br></h3>
    <li>Lvl 68+:</li>              
  </div>
</ul>

 <!--Area has patches of shocking ground-->
<ul>      
  <div id="Lightning">
  <h3>of Lightning (12% Quantity, 6% Rarity)<br></h3>
    <li>Lvl 68+:</li>              
  </div>
</ul>

 <!--Area has patches of desecrated ground-->
<ul>      
  <div id="Desecration">
  <h3>of Desecration (12% Quantity, 6% Rarity)<br></h3>
    <li>Lvl 68+:</li>              
  </div>
</ul>

 <!--Magic Monster Packs each have a Bloodline Mod /#% more Magic Monsters-->
<ul>      
  <div id="Bloodlines">
  <h3>of Bloodlines (12% Quantity, 6% Rarity)<br></h3>
    <li>Lvl 68+: 20 to 30</li>              
  </div>
</ul>

 <!--Monsters gain # Frenzy Charge every 20 seconds-->
<ul>      
  <div id="Frenzy">
  <h3>of Frenzy (14% Quantity, 7% Rarity)<br></h3>
    <li>Lvl 68-73: 1</li>
    <li>Lvl 74-78: 2</li>
    <li>Lvl 79+: 3</li>              
  </div>
</ul>

 <!--Monsters gain # Frenzy Charge every 20 seconds-->
<ul>      
  <div id="Power">
  <h3>of Power (14% Quantity, 7% Rarity)<br></h3>
    <li>Lvl 68-73: 1</li>
    <li>Lvl 74-78: 2</li>
    <li>Lvl 79+: 3</li>              
  </div>
</ul>

 <!--Players have Blood Magic-->
<ul>      
  <div id="Venom">
  <h3>of Venom (15% Quantity, 8% Rarity)<br></h3>    
    <li>Lvl 68+:</li>                  
  </div>
</ul>

 <!--Monsters Poison on Hit-->
<ul>      
  <div id="Hemomancy">
  <h3>of Hemomancy (15% Quantity, 8% Rarity, 10% pack Size)<br></h3>    
    <li>Lvl 74+: </li>                  
  </div>
</ul>

 <!--Players are cursed with Elemental Weakness-->
<ul>      
  <div id="ElementalWeakness">
  <h3>of Elemental Weakness (18% Quantity, 9% Rarity, 14% pack Size)<br></h3>    
    <li>Lvl 74+: </li>                  
  </div>
</ul>

 <!--Players are cursed with Vulnerability-->
<ul>      
  <div id="Vulnerability">
  <h3>of Vulnerability (18% Quantity, 9% Rarity, 14% pack Size)<br></h3>    
    <li>Lvl 74+: </li>                  
  </div>
</ul>

 <!--Players are cursed with Enfeeble-->
<ul>      
  <div id="Enfeeblement">
  <h3>of Enfeeblement (18% Quantity, 9% Rarity, 14% pack Size)<br></h3>    
    <li>Lvl 74+: </li>                  
  </div>
</ul>

 <!--Players are cursed with Temporal Chains-->
<ul>      
  <div id="TemporalChains">
  <h3>of Temporal Chains (18% Quantity, 9% Rarity, 14% pack Size)<br></h3>    
    <li>Lvl 74+: </li>                  
  </div>
</ul>

 <!--#% maximum Player Resistances-->
<ul>      
  <div id="Exposure">
  <h3>of Exposure (18% Quantity, 9% Rarity, 16% pack Size)<br></h3>    
    <li>Lvl 74+: </li>                  
  </div>
</ul>

 <!--Players Recover Life, Mana and Energy Shield #% slower-->
<ul>      
  <div id="Smothering">
  <h3>of Smothering (20% Quantity, 15% Rarity, 15% pack Size)<br></h3>    
    <li>Lvl 68-73: 20</li>
    <li>Lvl 74-78: 40</li>
    <li>Lvl 79+: 60</li>                  
  </div>
</ul>

 <!--Players have no Life or Mana Regeneration-->
<ul>      
  <div id="Stasis">
  <h3>of Stasis (20% Quantity, 10% Rarity, 12% pack Size)<br></h3>
    <li>Lvl 74+: </li>               
  </div>
</ul>

 <!--Monsters Fracture-->
<ul>      
  <div id="Fracturing">
  <h3>of Fracturing (25% Quantity, 12% Rarity)<br></h3>
    <li>Lvl 74+: </li>               
  </div>
</ul>




</body>


</html>
