<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>

<ol>
  <div id="1haxewcraft">
    <strong>Leo</strong>
    <ol>
      <li>Lvl 2: 10 to 15% reduced Enemy Block Chance </li>
      <li>Lvl 3: 15 to 30% increased Damage over Time </li>
    </ol>
    </li>
    <strong>Tora</strong>
    <ol>
      <li>Lvl 8: Suffixes Cannot Be Changed</li>
    </ol>
    <strong>Vagan</strong>
    <ol>
      <li>Lvl 6: 2 to 5% additional Chance to Block while Dual Wielding</li>
      <li>Lvl 7: Causes bleeding on hit</li>
    </ol>
  </div>
  <div id="1haxecrafts"> <strong>Catarina</strong>
  <ol>
    <li>Lvl 8: Cannot roll Attack Mods</li>
  </ol>
    <strong>Elreon</strong>
  <ol>
    <li>Lvl 8: Can have multiple Crafted Mods</li>
  </ol>
    <strong>Haku</strong>
  <ol>
    <li>Lvl 8: Prefixes Cannot Be Changed</li>
  </ol>
    <strong>Leo</strong>
  <ol>
    <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
  </ol>
    <strong>Vagan</strong>
  <ol>
    <li>Lvl 7: +1 to 2 to weapon range</li>
    <li>Lvl 8: Cannot roll Caster Mods</li>
  </ol>
  </div>
  <div id="clawcraftp"><strong>Catarina</strong>
<ol>
      <li>Lvl 5: 2 to 5% Increased Chance to Shock</li>
      <li>Lvl 5: 2 to 5% Increased Chance to Freeze</li>
      <li>Lvl 5: 2 to 5% Increased Chance to Ignite</li>
      <li>Lvl 6: 1% of Fire Damage Leeched as Life</li>
      <li>Lvl 6: 1% of Cold Damage Leeched as Life</li>
      <li>Lvl 6: 1% of Lightning Damage Leeched as Life</li>
      <li>Lvl 7: 30 to 50% increased Curse duration</li>
    </ol>
        
    <strong>Leo</strong>
<ol>
      <li>Lvl 2: 10 to 15% reduced Enemy Block Chance </li>
      <li>Lvl 3: 15 to 30% increased Damage over Time</li>
    </ol>    
    <strong>Tora</strong>
    <ol>
      <li>Lvl 8: Suffixes Cannot Be Changed</li>
    </ol>    
    <strong>Vagan</strong>
<ol>
      <li>Lvl 6: 2 to 5% additional Chance to Block while Dual Wielding</li>
      <li>Lvl 7: Causes bleeding on hit</li>
    </ol>
  </div>
  <div id="clawcrafts"><strong>Catarina</strong>
<ol>
  <li>Lvl 8: Cannot roll Attack Mods</li>
</ol>
    <strong>Elreon</strong>
<ol>
      <li>Lvl 8: Can have multiple Crafted Mods</li>
    </ol>
    <strong>Haku</strong>
<ol>
      <li>Lvl 8: Prefixes Cannot Be Changed</li>
    </ol>
    <strong>Leo</strong>
<ol>
      <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
    </ol>
    <strong>Vagan</strong>
<ol>
      <li>Lvl 7: +1 to 2 to weapon range</li>
      <li>Lvl 8: Cannot roll Caster Mods</li>
    </ol>
  </div>
  <div id="dagcraftp">
    <strong>Catarina</strong>
    <ol>
      <li>Lvl 5: 2 to 5% Increased Chance to Shock</li>
      <li>Lvl 5: 2 to 5% Increased Chance to Freeze</li>
      <li>Lvl 5: 2 to 5% Increased Chance to Ignite</li>
      <li>Lvl 6: 1% of Fire Damage Leeched as Life</li>
      <li>Lvl 6: 1% of Cold Damage Leeched as Life</li>
      <li>Lvl 6: 1% of Lightning Damage Leeched as Life</li>
      <li>Lvl 7: 30 to 50% increased Curse duration</li>
    </ol>
    <strong>Leo</strong>
    <ol>
      <li>Lvl 2: 10 to 15% reduced Enemy Block Chance </li>
      <li>Lvl 3: 15 to 30% increased Damage over Time</li>
    </ol>
    <strong>Tora</strong>
    <ol>
      <li>Lvl 8: Suffixes Cannot Be Changed</li>
    </ol>
    <strong>Vagan</strong>
    <ol>
      <li>Lvl 6: 2 to 5% additional Chance to Block while Dual Wielding</li>
      <li>Lvl 7: Causes bleeding on hit</li>
    </ol>
  </div>
  <div id="dagcrafts"> <strong>Catarina</strong>
    <ol>
      <li>Lvl 8: Cannot roll Attack Mods</li>
    </ol>
    <strong>Elreon</strong> 
    <ol>
      <li>Lvl 8: Can have multiple Crafted Mods</li>
    </ol>
    <strong>Haku</strong>
    <ol>
      <li>Lvl 8: Prefixes Cannot Be Changed</li>
    </ol>
    <strong>Leo</strong>
    <ol>
      <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
    </ol>
    <strong>Vagan</strong>
    <ol>
      <li>Lvl 7: +1 to 2 to weapon range</li>
      <li>Lvl 8: Cannot roll Caster Mods</li>
    </ol>
  </div>
  <div id="1hmacecraftp"><strong>Leo</strong>
    <ol>
      <li>Lvl 2: 10 to 15% reduced Enemy Block Chance </li>
      <li>Lvl 3: 15 to-30% increased Damage over Time </li>
    </ol>
    <strong>Tora</strong>
    <ol>
      <li>Lvl 8: Suffixes Cannot Be Changed</li>
    </ol>
    <strong>Vagan</strong>
    <ol>
      <li>Lvl 6: 2 to 5% additional Chance to Block while Dual Wielding</li>
      <li>Lvl 7: Gems in this item are Supported by Lvl 1 Blood Magic</li>
    </ol>
  </div>
  <div id="1hmacecrafts"><strong>Catarina</strong>
    <ol>
      <li>Lvl 8: Cannot roll Attack Mods</li>
    </ol>
    <strong>Elreon</strong>
    <ol>
      <li>Lvl 8: Can have <a href="#openModal97">multiple</a> Crafted Mods</li>
    </ol>
    <blockquote>
      <p><strong>Haku</strong>
      </p>
    </blockquote>
    <ol>
      <li>Lvl 8: Prefixes Cannot Be Changed</li>
    </ol>
    <strong>Leo</strong>
    <ol>
      <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
    </ol>
    <strong>Vagan</strong>
    <ol>
      <li>Lvl 7: +1 to 2 to weapon range</li>
      <li>Lvl 8: Cannot roll Caster Mods</li>
    </ol>
  </div>
  <div id="sceptrecraftp"><strong>Catarina</strong>
  <ol>
    <li>Lvl 5: 2 to 5% Increased Chance to Shock</li>
    <li>Lvl 5: 2 to 5% Increased Chance to Freeze</li>
    <li>Lvl 5: 2 to 5% Increased Chance to Ignite</li>
    <li>Lvl 6: 1% of Fire Damage Leeched as Life</li>
    <li>Lvl 6: 1% of Cold Damage Leeched as Life</li>
    <li>Lvl 6: 1% of Lightning Damage Leeched as Life</li>
    <li>Lvl 7: 30 to 50% increased Curse duration</li>
  </ol>
    <strong>Leo</strong>
  <ol>
    <li>Lvl 2: 10 to 15% reduced Enemy Block Chance </li>
    <li>Lvl 3: 15 to 30% increased Damage over Time</li>
  </ol>
    <strong>Tora</strong>
  <ol>
    <li>Lvl 8: Suffixes Cannot Be Changed</li>
  </ol>
    <strong>Vagan</strong>
  <ol>
    <li>Lvl 6: 2 to 5% additional Chance to Block while Dual Wielding</li>
    <li>Lvl 7: Gems in this item are Supported by Lvl 1 Blood Magic</li>
  </ol>
  </div>
  <div id="sceptrecrafts"><strong>Catarina</strong>
  <ol>
    <li>Lvl 8: Cannot roll Attack Mods</li>
  </ol>
    <strong>Elreon</strong> 
  <ol>
    <li>Lvl 8: Can have multiple Crafted Mods</li>
  </ol>
    <strong>Haku</strong>
  <ol>
    <li>Lvl 8: Prefixes Cannot Be Changed</li>
  </ol>
    <strong>Leo</strong>
  <ol>
    <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
  </ol>
    <strong>Vagan</strong>
  <ol>
    <li>Lvl 7: +1-2 to weapon range</li>
    <li>Lvl 8: Cannot roll Caster Mods</li>
  </ol>
  </div>
  <div id="1hswordcraftp"><strong>Leo</strong>
  <ol>
    <li>Lvl 2: 10 to 15% reduced Enemy Block Chance </li>
    <li>Lvl 3: 15 to 30% increased Damage over Time </li>
  </ol>
    <strong>Tora</strong>
  <ol>
    <li>Lvl 8: Suffixes Cannot Be Changed</li>
  </ol>
    <strong>Vagan</strong>
  <ol>
    <li>Lvl 6: 2 to 5% additional Chance to Block while Dual Wielding</li>
    <li>Lvl 7: Causes bleeding on hit</li>
  </ol>
  </div>
  <div id="1hswordcrafts"><strong>Catarina</strong>
    <ol>
      <li>Lvl 8: Cannot roll Attack Mods</li>
    </ol>
    <strong>Elreon</strong> 
    <ol>
      <li>Lvl 8: Can have multiple Crafted Mods</li>
    </ol>
    <strong>Haku</strong>
    <ol>
      <li>Lvl 8: Prefixes Cannot Be Changed</li>
    </ol>
    <strong>Leo</strong>
    <ol>
      <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
    </ol>
    <strong>Vagan</strong>
    <ol>
      <li>Lvl 7: +1 to 2 to weapon range</li>
      <li>Lvl 8: Cannot roll Caster Mods</li>
    </ol>
  </div>
  <div id="wandcraftp"><strong>Catarina</strong>
    <ol>
      <li>Lvl 5: 2 to 5% Increased Chance to Shock</li>
      <li>Lvl 5: 2 to 5% Increased Chance to Freeze</li>
      <li>Lvl 5: 2 to 5% Increased Chance to Ignite</li>
      <li>Lvl 6: 1% of Fire Damage Leeched as Life</li>
      <li>Lvl 6: 1% of Cold Damage Leeched as Life</li>
      <li>Lvl 6: 1% of Lightning Damage Leeched as Life</li>
      <li>Lvl 7: 30 to 50% increased Curse duration</li>
    </ol>
    <strong>Leo</strong>
    <ol>
      <li>Lvl 2: 10 to 15% reduced Enemy Block Chance </li>
      <li>Lvl 3: 15 to 30% increased Damage over Time</li>
    </ol>
    <strong>Tora</strong>
    <ol>
      <li>Lvl 8: Suffixes Cannot Be Changed</li>
    </ol>
  </div>
  <div id="wandcrafts">
    <strong>Catarina</strong>
       <ol>
        <li>Lvl 8: Cannot roll Attack Mods</li>
      </ol>
    <strong>Elreon</strong>
      <ol>
        <li>Lvl 8: Can have multiple Crafted Mods</li>
      </ol>    
    <strong>Haku</strong>
      <ol>
        <li>Lvl 8: Prefixes Cannot Be Changed</li>
      </ol>    
    <strong>Leo</strong>
      <ol>
        <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
      </ol>    
    <strong>Vagan</strong>
      <ol>
        <li>Lvl 8: Cannot roll Caster Mods</li>
      </ol>    
  </div>
  <div id="2haxep"><strong> Leo</strong>
    <ol>
      <li>Lvl 2: 10 to 15% reduced Enemy Block Chance </li>
      <li>Lvl 3: 15 to 30% increased Damage over Time</li>
      <li>Lvl 3: 10 to 20% reduced Damage taken from Damage Over Time</li>
    </ol>
    <strong>Tora</strong>
    <ol>
      <li>Lvl 8: Suffixes Cannot Be Changed</li>
    </ol>
    <strong>Vagan</strong>
    <ol>
      <li>Lvl 7: Causes bleeding on hit</li>
    </ol>
  </div>
  <div id="2haxes"><strong> Catarina </strong>
    <ol>
      <li>Lvl 8: Cannot roll Attack Mods</li>
    </ol>
  <strong> Elreon </strong>
  <ol>
    <li>Lvl 8: Can have multiple Crafted Mods</li>
  </ol>
  <strong> Haku </strong>
  <ol>
    <li>Lvl 8: Prefixes Cannot Be Changed</li>
  </ol>
  <strong> Leo </strong>
  <ol>
    <li>Lvl 3: 10 to 20% reduced Damage taken from Damage Over Time</li>
    <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
  </ol>
  <strong> Vagan </strong>
    <ol>
      <li>Lvl 7: +1 to 2 to weapon range</li>
      <li>Lvl 8: Cannot roll Caster Mods</li>
    </ol>
  </div>
  <div id="bowcraftp"><strong>Leo</strong>
  <ol>
    <li>Lvl 2: 10 to 15% reduced Enemy Block Chance </li>
    <li>Lvl 3: 15 to 30% increased Damage over Time</li>
    <li>Lvl 3: 10 to 20% reduced Damage taken from Damage Over Time</li>
  </ol>  
    <strong>Tora</strong>
  <ol>
    <li>Lvl 7: Attack Projectiles return to you</li>
    <li>Lvl 8: Suffixes Cannot Be Changed</li>
  </ol>
  </div>
  <div id="bowcrafts"><strong>Catarina</strong>
  <ol>
    <li>Lvl 8: Cannot roll Attack Mods</li>
  </ol>
    <strong>Elreon</strong>
  <ol>
    <li>Lvl 8: Can have multiple Crafted Mods</li>
  </ol>
    <strong>Haku</strong>
  <ol>
    <li>Lvl 8: Prefixes Cannot Be Changed</li>
  </ol>
    <strong>Leo</strong>
  <ol>
    <li>Lvl 3: 10 to 20% reduced Damage taken from Damage Over Time</li>
    <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
  </ol>
    <strong>Vagan</strong>
  <ol>
    <li>Lvl 8: Cannot roll Caster Mods</li>
  </ol>
  </div>
  <div id="2hmacecraftp"><strong> Leo</strong>
    <ol>
      <li>Lvl 2: 10 to 15% reduced Enemy Block Chance </li>
      <li>Lvl 3: 15 to 30% increased Damage over Time</li>
    </ol>
    <strong>Tora</strong>
    <ol>
      <li>Lvl 8: Suffixes Cannot Be Changed</li>
    </ol>
    <strong>Vagan</strong>
    <ol>
      <li>Lvl 7: Gems in this item are Supported by Lvl 1 Blood Magic</li>
    </ol>
  </div>
  <div id="2hmacecrafts"><strong>Catarina</strong>
  <ol>
    <li>Lvl 8: Cannot roll Attack Mods</li>
  </ol>
    <strong>Elreon</strong>
  <ol>
    <li>Lvl 8: Can have multiple Crafted Mods</li>
  </ol>
    <strong>Haku</strong>
  <ol>
    <li>Lvl 8: Prefixes Cannot Be Changed</li>
  </ol>
    <strong>Leo</strong>
  <ol>
    <li>Lvl 3: 10 to 20% reduced Damage taken from Damage Over Time</li>
    <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
  </ol>
    <strong>Vagan</strong>
  <ol>
    <li>Lvl 7: +1 to 2 to weapon range</li>
    <li>Lvl 8: Cannot roll Caster Mods</li>
  </ol>
  </div>
  <div id="staffcraftp"><strong>Catarina</strong>
  <ol>
    <li>lvl 5: 2-5% Increased Chance to Shock</li>
    <li>lvl 5: 2-5% Increased Chance to Freeze</li>
    <li>lvl 5: 2-5% Increased Chance to Ignite</li>
    <li>lvl 6: 1% of Fire Damage Leeched as Life</li>
    <li>lvl 6: 1% of Cold Damage Leeched as Life</li>
    <li>lvl 6: 1% of Lightning Damage Leeched as Life</li>
    <li>lvl 7: 30 to 50% increased Curse duration</li>
  </ol>
    <strong>Leo</strong>
  <ol>
    <li>Lvl 2: 10 to 15% reduced Enemy Block Chance </li>
    <li>Lvl 3: 15 to 30% increased Damage over Time</li>
  </ol>
    <strong>Tora</strong>
  <ol>
    <li>Lvl 8: Suffixes Cannot Be Changed</li>
  </ol>
    <strong>Vagan</strong>
  <ol>
    <li>Lvl 7: Gems in this item are Supported by Lvl 1 Blood Magic</li>
  </ol>
  </div>
  <div id="staffcrafts"><strong>Catarina</strong>
  <ol>
    <li>Lvl 8: Cannot roll Attack Mods</li>
  </ol>
    <strong>Elreon</strong>
  <ol>
    <li>Lvl 8: Can have multiple Crafted Mods</li>
  </ol>
    <strong>Haku</strong>
  <ol>
    <li>Lvl 8: Prefixes Cannot Be Changed</li>
  </ol>
    <strong>Leo</strong>
  <ol>
    <li>Lvl 3: 10 to 20% reduced Damage taken from Damage Over Time</li>
    <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
  </ol>
    <strong>Vagan</strong>
  <ol>
    <li>Lvl 7: +1 to 2 to weapon range</li>
    <li>Lvl 8: Cannot roll Caster Mods</li>
  </ol>
  </div>
  <div id="2hswordcraftp"><strong>Leo</strong>
  <ol>
    <li>Lvl 2: 10 to 15% reduced Enemy Block Chance </li>
    <li>Lvl 3: 15 to 30% increased Damage over Time</li>
    <li>Lvl 3: 10 to 20% reduced Damage taken from Damage Over Time</li>
  </ol>  
    <strong>Tora</strong>
  <ol>
    <li>Lvl 8: Suffixes Cannot Be Changed</li>
  </ol>
    <strong>Vagan</strong>
  <ol>
    <li>Lvl 7: Causes bleeding on hit</li>
  </ol>
  </div>
  <div id="2hswordcrafts"><strong> Catarina</strong>
    <ol>
      <li>Lvl 8: Cannot roll Attack Mods</li>
    </ol>
    <strong>Elreon</strong>
    <ol>
      <li>Lvl 8: Can have multiple Crafted Mods</li>
    </ol>
    <strong>Haku</strong>
    <ol>
      <li>Lvl 8: Prefixes Cannot Be Changed</li>
    </ol>
    <strong>Leo</strong>
    <ol>
      <li>Lvl 3: 10 to 20% reduced Damage taken from Damage Over Time</li>
      <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
    </ol>
    <strong>Vagan</strong>
    <ol>
      <li>Lvl 7: +1 to 2 to weapon range</li>
      <li>Lvl 8: Cannot roll Caster Mods</li>
    </ol>
  </div>
  <div id="chestcraftp"><strong>Catarina</strong>
  <ol>
    <li>Lvl 5: +2 to Maximum number of Skeletons</li>
    <li>Lvl 6: +1 to Maximum number of Zombies</li>
  </ol>
    <strong>Haku</strong>
  <ol>
    <li>Lvl 1: Equipped Animated Guardian drops item on death</li>
    <li>Lvl 6: 4 to 12% increased Weapon Elemental Damage</li>
  </ol>
    <strong>Tora</strong>
  <ol>
    <li>Lvl 8: Suffixes Cannot Be Changed</li>
  </ol>
  </div>
  <div id="chestcrafts"><strong>Catarina</strong>
  <ol>
    <li>Lvl 7: 10 to 20% increased Shock duration</li>
    <li>Lvl 7: 10 to 20% increased Chill and Freeze duration</li>
    <li>Lvl 7: 10 to 20% increased Ignite duration</li>
    <li>Lvl 8: Cannot roll Attack Mods</li>
  </ol>  
    <strong>Elreon</strong> 
  <ol>
    <li>Lvl 8: Can have multiple Crafted Mods</li>
  </ol>
    <strong>Leo</strong>
  <ol>
    <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
  </ol>
    <strong>Haku</strong>
  <ol>
    <li>Lvl 6: +11 to 14 to All Attributes</li>
    <li>Lvl 7: +8 to 13% to Fire and Cold Resistances</li>
    <li>Lvl 7: +8 to 13% to Cold and Lightning Resistances</li>
    <li>Lvl 7: +8 to 13% to Fire and Lightning Resistances</li>
  </ol>  
    <strong>Vagan</strong>
  <ol>
    <li>Lvl 8: Cannot roll Caster Mods</li>
  </ol>
  </div>
  <div id="helmcraftp"><strong>Haku</strong>
  <ol>
    <li>Lvl 8: 4 to 12% increased Weapon Elemental Damage</li>
  </ol>
    <strong>Tora</strong>
  <ol>
    <li>Lvl 8: Suffixes Cannot Be Changed</li>
  </ol>
  </div>
  <div id="helmcrafts"><strong>Catarina</strong>
  <ol>
    <li>Lvl 8: Cannot roll Attack Mods</li>
  </ol>
    <strong>Elreon </strong>
  <ol>
    <li>Lvl 8: Can have multiple Crafted Mods</li>
  </ol>
    <strong>Leo</strong>
  <ol>
    <li>Lvl 5: 25 to 35% chance to Avoid being Stunned</li>
    <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
  </ol>
    <strong>Haku</strong>
  <ol>
    <li>Lvl 6: +11 to 14 to All Attributes</li>
    <li>Lvl 7: +8 to 13% to Fire and Cold Resistances</li>
    <li>Lvl 7: +8 to 13% to Cold and Lightning Resistances</li>
    <li>Lvl 7: +8 to 13% to Fire and Lightning Resistances</li>
    <li>Lvl 8: Prefixes Cannot Be Changed</li>
  </ol>  
    <strong>Vagan</strong>
  <ol>
    <li>Lvl 8: Cannot roll Caster Mods</li>
  </ol>
  </div>
  <div id="glovecraftp"><strong>Catarina</strong>
  <ol>
    <li>Lvl 6: Minions have 10 to 15% increased maximum Life</li>
  </ol>
    <strong>Tora</strong>
  <ol>
    <li>Lvl 8: Suffixes Cannot Be Changed</li>
  </ol>
  </div>
  <div id="glovecrafts"><strong>Catarina</strong>
  <ol>
    <li>Lvl 8: Cannot roll Attack Mods</li>
  </ol>
    <strong>Elreon</strong>
  <ol>
    <li>Lvl 8: Can have multiple Crafted Mods</li>
  </ol>
    <strong>Leo</strong>
  <ol>
    <li>Lvl 4: 20 to 25% chance to Avoid being Ignited</li>
    <li>Lvl 5: 20 to 25% chance to Avoid being Chilled</li>
    <li>Lvl 6: 20 to 25% chance to Avoid being Frozen</li>
    <li>Lvl 7: 20 to 25% chance to Avoid being Shocked</li>
    <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
  </ol>  
    <strong>Haku</strong>
  <ol>
    <li>Lvl 6: +11 to 14 to All Attributes</li>
    <li>Lvl 7: 1 to 2% increased Block chance</li>
    <li>Lvl 7: +8 to 13% to Fire and Cold Resistances</li>
    <li>Lvl 7: +8 to 13% to Cold and Lightning Resistances</li>
    <li>Lvl 7: +8 to 13% to Fire and Lightning Resistances</li>
    <li>Lvl 8: Prefixes Cannot Be Changed</li>
  </ol>
  </div>
  <div id="bootcraftp"><strong>Haku</strong>
  <ol>
    <li>Lvl 8: 4 to 12% increased Weapon Elemental Damage</li>
  </ol>
    <strong>Tora</strong>
  <ol>
    <li>Lvl 8: Suffixes Cannot Be Changed</li>
  </ol>
  </div>
  <div id="bootcrafts"><strong>Catarina</strong>
  <ol>
    <li>Lvl 8: Cannot roll Attack Mods</li>
  </ol>
    <strong>Elreon</strong>
  <ol>
    <li>Lvl 8: Can have multiple Crafted Mods</li>
  </ol>
    <strong>Leo</strong>
  <ol>
    <li>Lvl 5: 50% chance to Avoid being Knocked Back</li>
    <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
  </ol>
    <strong>Haku</strong>
  <ol>
    <li>Lvl 6: +11 to 14 to All Attributes</li>
    <li>Lvl 7: +8 to 13% to Fire and Cold Resistances</li>
    <li>Lvl 7: +8 to 13% to Cold and Lightning Resistances</li>
    <li>Lvl 7: +8 to 13% to Fire and Lightning Resistances</li>
    <li>Lvl 8: Prefixes Cannot Be Changed</li>
  </ol>
  </div>
  <div id="shieldcraftp"><strong>Catarina</strong>
  <ol>
    <li>Lvl 7: 30 to 50% increased Curse duration</li>
  </ol>
    <strong>Haku</strong>
  <ol>
    <li>Lvl 5: Adds 3 to 4 / 6 to 7 Physical Damage</li>
    <li>Lvl 6 : 4 to 12% increased Weapon Elemental Damage</li>
  </ol>
    <strong>Leo</strong>
  <ol>
    <li>Lvl 2: Reflects 30 to 40 / 70 to 80 Physical Damage to Attackers on Block</li>
    <li>Lvl 6: Reflects 150 to 200 Physical Damage to Attackers on Block</li>
  </ol>
    <strong>Tora</strong>
  <ol>
    <li>Lvl 8: Suffixes Cannot Be Changed</li>
  </ol>
  </div>
  <div id="shieldcrafts"> <strong>Catarina</strong>
  <ol>
    <li>Lvl 5: 4 to 8% increased Cast Speed</li>
    <li>Lvl 8: Cannot roll Attack Mods</li>
  </ol>
    <strong>Elreon </strong>
  <ol>
    <li>Lvl 8: Can have multiple Crafted Mods</li>
  </ol>
    <strong>Haku</strong>
  <ol>
    <li>Lvl 6: +11 to 14 to All Attributes</li>
    <li>Lvl 7: +8 to 13% to Fire and Cold Resistances</li>
    <li>Lvl 7: +8 to 13% to Cold and Lightning Resistances</li>
    <li>Lvl 7: +8 to 13% to Fire and Lightning Resistances</li>
    <li>Lvl 8: Prefixes Cannot Be Changed</li>
  </ol>  
    <strong>Leo</strong>
  <ol>
    <li>Lvl 8: Cannot roll Mods with Required Lvl above 28</li>
  </ol>
    <strong>Vagan</strong>
  <ol>
    <li>Lvl 8: Cannot roll Caster Mods</li>
  </ol>
  </div>
  <div id="ammycraftp"><strong>Elreon</strong>
  <ol>
    <li>Lvl 7: Adds 8 to 11 / 18 to 23 Chaos Damage to your Attacks</li>
    <li>Lvl 7: 5 to 20% Increased Energy Shield</li>
    <li>Lvl 7: 5 to 20% Increased Evasion Rating</li>
    <li>Lvl 7: 5 to 20% Increased Armour Rating</li>
  </ol>  
    <strong>Tora</strong>
  <ol>
    <li>Lvl 6: 1 to 5% increased Movement Speed</li>
    <li>Lvl 8: Suffixes Cannot Be Changed</li>
  </ol>
  </div>
  <div id="ammycrafts"><strong>Catarina</strong> 
  <ol>
    <li>Lvl 8: Cannot roll Attack Mods</li>
  </ol>
    <strong>Elreon</strong>
  <ol>
    <li>Lvl 7: +8 to 13% to Fire and Cold Resistances</li>
    <li>Lvl 7: +8 to 13% to Cold and Lightning Resistances</li>
    <li>Lvl 7: +8 to 13% to Fire and Lightning Resistances</li>
    <li>Lvl 8: Can have multiple Crafted Mods</li>
  </ol>
    <strong>Haku</strong>
  <ol>
    <li>Lvl 8: Prefixes Cannot Be Changed</li>
  </ol>
    <strong>Leo</strong>
  <ol>
    <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
  </ol>
    <strong>Vagan</strong>
  <ol>
    <li>Lvl 8: Cannot roll Caster Mods</li>
  </ol>
  </div>
  <div id="beltcraftp">Leo
  <ol>
    <li>Lvl  5: 20 to 30% chance to Recharge 1 Flask Charge when you take a Critical Strike</li>
  </ol>
    Tora
    <ol>
      <li>Lvl 6: 1 to 5% increased Movement Speed</li>
      <li>Lvl 8: Suffixes Cannot Be Changed</li>
    </ol>
  </div>
  <div id="beltcrafts"><strong>Catarina</strong>
  <ol>
    <li>Lvl 8: Cannot roll Attack Mods</li>
  </ol>
    <strong>Elreon</strong>
  <ol>
    <li>Lvl 8: Can have multiple Crafted Mods</li>
  </ol>
    <strong>Haku</strong>
  <ol>
    <li>Lvl 8: Prefixes Cannot Be Changed</li>
  </ol>
    <strong>Leo</strong>
  <ol>
    <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
  </ol>
    <strong>Tora</strong>
  <ol>
    <li>Lvl 4: 10 to 20% increased Trap and Mine damage</li>
    <li>Lvl 7: 6 to 12% increased Trap Throwing and Mine Laying Speed</li>
  </ol>
    <strong>Vagan</strong>
  <ol>
    <li>Lvl 8: Cannot roll Caster Mods</li>
  </ol>
  </div>
  <div id="ringcraftp"><strong>Elreon</strong>
  <ol>
    <li>Lvl 7: Adds 8 to 11 / 18 to 23 Chaos Damage to your Attacks</li>
    <li>Lvl 7: 5 to 20% Increased Energy Shield</li>
    <li>Lvl 7: 5 to 20% Increased Evasion Rating</li>
    <li>Lvl 7: 5 to 20% Increased Armour Rating</li>
  </ol>  
    <strong>Leo</strong>
  <ol>
    <li>Lvl 3: 10 to 20% faster start of Energy Shield Recharge</li>
  </ol>
    <strong>Tora</strong>
  <ol>
    <li>Lvl 8: Suffixes Cannot Be Changed</li>
  </ol>
  </div>
  <div id="ringcrafts"><strong>Catarina</strong>
  <ol>
    <li>Lvl 8: Cannot roll Attack Mods</li>
  </ol>
    <strong>Elreon</strong>
  <ol>
    <li>Lvl 6 :12 to 16% increased Critical Strike chance</li>
    <li>Lvl 7: +8 to 13% to Fire and Cold Resistances</li>
    <li>Lvl 7: +8 to 13% to Cold and Lightning Resistances</li>
    <li>Lvl 7: +8 to 13% to Fire and Lightning Resistances</li>
    <li>Lvl 8: Can have multiple Crafted Mods</li>
  </ol>  
    <strong>Haku</strong>
  <ol>
    <li>Lvl 8: Prefixes Cannot Be Changed</li>
  </ol>
    <strong>Leo</strong>
  <ol>
    <li>Lvl 8: Cannot roll Mods with Required Lvl above Lvl 28</li>
  </ol>
    <strong>Vagan</strong>
  <ol>
    <li>Lvl 8: Cannot roll Caster Mods</li>
  </ol>
  </div>
  <div id="quivcraftp"><strong>Leo</strong>
  <ol>
    <li>Lvl 5: 20 to 30% chance to Recharge 1 Flask Charge when you take a Critical Strike</li>
  </ol>
    <strong>Tora</strong>
  <ol>
    <li>Lvl 8: Suffixes Cannot Be Changed</li>
  </ol>
  </div>
  <div id="quivcrafts"><strong>Catarina</strong>
  <ol>
    <li>Level 8: Cannot roll Attack Mods</li>
  </ol>
    <strong>Elreon</strong>
  <ol>
    <li>Level 8: Can have multiple Crafted Mods</li>
  </ol>
    <strong> Haku</strong>
  <ol>
    <li>Level 8: Prefixes Cannot Be Changed</li>
  </ol>
    <strong>Leo</strong>
  <ol>
    <li>Level 8: Cannot roll Mods with Required Level above level 28</li>
  </ol>
    <strong>Tora</strong>
  <ol>
    <li>Level 4: 10 to 20% increased Trap and Mine damage</li>
    <li>Level 6: 7 to 12% Increased Attack Speed</li>
    <li>Level 7: 6 to 12% increased Trap Throwing and Mine Laying Speed</li>
  </ol>  
    <strong>Vagan</strong>
  <ol>
    <li>Level 8: Cannot roll Caster Mods</li>
  </ol>
  </div>
</ol>
</body>
</html>
