<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<!--+# to Accuracy Rating-->
<ul>
  <div id="wepacc">
    <h3><u>Local Accuracy Rating</u>
    </h3>
    <li>iLvl 1: 5 to 15 (of Calm)</li>
    <li>iLvl 12: 16 to 60 (of Steadiness)</li>
    <li><strong>iLvl 20: 91 to 120 (Vagan lvl 3)</strong></li>
    <li>iLvl 20: 61 to 100 (of Accuracy)</li>
    <li>iLvl 26: 101 to 130 (of Precision)</li>
    <li><strong>iLvl 30: 121 to 150 (Vagan lvl 5)</strong></li>
    <li>iLvl 33: 131 to 165 (of the Sniper)</li>
    <li>iLvl 41: 166 to 200 (of the Marksman)</li>
    <li>iLvl 50: 201 to 250 (of the Deadeye)</li>
    <li>iLvl 63: 251 to 320 (of the Ranger)</li>
  </div>
</ul>

<!--+# to Accuracy Rating-->
<ul>
  <div id="elreonacc">
    <h3><u>Local Accuracy Rating</u>
    </h3>
    <li>iLvl 1: 5 to 15 (of Calm)</li>
    <li>iLvl 12: 16 to 60 (of Steadiness)</li>
    <li><strong>iLvl 20: 91 to 120 (Elreon lvl 3)</strong></li>
    <li>iLvl 20: 61 to 100 (of Accuracy)</li>
    <li>iLvl 26: 101 to 130 (of Precision)</li>
    <li><strong>iLvl 30: 121 to 150 (Elreon lvl 5)</strong></li>
    <li>iLvl 33: 131 to 165 (of the Sniper)</li>
    <li>iLvl 41: 166 to 200 (of the Marksman)</li>
    <li>iLvl 50: 201 to 250 (of the Deadeye)</li>
    <li>iLvl 63: 251 to 320 (of the Ranger)</li>
    <li>iLvl 76: 321 to 400 (of the Assassin)</li>
  </div>
</ul>

<!--+# to Accuracy Rating-->
<ul>
  <div id="nwepacc">
    <h3><u>Local Accuracy Rating</u>
    </h3>
    <li>iLvl 1: 5 to 15 (of Calm)</li>
    <li>iLvl 12: 16 to 60 (of Steadiness)</li>
    <li>iLvl 20: 61 to 100 (of Accuracy)</li>
    <li>iLvl 26: 101 to 130 (of Precision)</li>
    <li>iLvl 33: 131 to 165 (of the Sniper)</li>
    <li>iLvl 41: 166 to 200 (of the Marksman)</li>
    <li>iLvl 50: 201 to 250 (of the Deadeye)</li>
    <li>iLvl 63: 251 to 320 (of the Ranger)</li>
  </div>
</ul>


<!--+# to Accuracy Rating-->
<ul>
  <div id="armouracc">
    <h3><u>Local Accuracy Rating</u>
    </h3>
    <li>iLvl 1: 5 to 15 (of Calm)</li>
    <li>iLvl 12: 16 to 60 (of Steadiness)</li>    
    <li>iLvl 20: 61 to 100 (of Accuracy)</li>
    <li>iLvl 26: 101 to 130 (of Precision)</li>    
    <li>iLvl 33: 131 to 165 (of the Sniper)</li>
    <li>iLvl 41: 166 to 200 (of the Marksman)</li>
    <li>iLvl 50: 201 to 250 (of the Deadeye)</li>
    <li>iLvl 63: 251 to 320 (of the Ranger)</li>
    <li>iLvl 76: 321 to 400 (of the Assassin)</li>
  </div>
</ul>

<!--+# to Accuracy Rating-->
<ul>
  <div id="elreonacc"><h3><u>Local Accuracy Rating</u>
    </h3>
    <li>iLvl 1: 5 to 15 (of Calm)</li>
    <li>iLvl 12 : 16 to 60 (of Steadiness)</li>
    <li>iLvl 20 : 61 to 100 (of Accuracy)</li>
    <li><strong>iLvl 20 : 91 to 120 (Elreon lvl 3)</strong></li>
    <li>iLvl 26 : 101 to 130 (of Precision)</li>
    <li><strong>iLvl 30 : 121 to 150 (Elreon lvl 6)</strong></li>
    <li>iLvl 33 : 131 to 165 (of the Sniper)</li>
    <li>iLvl 41 : 166 to 200 (of the Marksman)</li>
    <li>iLvl 50 : 201 to 250 (of the Deadeye)</li>
    <li>iLvl 63 : 251 to 320 (of the Ranger)</li>
    <li>iLvl 76 : 321 to 400 (of the Assassin)</li>
  </div>
</ul>
<!--#% increased Light Radius / +# to Accuracy Rating-->
<ul>  
  <div id="acchybrid">
    <h3><u>Light Radius / +%
      Accuracy Rating</u>
    </h3>
    <li>iLvl 8: 5 / 10 to 20 (of Shining)</li>
    <li>iLvl 15: 10 / 21 to 40 (of Light)</li>        
    <li>iLvl 30: 15 / 5 to 10 (of Radiance)</li>
  </div>
</ul>


<!--#% increased Attack Speed-->
<ul>
  <div id="atkspd">
    <h3><u>Attack Speed +%</u>
    </h3>
    <li>iLvl 1: 6 to 9 (of Skill)</li>
    <li>iLvl 11: 5 to 10 (of Ease)</li>
    <li><strong>iLvl 20: 8 to 11 (Vagan lvl 5)</strong></li>
    <li>iLvl 22: 11 to 13 (of Mastery)</li>
    <li><strong>iLvl 30: 12 to 15 (Vagan lvl 6)</strong></li>
    <li>iLvl 30: 14 to 16 (of Renown)</li>
    <li>iLvl 37: 17 to 19 (of Acclaim)</li>
    <li>iLvl 45: 20 to 22 (of Fame)</li>
    <li>iLvl 60: 23 to 25 (of Infamy)</li>
    <li>iLvl 77: 26 to 27 (of Celebration)</li>
  </div>
</ul>

<!--#% increased Attack Speed-->
<ul>
  <div id="ratkspd">
    <h3><u>Attack Speed +%</u>
    </h3>
    <li>iLvl 1: 5 to 7 (of Skill)</li>    
  </div>
</ul>


<!--#% increased Attack Speed-->
<ul>
  <div id="toraattkspd">
    <h3><u>Attack Speed +%</u>
    </h3>
    <li>iLvl 1: 6 to 9 (of Skill)</li>
    <li>iLvl 11: 5 to 10 (of Ease)</li>
    <li><strong>iLvl 20: 7 to 12 (Tora lvl 6)</strong></li>
    <li>iLvl 22: 11 to 13 (of Mastery)</li>
  </div>
</ul>

<!--#% increased Attack Speed-->
<ul>
  <div id="quivattkspd">
    <h3><u>Attack Speed +%</u>
    </h3>
    <li>iLvl 1: 6 to 9 (of Skill)</li>
    <li>iLvl 11: 5 to 10 (of Ease)</li>
    <li><strong>iLvl 20: 7 to 12 (Tora lvl 6)</strong></li>
  </div>
</ul>


<!--#% increased Attack Speed-->
<ul>
  <div id="gloveattkspd">
    <h3><u>Attack Speed +%</u>
    </h3>
    <li>iLvl 1: 5 to 7 (of Skill)</li>
    <li>iLvl 11: 8 to 10 (of Ease)</li>
    <li><strong>iLvl 20: 9 to 12 (Haku lvl 7)</strong></li>
    <li>iLvl 22: 11 to 13 (of Mastery)</li>
    <li>iLvl 76: 14 to 16 (of Grandmastery)</li>
  </div>
</ul>


<!--+# to Dexterity-->
<ul>
  <div id="vagandex">
    <h3><u>Additional Dexterity</u>
    </h3>
    <li>iLvl 1: 8 to 12 (of the Mongoose)</li>
    <li>iLvl 11: 13 to 17 (of the Lynx)</li>
    <li><strong>iLvl 15: 20 to 25 (Vagan lvl 2)</strong></li>
    <li>iLvl 22: 18 to 22 (of the Fox)</li>
    <li><strong>iLvl 25: 26 to 30 (Vagan lvl 5)</strong></li>
    <li>iLvl 33: 23 to 27 (of the Falcon)</li>
    <li>iLvl 44: 28 to 32 (of the Panther)</li>
    <li>iLvl 55: 33 to 37 (of the Leopard)</li>
    <li>iLvl 66: 38 to 42 (of the Jaguar)</li>
    <li>iLvl 74: 43 to 50 (of the Phantasm)</li>
  </div>
</ul>


<!--+# to Dexterity-->
<ul>
  <div id="ndex">
    <h3><u>Additional Dexterity</u>
    </h3>
    <li>iLvl 1: 8 to 12 (of the Mongoose)</li>
    <li>iLvl 11: 13 to 17 (of the Lynx)</li>    
    <li>iLvl 22: 18 to 22 (of the Fox)</li>    
    <li>iLvl 33: 23 to 27 (of the Falcon)</li>
    <li>iLvl 44: 28 to 32 (of the Panther)</li>
    <li>iLvl 55: 33 to 37 (of the Leopard)</li>
    <li>iLvl 66: 38 to 42 (of the Jaguar)</li>
    <li>iLvl 74: 43 to 50 (of the Phantasm)</li>
  </div>
</ul>

<!--+# to Dexterity-->
<ul>
  <div id="elreondex"><h3><u>Additional Dexterity</u>
    </h3>
    <li>iLvl 1: 8 to 12 (of the Mongoose)</li>
    <li>iLvl 11 : 13 to 17 (of the Lynx)</li>
    <li><strong>iLvl 20 : 16 to 20 (Elreon lvl 2)</strong></li>
    <li>iLvl 22 : 18 to 22 (of the Fox)</li>
    <li><strong>iLvl 30 : 21 to 25 (Elreon lvl 4)</strong></li>
    <li>iLvl 33 : 23 to 27 (of the Falcon)</li>
    <li>iLvl 44 : 28 to 32 (of the Panther)</li>
    <li>iLvl 55 : 33 to 37 (of the Leopard)</li>
    <li>iLvl 66 : 38 to 42 (of the Jaguar)</li>
    <li>iLvl 74 : 43 to 50 (of the Phantasm)</li>
  </div>
</ul>


<!--+# to Dexterity-->
<ul>
  <div id="hakudex">
    <h3><u>Additional Dexterity</u>
    </h3>
    <li>iLvl 1: 8 to 12 (of the Mongoose)</li>
    <li>iLvl 11: 13 to 17 (of the Lynx)</li>
    <li><strong>iLvl 15: 20 to 25 (Haku lvl 2)</strong></li>
    <li>iLvl 22: 18 to 22 (of the Fox)</li>
    <li><strong>iLvl 25: 26 to 30 (Haku lvl 5)</strong></li>
    <li>iLvl 33: 23 to 27 (of the Falcon)</li>
    <li>iLvl 44: 28 to 32 (of the Panther)</li>
    <li>iLvl 55: 33 to 37 (of the Leopard)</li>
    <li>iLvl 66: 38 to 42 (of the Jaguar)</li>
    <li>iLvl 74: 43 to 50 (of the Phantasm)</li>
  </div>
</ul>  

 
<!--+# to Strength-->
<ul>
  <div id="vaganstr">
    <h3><u>Additional Strength</u>
    </h3>
    <li>iLvl 1: 8 to 12 (of the Brute)</li>
    <li>iLvl 11: 13 to 17 (of the Wrestler)</li>
    <li><strong>iLvl 15: 20 to 25 (Vagan lvl 2)</strong></li>
    <li>iLvl 22: 18 to 22 (of the Bear)</li>
    <li><strong>iLvl 25: 26 to 30 (Vagan lvl 5)</strong></li>
    <li>iLvl 33: 23 to 27 (of the Lion)</li>
    <li>iLvl 44: 28 to 32 (of the Gorilla)</li>
    <li>iLvl 55: 33 to 37 (of the Goliath)</li>
    <li>iLvl 66: 38 to 42 (of the Leviathan)</li>
    <li>iLvl 74: 43 to 50 (of the Titan)</li>
  </div>
</ul>

<!--+# to Strength-->
<ul>
  <div id="nbstr">
    <h3><u>Additional Strength</u>
    </h3>
    <li>iLvl 1: 8 to 12 (of the Brute)</li>
    <li>iLvl 11: 13 to 17 (of the Wrestler)</li>
    <li>iLvl 22: 18 to 22 (of the Bear)</li>
    <li>iLvl 33: 23 to 27 (of the Lion)</li>
    <li>iLvl 44: 28 to 32 (of the Gorilla)</li>
    <li>iLvl 55: 33 to 37 (of the Goliath)</li>
    <li>iLvl 66: 38 to 42 (of the Leviathan)</li>
    <li>iLvl 74: 43 to 50 (of the Titan)</li>
  </div>
</ul>

<!--+# to Strength-->
<ul>
  <div id="elreonstr"><h3><u>Additional Strength</u>
    </h3>
    <li>iLvl 1: 8 to 12 (of the Brute)</li>
    <li>iLvl 11 : 13 to 17 (of the Wrestler)</li>
    <li><strong>iLvl 20 : 16 to 20 (Elreon lvl 2)</strong></li>
    <li>iLvl 22 : 18 to 22 (of the Bear)</li>
    <li><strong>iLvl 30 : 21 to 25 (Elreon lvl 4)</strong></li>
    <li>iLvl 33 : 23 to 27 (of the Lion)</li>
    <li>iLvl 44 : 28 to 32 (of the Gorilla)</li>
    <li>iLvl 55 : 33 to 37 (of the Goliath)</li>
    <li>iLvl 66 : 38 to 42 (of the Leviathan)</li>
    <li>iLvl 74 : 43 to 50 (of the Titan)</li>
  </div>
</ul>
<!--+# to Strength-->
<ul>
  <div id="hakustr">
    <h3><u>Additional Strength</u>
    </h3>
    <li>iLvl 1: 8 to 12 (of the Brute)</li>
    <li>iLvl 11: 13 to 17 (of the Wrestler)</li>
    <li><strong>iLvl 15: 20 to 25 (Haku lvl 2)</strong></li>
    <li>iLvl 22: 18 to 22 (of the Bear)</li>
    <li><strong>iLvl 25: 26 to 30 (Haku lvl 5)</strong></li>
    <li>iLvl 33: 23 to 27 (of the Lion)</li>
    <li>iLvl 44: 28 to 32 (of the Gorilla)</li>
    <li>iLvl 55: 33 to 37 (of the Goliath)</li>
    <li>iLvl 66: 38 to 42 (of the Leviathan)</li>
    <li>iLvl 74: 43 to 50 (of the Titan)</li>
  </div>
</ul>


<!--+# to Intelligence-->
<ul>
  <div id="cataint">
    <h3><u>Additional Intelligence</u>                          
    </h3>
    <li>iLvl 1: 8 to 12 (of the Pupil)</li>
    <li>iLvl 11: 13 to 17 (of the Student)</li>
    <li><strong>iLvl 15: 20 to 25 (Catarina lvl 2)</strong></li>
    <li>iLvl 22: 18 to 22 (of the Prodigy)</li>
    <li><strong>iLvl 25: 26 to 30 (Catarina lvl 3)</strong> </li>
    <li>iLvl 33: 23 to 27 (of the Augur)</li>
    <li>iLvl 44: 28 to 32 (of the Philosopher)</li>
    <li>iLvl 55: 33 to 37 (of the Sage)</li>
    <li>iLvl 66: 38 to 42 (of the Savant)</li>
    <li>iLvl 74: 43 to 50 (of the Virtuoso)</li>
  </div>
</ul>

<!--+# to Intelligence-->
<ul>
  <div id="elreonint"><h3><u>Additional Intelligence</u>                          
    </h3>
    <li>iLvl 1: 8 to 12 (of the Pupil)</li>
    <li>iLvl 11 : 13 to 17 (of the Student)</li>
    <li><strong>iLvl 20 : 16 to 20 (Elreon lvl 2)</strong></li>
    <li>iLvl 22 : 18 to 22 (of the Prodigy)</li>
    <li><strong>iLvl 30 : 21 to 25 (Elreon lvl 4)</strong></li>
    <li>iLvl 33 : 23 to 27 (of the Augur)</li>
    <li>iLvl 44 : 28 to 32 (of the Philosopher)</li>
    <li>iLvl 55 : 33 to 37 (of the Sage)</li>
    <li>iLvl 66 : 38 to 42 (of the Savant)</li>
    <li>iLvl 74 : 43 to 50 (of the Virtuoso)</li>
  </div>
</ul>


<!--+# to Intelligence-->
<ul>
  <div id="nint">
    <h3><u>Additional Intelligence</u>                          
    </h3>
    <li>iLvl 1: 8 to 12 (of the Pupil)</li>
    <li>iLvl 11: 13 to 17 (of the Student)</li>
    <li>iLvl 22: 18 to 22 (of the Prodigy)</li>
    <li>iLvl 33: 23 to 27 (of the Augur)</li>
    <li>iLvl 44: 28 to 32 (of the Philosopher)</li>
    <li>iLvl 55: 33 to 37 (of the Sage)</li>
    <li>iLvl 66: 38 to 42 (of the Savant)</li>
    <li>iLvl 74: 43 to 50 (of the Virtuoso)</li>
  </div>
</ul>


<!--+# to All Attributes-->

<ul>
  <div id="elreonallatt"><h3>  
  <u>Additional All Attributes</u>
  </h3>
    <li>iLvl 1: 1 to 4 (of the Clouds)</li>
    <li>iLvl 11 : 5 to 8 (of the Sky)</li>
    <li><strong>iLvl 20 : 6 to 11 (Elreon lvl 4)</strong></li>
    <li>iLvl 22 : 9 to 12 (of the Meteor)</li>
    <li>iLvl 33 : 13 to 16 (of the Comet)</li>
    <li>iLvl 44 : 17 to 20 (of the Heavens)</li>
    <li>iLvl 55 : 21 to 24 (of the Galaxy)</li>
    <li>iLvl 66 : 25 to 28 (of the Universe)</li>
    <li>iLvl 77 : 29 to 32 (of the Infinite)</li>
  </div>
</ul>


<!--#% increased Global Critical Strike Multiplier-->
<ul>
  <div id="vaganmulti">
    <h3><u>Base Critical Strike Multiplier +%</u>
    </h3>
    <li>iLvl 8: 10 to 14 (of Ire)</li>
    <li><strong>iLvl 20: 17 to 21 (Vagan lvl 3)</strong></li>
    <li>iLvl 21: 15 to 19 (of Anger)</li>
    <li><strong>iLvl 30: 22 to 27 (Vagan lvl 5)</strong></li>
    <li>iLvl 30: 20 to 24 (of Rage)</li>
    <li>iLvl 44: 25 to 29 (of Fury)</li>
    <li>iLvl 59: 30 to 34 (of Ferocity)</li>
    <li>iLvl 73: 35 to 38 (of Destruction)</li>
                  <em>Legacy</em>
    <li><em>iLvl 8: 7 to 12 (of Ire)</em></li>
    <li><em>iLvl 21: 13 to 26 (of Anger)</em></li>
    <li><em>iLvl 31: 27 to 39 (of Rage)</em></li>
    <li><em>iLvl 45: 40 to 53 (of Fury)</em></li>
    <li><em>iLvl 59: 54 to 66 (of Ferocity)</em></li>
    <li><em>iLvl 74: 67 to 70 (of Destruction)</em></li>
  </div>
</ul>

<!--#% increased Global Critical Strike Multiplier-->
<ul>
  <div id="amulti">
    <h3><u>Base Critical Strike Multiplier +%</u>
    </h3>
    <li>iLvl 8: 10 to 14 (of Ire)</li>
    <li>iLvl 21: 15 to 19 (of Anger)</li>
    <li>iLvl 30: 20 to 24 (of Rage)</li>
    <li>iLvl 44: 25 to 29 (of Fury)</li>
    <li>iLvl 59: 30 to 34 (of Ferocity)</li>
    <li>iLvl 73: 35 to 38 (of Destruction)</li>
                  <em>Legacy</em>
    <li><em>iLvl 8: 7 to 12 (of Ire)</em></li>
    <li><em>iLvl 21: 13 to 26 (of Anger)</em></li>
    <li><em>iLvl 31: 27 to 39 (of Rage)</em></li>
    <li><em>iLvl 45: 40 to 53 (of Fury)</em></li>
    <li><em>iLvl 59: 54 to 66 (of Ferocity)</em></li>
    <li><em>iLvl 74: 67 to 70 (of Destruction)</em></li>
  </div>
</ul>


<!--#% increased Global Critical Strike Multiplier-->
<ul>
  <div id="toramulti">
    <h3><u>Base Critical Strike Multiplier +%</u>
    </h3>
    <li>iLvl 8: 10 to 14 (of Ire)</li>
    <li><strong>iLvl 20: 17 to 21 (Tora lvl 3)</strong></li>
    <li>iLvl 21: 15 to 19 (of Anger)</li>
    <li><strong>iLvl 30: 22 to 27 (Tora lvl 5)</strong></li>
    <li>iLvl 30: 20 to 24 (of Rage)</li>
    <li>iLvl 44: 25 to 29 (of Fury)</li>
    <li>iLvl 59: 30 to 34 (of Ferocity)</li>
    <li>iLvl 73: 35 to 38 (of Destruction)</li><br>
                  <u><em>Legacy</u></strong>
    <li><em>iLvl 8: 7 to 12 (of Ire)</em></li>
    <li><em>iLvl 21: 13 to 26 (of Anger)</em></li>
    <li><em>iLvl 31: 27 to 39 (of Rage)</em></li>
    <li><em>iLvl 45: 40 to 53 (of Fury)</em></li>
    <li><em>iLvl 59: 54 to 66 (of Ferocity)</em></li>
    <li><em>iLvl 74: 67 to 70 (of Destruction)</em></li>
  </div>
</ul>


<!--#% increased Critical Strike Chance-->
<ul>
  <div id="toracrit">
    <h3><u>Critical Strike Chance +%</u>
    </h3>
    <li>iLvl 1: 10 to 14 (of Needling)</li>
    <li><strong>iLvl 20: 17 to 21 (Tora lvl 2)</strong></li>
    <li>iLvl 20: 15 to 19 (of Stinging)</li>
    <li><strong>iLvl 30: 22 to 27 (Tora lvl 4)</strong></li>
    <li>iLvl 30: 20 to 24 (of Piercing)</li>
    <li>iLvl 44: 25 to 29 (of Puncturing)</li>
    <li>iLvl 59: 30 to 34 (of Penetrating)</li>
    <li>iLvl 73: 35 to 38 (of Incision)</li>
  </div>
</ul> 


<!--#% increased Critical Strike Chance-->
<ul>
  <div id="vagancrit">
    <h3><u>Critical Strike Chance +%</u>
    </h3>
    <li>iLvl 1: 10 to 14 (of Needling)</li>
    <li><strong>iLvl 20: 17 to 21 (Vagan lvl 2)</strong></li>
    <li>iLvl 20: 15 to 19 (of Stinging)</li>
    <li><strong>iLvl 30: 22 to 27 (Vagan lvl 4)</strong></li>
    <li>iLvl 30: 20 to 24 (of Piercing)</li>
    <li>iLvl 44: 25 to 29 (of Puncturing)</li>
    <li>iLvl 59: 30 to 34 (of Penetrating)</li>
    <li>iLvl 73: 35 to 38 (of Incision)</li>
  </div>
</ul>

<!--#% increased Critical Strike Chance-->
<ul>
  <div id="elreoncrit">
    <h3><u>Critical Strike Chance +%</u>
    </h3>
    <li>iLvl 1: 10 to 14 (of Needling)</li>
    <li>iLvl 20: 15 to 19 (of Stinging)</li>
    <li><strong>iLvl 30: 27 to 32 (Elreon lvl 6)</strong></li>
    <li>iLvl 30: 20 to 24 (of Piercing)</li>
    <li>iLvl 44: 25 to 29 (of Puncturing)</li>
    <li>iLvl 59: 30 to 34 (of Penetrating)</li>
    <li>iLvl 73: 35 to 38 (of Incision)</li>
  </div>
</ul> 


<!--+# Life gained on Kill-->
<ul>
  <div id="lgok">
    <h3><u>Base Life Gained On Enemy Death</u>
    </h3>
    <li>iLvl 1: 2 to 4 (of Success)</li>
    <li>iLvl 23: 5 to 7 (of Victory)</li>
    <li>iLvl 40: 8 to 11 (of Triumph)</li>
  </div>
</ul>


<!--+# Life gained for each Enemy hit by your Attacks-->
<ul>
  <div id="vaganlgoh">
    <h3><u>Base Life Gain Per Target</u>
    </h3>
    <li>iLvl 8: 2 (of Rejuvenation)</li>
    <li><strong>iLvl: 20: 2 to 3 (Vagan lvl 5)</strong></li>
    <li>iLvl 20: 3 (of Restoration)</li>
    <li>iLvl 30: 4 (of Regrowth)</li>
    <li>iLvl 40: 5 (of Nourishment)</li>
  </div>
</ul>

<!--+# Life gained for each Enemy hit by your Attacks-->
<ul>
  <div id="nlgoh">
    <h3><u>Base Life Gain Per Target</u>
    </h3>
    <li>iLvl 8: 2 (of Rejuvenation)</li>    
    <li>iLvl 20: 3 (of Restoration)</li>
    <li>iLvl 30: 4 (of Regrowth)</li>
    <li>iLvl 40: 5 (of Nourishment)</li>
  </div>
</ul>


<!--+# Life gained for each Enemy hit by your Attacks-->
<ul>
  <div id="glovelgoh">
    <h3><u>Base Life Gain Per Target</u>
    </h3>
    <li>iLvl 8: 2 (of Rejuvenation)</li>
  </div>
</ul>

<!--+# Life gained for each Enemy hit by your Attacks-->
<ul>
  <div id="elreonlgoh"><h3><u>Base Life Gain Per Target</u>
    </h3>
    <li>iLvl 8: 2 (of Rejuvenation)</li>
    <li><strong>iLvl 20 : 1 to 2 (Elreon lvl 5)</strong></li>
    <li>iLvl 20 : 3 (of Restoration)</li>
    <li>iLvl 30 : 4 (of Regrowth)</li>
  </div>
</ul>
<!--+# Mana gained on Kill-->
<ul>
  <div id="mgok">
    <h3><u>Base Mana Gained On Enemy Death</u>
    </h3>
    <li>iLvl 1: 1 (of Absorption)</li>
    <li>iLvl 24: 2 to 3 (of Osmosis)</li>
    <li>iLvl 40: 4 to 6 (of Consumption)</li>
  </div>
</ul>


<!--#% to Cold Resistance-->
<ul>
  <div id="vagancoldres">
    <h3><u>Base Cold Damage Resistance %</u>
    </h3>
    <li>iLvl 1: 6 to 11 (of the Inuit)</li>
    <li>iLvl 14: 12 to 17 (of the Seal)</li>
    <li><strong>iLvl 20: 16 to 20 (Vagan lvl 3)</strong></li>
    <li>iLvl 26: 18 to 23 (of the Penguin)</li>
    <li><strong>iLvl 30: 21 to 25 (Vagan lvl 5)</strong></li>
    <li>iLvl 38: 24 to 29 (of the Yeti)</li>
    <li>iLvl 50: 30 to 35 (of the Walrus)</li>
    <li>iLvl 60: 36 to 41 (of the Polar Bear)</li>
    <li>iLvl 72: 42 to 45 (of the Ice)</li>
  </div>
</ul>


<!--#% to Cold Resistance-->
<ul>
  <div id="hakucoldres">
    <h3><u>Base Cold Damage Resistance %</u>
    </h3>
    <li>iLvl 1: 6 to 11 (of the Inuit)</li>
    <li>iLvl 14: 12 to 17 (of the Seal)</li>
    <li><strong>iLvl 20: 21 to 25 (Haku lvl 4)</strong></li>
    <li>iLvl 26: 18 to 23 (of the Penguin)</li>
    <li><strong>iLvl 30: 26 to 30 (Haku lvl 6)</strong></li>
    <li>iLvl 38: 24 to 29 (of the Yeti)</li>
    <li>iLvl 50: 30 to 35 (of the Walrus)</li>
    <li>iLvl 60: 36 to 41 (of the Polar Bear)</li>
    <li>iLvl 72: 42 to 45 (of the Ice)</li>
  </div>
</ul>



<!--#% to Cold Resistance-->
<ul>
  <div id="toracoldres">
    <h3><u>Base Cold Damage Resistance %</u>
    </h3>
    <li>iLvl 1: 6 to 11 (of the Inuit)</li>
    <li>iLvl 14: 12 to 17 (of the Seal)</li>
    <li><strong>iLvl 20: 16 to 20 (Tora lvl 3)</strong></li>
    <li>iLvl 26: 18 to 23 (of the Penguin)</li>
    <li><strong>iLvl 30: 21 to 25 (Tora lvl 5)</strong></li>
    <li>iLvl 38: 24 to 29 (of the Yeti)</li>
    <li>iLvl 50: 30 to 35 (of the Walrus)</li>
    <li>iLvl 60: 36 to 41 (of the Polar Bear)</li>
    <li>iLvl 72: 42 to 45 (of the Ice)</li>
  </div>
</ul>

<!--#% to Cold Resistance-->
<ul>
  <div id="elreoncoldres">
    <h3><u>Base Cold Damage Resistance %</u>
    </h3>
    <li>iLvl 1: 6 to 11 (of the Inuit)</li>
    <li>iLvl 14: 12 to 17 (of the Seal)</li>
    <li><strong>iLvl 20: 16 to 20 (Elreon lvl 3)</strong></li>
    <li>iLvl 26: 18 to 23 (of the Penguin)</li>
    <li><strong>iLvl 30: 21 to 25 (Elreon lvl 5)</strong></li>
    <li>iLvl 38: 24 to 29 (of the Yeti)</li>
    <li>iLvl 50: 30 to 35 (of the Walrus)</li>
    <li>iLvl 60: 36 to 41 (of the Polar Bear)</li>
    <li>iLvl 72: 42 to 45 (of the Ice)</li>
  </div>
</ul>


<!--#% to Fire Resistance-->
<ul>
  <div id="vaganfireres">
    <h3><u>Base Fire Damage Resistance %</u>
    </h3>
    <li>iLvl 1: 6 to 11 (of the Whelpling)</li>
    <li>iLvl 12: 12 to 17 (of the Salamander)</li>
    <li><strong>iLvl 20: 16 to 20 (Vagan lvl 3)</strong></li>
    <li>iLvl 24: 18 to 23 (of the Drake)</li>
    <li><strong>iLvl 30: 21 to 25 (Vagan lvl 5)</strong></li>
    <li>iLvl 36: 24 to 29 (of the Kiln)</li>
    <li>iLvl 48: 30 to 35 (of the Furnace)</li>
    <li>iLvl 60: 36 to 41 (of the Volcano)</li>
    <li>iLvl 72: 42 to 45 (of the Magma)</li>
  </div>
</ul>


<!--#% to Fire Resistance-->
<ul>
  <div id="hakufireres">
    <h3><u>Base Fire Damage Resistance %</u>
    </h3>
    <li>iLvl 1: 6 to 11 (of the Whelpling)</li>
    <li>iLvl 12: 12 to 17 (of the Salamander)</li>
    <li><strong>iLvl 20: 21 to 25 (Haku lvl 4)</strong></li>
    <li>iLvl 24: 18 to 23 (of the Drake)</li>
    <li><strong>iLvl 30: 26 to 30 (Haku lvl 6)</strong></li>
    <li>iLvl 36: 24 to 29 (of the Kiln)</li>
    <li>iLvl 48: 30 to 35 (of the Furnace)</li>
    <li>iLvl 60: 36 to 41 (of the Volcano)</li>
    <li>iLvl 72: 42 to 45 (of the Magma)</li>
  </div>
</ul>


<!--#% to Fire Resistance-->
<ul>
  <div id="torafireres">
    <h3><u>Base Fire Damage Resistance %</u>
    </h3>
    <li>iLvl 1: 6 to 11 (of the Whelpling)</li>
    <li>iLvl 12: 12 to 17 (of the Salamander)</li>
    <li><strong>iLvl 20: 16 to 20 (Tora lvl 3)</strong></li>
    <li>iLvl 24: 18 to 23 (of the Drake)</li>
    <li><strong>iLvl 30: 21 to 25 (Tora lvl 5)</strong></li>
    <li>iLvl 36: 24 to 29 (of the Kiln)</li>
    <li>iLvl 48: 30 to 35 (of the Furnace)</li>
    <li>iLvl 60: 36 to 41 (of the Volcano)</li>
    <li>iLvl 72: 42 to 45 (of the Magma)</li>
  </div>
</ul>

<!--#% to Fire Resistance-->
<ul>
  <div id="elreonfireres">
    <h3><u>Base Fire Damage Resistance %</u>
    </h3>
    <li>iLvl 1: 6 to 11 (of the Whelpling)</li>
    <li>iLvl 12: 12 to 17 (of the Salamander)</li>
    <li><strong>iLvl 20: 16 to 20 (Elreon lvl 3)</strong></li>
    <li>iLvl 24: 18 to 23 (of the Drake)</li>
    <li><strong>iLvl 30: 21 to 25 (Elreon lvl 5)</strong></li>
    <li>iLvl 36: 24 to 29 (of the Kiln)</li>
    <li>iLvl 48: 30 to 35 (of the Furnace)</li>
    <li>iLvl 60: 36 to 41 (of the Volcano)</li>
    <li>iLvl 72: 42 to 45 (of the Magma)</li>
  </div>
</ul>


<!--#% to Lightning Resistance-->
<ul>
  <div id="vaganlightres">
    <h3><u>Base Lightning Damage Resistance %</u>
    </h3>
    <li>iLvl 1: 6 to 11 (of the Cloud)</li>
    <li>iLvl 13: 12 to 17 (of the Squall)</li>
    <li><strong>iLvl 20: 16 to 20 (Vagan lvl3)</strong></li>
    <li>iLvl 25: 18 to 23 (of the Storm)</li>
    <li><strong>iLvl 30: 21 to 25 (Vagan lvl5)</strong></li>
    <li>iLvl 37: 24 to 29 (of the Thunderhead)</li>
    <li>iLvl 49: 30 to 35 (of the Tempest)</li>
    <li>iLvl 60: 36 to 41 (of the Maelstrom)</li>
    <li>iLvl 72: 42 to 45 (of the Lightning)</li>
  </div>
</ul>


<!--#% to Lightning Resistance-->
<ul>
  <div id="hakulightres">
    <h3><u>Base Lightning Damage Resistance %</u>
    </h3>
    <li>iLvl 1: 6 to 11 (of the Cloud)</li>
    <li>iLvl 13: 12 to 17 (of the Squall)</li>
    <li><strong>iLvl 20: 21 to 25 (Haku lvl 4)</strong></li>
    <li>iLvl 25: 18 to 23 (of the Storm)</li>
    <li><strong>iLvl 30: 26 to 30 (Haku lvl 6)</strong></li>
    <li>iLvl 37: 24 to 29 (of the Thunderhead)</li>
    <li>iLvl 49: 30 to 35 (of the Tempest)</li>
    <li>iLvl 60: 36 to 41 (of the Maelstrom)</li>
    <li>iLvl 72: 42 to 45 (of the Lightning)</li>
  </div>
</ul>


<!--#% to Lightning Resistance-->
<ul>
  <div id="toralightres">
    <h3><u>Base Lightning Damage Resistance %</u>
    </h3>
    <li>iLvl 1: 6 to 11 (of the Cloud)</li>
    <li>iLvl 13: 12 to 17 (of the Squall)</li>
    <li><strong>iLvl 20: 16 to 20 (Tora lvl3)</strong></li>
    <li>iLvl 25: 18 to 23 (of the Storm)</li>
    <li><strong>iLvl 30: 21 to 25 (Tora lvl5)</strong></li>
    <li>iLvl 37: 24 to 29 (of the Thunderhead)</li>
    <li>iLvl 49: 30 to 35 (of the Tempest)</li>
    <li>iLvl 60: 36 to 41 (of the Maelstrom)</li>
    <li>iLvl 72: 42 to 45 (of the Lightning)</li>
  </div>
</ul>

<!--#% to Lightning Resistance-->
<ul>
  <div id="elreonlightres">
    <h3><u>Base Lightning Damage Resistance %</u>
    </h3>
    <li>iLvl 1: 6 to 11 (of the Cloud)</li>
    <li>iLvl 13: 12 to 17 (of the Squall)</li>
    <li><strong>iLvl 20: 16 to 20 (Elreon lvl3)</strong></li>
    <li>iLvl 25: 18 to 23 (of the Storm)</li>
    <li><strong>iLvl 30: 21 to 25 (Elreon lvl5)</strong></li>
    <li>iLvl 37: 24 to 29 (of the Thunderhead)</li>
    <li>iLvl 49: 30 to 35 (of the Tempest)</li>
    <li>iLvl 60: 36 to 41 (of the Maelstrom)</li>
    <li>iLvl 72: 42 to 45 (of the Lightning)</li>
  </div>
</ul>


<!--#% to Chaos Resistance-->
<ul>
  <div id="chaosres">
    <h3><u>Base Chaos Damage Resistance %</u>
    </h3>
    <li>iLvl 16: 5 to 10 (of the Lost)</li>
    <li>iLvl 30: 11 to 15 (of Banishment)</li>
    <li>iLvl 44: 16 to 20 (of Eviction)</li>
    <li>iLvl 56: 21 to 25 (of Expulsion)</li>
    <li>iLvl 65: 26 to 30 (of Exile)</li>
  </div>
</ul>


<!--#% to all Elemental Resistances-->
<ul>
  <div id="shieldallres">
    <h3><u>Base Resist All Elements %</u>
    </h3>
    <li>iLvl 12: 3 to 5 (of the Crystal)</li>
    <li>iLvl 24: 6 to 8 (of the Prism)</li>
    <li>iLvl 36: 9 to 11 (of the Kaleidoscope)</li>
    <li>iLvl 48: 12 to 14 (of Variegation)</li>
    <li>iLvl 60: 15 to 16 (of the Rainbow)</li>
  </div>
</ul>


<!--#% to all Elemental Resistances-->
<ul>
  <div id="elreonallres">
    <h3><u>Base Resist All Elements %</u>
    </h3>
    <li>iLvl 12: 3 to 5 (of the Crystal)</li>
    <li><strong>iLvl 20 : 7 to 10 (Elreon lvl 4)</strong></li>
    <li>iLvl 24: 6 to 8 (of the Prism)</li>
    <li>iLvl 36: 9 to 11 (of the Kaleidoscope)</li>
    <li>iLvl 48: 12 to 14 (of Variegation)</li>
    <li>iLvl 60: 15 to 16 (of the Rainbow)</li>
  </div>
</ul>


<!--#% additional Block Chance-->
<ul>
  <div id="block">
    <h3><u>Local Additional Block Chance %</u>
    </h3>
    <li>iLvl 10: 1 to 3 (of Intercepting)</li>
    <li><strong>iLvl 30: 2 to 3 (Haku lvl 6)</strong></li>
    <li>iLvl 58: 4 to 6 (of Walling)</li>
  </div>
</ul>


<!--#% reduced Attribute Requirements-->
<ul>
  <div id="attreq">
    <h3><u>Local Attribute Requirements +%</u>
    </h3>
    <li>iLvl 36: -18 (of the Worthy)</li>
    <li>iLvl 60: -32 (of the Apt)</li>
  </div>
</ul>


<!--#% increased Stun Duration on Enemies-->
<ul>
  <div id="stundur">
    <h3><u>Base Stun Duration +%</u>
    </h3>
    <li>iLvl 5: 11 to 15 (of Impact)</li>
    <li>iLvl 18: 16 to 20 (of Dazing)</li>
    <li><strong>iLvl 20: 23 to 28 (Vagan lvl 6)</strong></li>
    <li>iLvl 30: 21 to 25 (of Stunning)</li>
    <li>iLvl 44: 26 to 30 (of Slamming)</li>
    <li>iLvl 58: 31 to 35 (of Staggering)</li>
  </div>
</ul>

<!--#% increased Stun Duration on Enemies-->
<ul>
  <div id="nstundur">
    <h3><u>Base Stun Duration +%</u>
    </h3>
    <li>iLvl 5: 11 to 15 (of Impact)</li>
    <li>iLvl 18: 16 to 20 (of Dazing)</li>
    <li>iLvl 30: 21 to 25 (of Stunning)</li>
    <li>iLvl 44: 26 to 30 (of Slamming)</li>
    <li>iLvl 58: 31 to 35 (of Staggering)</li>
  </div>
</ul>


<!--#% reduced Enemy Stun Threshold-->
<ul>
  <div id="stunthresh">
    <h3><u>Base Stun Threshold Reduction +%</u>
    </h3>
    <li>iLvl 5: 5 to 7 (of the Pugilist)</li>
    <li><strong>iLvl 20: 11 to 12 (Vagan lvl 6)</strong></li>
    <li>iLvl 20: 8 to 9 (of the Brawler)</li>
    <li>iLvl 30: 10 to 11 (of the Boxer)</li>
    <li>iLvl 44: 12 to 13 (of the Combatant)</li>
    <li>iLvl 58: 14 to 15 (of the Gladiator)</li>
  </div>
</ul>


<!--#% increased Mana Regeneration Rate-->
<ul>
  <div id="catamanaregen">
    <h3><u>Mana Regeneration Rate +%</u>
    </h3>
    <li>iLvl 2: 10 to 19 (of Excitement)</li>
    <li>iLvl 18: 20 to 29 (of Joy)</li>
    <li><strong>iLvl 20: 25 to 34 (Catarina lvl 2)</strong></li>
    <li>iLvl 29: 30 to 39 (of Elation)</li>
    <li><strong>iLvl 30: 35 to 44 (Catarina lvl 4)</strong></li>
    <li>iLvl 42: 40 to 49 (of Bliss)</li>
    <li>iLvl 55: 50 to 59 (of Euphoria)</li>
    <li>iLvl 79: 60 to 69 (of Nirvana)</li>
  </div>
</ul>

<!--#% increased Mana Regeneration Rate-->
<ul>
  <div id="nmanaregen">
    <h3><u>Mana Regeneration Rate +%</u>
    </h3>
    <li>iLvl 2: 10 to 19 (of Excitement)</li>
    <li>iLvl 18: 20 to 29 (of Joy)</li>
    <li>iLvl 29: 30 to 39 (of Elation)</li>
    <li>iLvl 42: 40 to 49 (of Bliss)</li>
    <li>iLvl 55: 50 to 59 (of Euphoria)</li>
    <li>iLvl 79: 60 to 69 (of Nirvana)</li>
  </div>
</ul>


<!--#% increased Mana Regeneration Rate-->
<ul>
  <div id="elreonmanaregen">
    <h3><u>Mana Regeneration Rate +%</u>
    </h3>
    <li>iLvl 2: 10 to 19 (of Excitement)</li>
    <li>iLvl 18: 20 to 29 (of Joy)</li>
    <li><strong>iLvl 20 : 25 to 34 (Elreon lvl 5)</strong></li>
    <li>iLvl 29: 30 to 39 (of Elation)</li>    
    <li>iLvl 42: 40 to 49 (of Bliss)</li>
    <li>iLvl 55: 50 to 59 (of Euphoria)</li>
    <li>iLvl 79: 60 to 69 (of Nirvana)</li>
  </div>
</ul>


<!--#% increased Critical Strike Chance for Spells-->
<ul>
  <div id="spellcrit">
    <h3><u>Spell Critical Strike Chance +%</u>
    </h3>
    <li>iLvl 11: 11 to 20 (of Menace)</li>
    <li><strong>iLvl 20: 30 to 49 (Catarina lvl 4)</strong></li>
    <li>iLvl 21: 20 to 39 (of Havoc)</li>
    <li>iLvl 28: 40 to 59 (of Disaster)</li>
    <li><strong>iLvl 30: 50 to 69 (Catarina lvl7)</strong></li>
    <li>iLvl 41: 60 to 79 (of Calamity)</li>
    <li>iLvl 59: 80 to 99 (of Ruin)</li>
    <li>iLvl 76: 100 to 109 (of Unmaking)</li>
  </div>
</ul>

<!--#% increased Critical Strike Chance for Spells-->
<ul>
  <div id="nspellcrit">
    <h3><u>Spell Critical Strike Chance +%</u>
    </h3>
    <li>iLvl 11: 11 to 20 (of Menace)</li>
    <li>iLvl 21: 20 to 39 (of Havoc)</li>
    <li>iLvl 28: 40 to 59 (of Disaster)</li>
    <li>iLvl 41: 60 to 79 (of Calamity)</li>
    <li>iLvl 59: 80 to 99 (of Ruin)</li>
    <li>iLvl 76: 100 to 109 (of Unmaking)</li>
  </div>
</ul>


<!--#% increased Cast Speed-->
<ul>
  <div id="castspd">
    <h3><u>Base Cast Speed +%</u>
    </h3>
    <li>iLvl 2: 5 to 7 (of Talent)</li>
    <li>iLvl 15: 8 to 10 (of Nimbleness)</li>
    <li><strong>iLvl 20: 9 to 11 (Catarina lvl 3)</strong></li>
    <li>iLvl 30: 11 to 13 (of Expertise)</li>
    <li>iLvl 40: 14 to 16 (of Legerdemain)</li>
    <li>iLvl 55: 17 to 19 (of Prestidigitation)</li>
    <li>iLvl 72: 20 to 22 (of Sortilege)</li>
  </div>
</ul>


<!--#% increased Cast Speed-->
<ul>
  <div id="castspda"><h3><u>Base Cast Speed +%</u>
    <li>iLvl 2: 5 to 7 (of Talent)</li>
    <li>iLvl 15 : 8 to 10 (of Nimbleness)</li>
    <li>iLvl 30 : 11 to 13 (of Expertise)</li>
  </div>
</ul>

<!--#% increased Cast Speed-->
<ul>
  <div id="castspdr"><h3><u>Base Cast Speed +%</u>
    <li>iLvl 2: 5 to 7 (of Talent)</li>
  </div>
</ul>


<!--#% increased Cold Damage-->
<ul>
  <div id="colddmg">
    <h3><u>Cold Damage +%</u>
    </h3>
    <li>iLvl 12: 3 to 7 (of SNow)</li>
    <li><strong>iLvl 20: 10 to 14 (Catarina lvl 3)</strong></li>
    <li>iLvl 24: 8 to 12 (of Sleet)</li>
    <li><strong>iLvl 30: 15 to 19 (Catarina lvl 5)</strong></li>
    <li>iLvl 36: 13 to 17 (of Ice)</li>
    <li>iLvl 50: 18 to 22 (of Rime)</li>
    <li>iLvl 64: 23 to 26 (of Floe)</li>
    <li>iLvl 76: 27 to 30 (of Glaciation)</li>
  </div>
</ul>

<!--#% increased Cold Damage-->
<ul>
  <div id="acolddmg">
    <h3><u>Cold Damage +%</u>
    </h3>
    <li>iLvl 12: 3 to 7 (of SNow)</li>
    <li>iLvl 24: 8 to 12 (of Sleet)</li>
    <li>iLvl 36: 13 to 17 (of Ice)</li>
  </div>
</ul>

  
<!--#% increased Fire Damage--> 
<ul>
  <div id="firedmg">
    <h3><u>Fire Damage +%</u>
    </h3>
    <li>iLvl 8: 3 to 7 (of Embers)</li>
    <li><strong>iLvl 20: 10 to 14 (Catarina lvl 3)</strong></li>
    <li>iLvl 22: 8 to 12 (of Coals)</li>
    <li><strong>iLvl 30: 15 to 19 (Catarina lvl 5)</strong></li>
    <li>iLvl 36: 13 to 17 (of Cinders)</li>
    <li>iLvl 50: 18 to 22 (of Flames)</li>
    <li>iLvl 64: 23 to 26 (of Immolation)</li>
    <li>iLvl 76: 27 to 30 (of Ashes)</li>
  </div>
</ul>

<!--#% increased Fire Damage--> 
<ul>
  <div id="afiredmg">
    <h3><u>Fire Damage +%</u>
    </h3>
    <li>iLvl 8: 3 to 7 (of Embers)</li>
    <li>iLvl 22: 8 to 12 (of Coals)</li>
    <li>iLvl 36: 13 to 17 (of Cinders)</li>
  </div>
</ul>

 
<!--#% increased Lightning Damage-->
<ul>
  <div id="lightdmg">
    <h3><u>Lightning Damage +%</u>
    </h3>
    <li>iLvl 10: 3 to 7 (of Sparks)</li>
    <li><strong>iLvl 20: 10 to 14 (Catarina lvl 3)</strong></li>
    <li>iLvl 23: 8 to 12 (of Static)</li>
    <li><strong>iLvl 30: 15 to 19 (Catarina lvl 5)</strong></li>
    <li>iLvl 36: 13 to 17 (of Electricity)</li>
    <li>iLvl 50: 18 to 22 (of Voltage)</li>
    <li>iLvl 64: 23 to 26 (of Discharge)</li>
    <li>iLvl 76: 27 to 30 (of Arcing)</li>
  </div>
</ul>

<!--#% increased Lightning Damage-->
<ul>
  <div id="alightdmg">
    <h3><u>Lightning Damage +%</u>
    </h3>
    <li>iLvl 10: 3 to 7 (of Sparks)</li>
    <li>iLvl 23: 8 to 12 (of Static)</li>
    <li>iLvl 36: 13 to 17 (of Electricity)</li>
  </div>
</ul>


<!--#% increased Projectile Speed-->
<ul>
  <div id="projspd">
    <h3><u>Base Projectile Speed +%</u>
    </h3>
    <li>iLvl 14: 10 to 17 (of Darting)</li>
    <li><strong>iLvl 25: 10 to 30 (Tora lvl 6)</strong></li>
    <li>iLvl 27: 18 to 25 (of Flight)</li>
    <li>iLvl 41: 26 to 33 (of Propulsion)</li>
    <li>iLvl 55: 34 to 41 (of the Zephyr)</li>
  </div>
</ul>


<!--# Life Regenerated per second-->
<ul>
  <div id="liferegen">
    <h3><u>Base Life Regeneration Rate Per Minute</u>
    </h3>
    <li>iLvl 1: 0.7 to 1.1 (of the Newt)</li>
    <li>iLvl 18: 1.6 to 2.4 (of the Lizard)</li>
    <li>iLvl 30: 2.2 to 3.3 (of the Starfish)</li>
    <li>iLvl 44: 2.9 to 4.3 (of the Hydra)</li>
    <li>iLvl 59: 3.6 to 5.5 (of the Troll)</li>
    <li>iLvl 78: 6.0 to 7.0 (of the Phoenix)</li>
  </div>
</ul>


<!--#% increased Stun Recovery-->
<ul>
  <div id="stunrec">
    <h3><u>Base Stun Recovery +%</u>
    </h3>
    <li>iLvl 1: 11 to 13 (of Thick Skin)</li>
    <li>iLvl 17: 14 to 16 (of Stone Skin)</li>
    <li>iLvl 28: 17 to 19 (of Iron Skin)</li>
    <li>iLvl 42: 20 to 22 (of Steel Skin)</li>
    <li>iLvl 56: 23 to 25 (of Adamantite Skin)</li>
    <li>iLvl 79: 26 to 28 (of Corundum Skin)</li>
  </div>
</ul>


<!--#% increased Rarity of Items found-->
<ul>
  <div id="helmraritys">
    <h3><u>Base Item Found Rarity +%</u>
    </h3>
    <li>iLvl 3: 6 to 10 (of Plunder)</li>
    <li>iLvl 30: 11 to 14 (of Raiding)</li>
    <li>iLvl 53: 15 to 20 (of Archaeology)</li>
    <li>iLvl 75: 21 to 26 (of Excavation)</li>
  </div>
</ul>

<!--#% increased Rarity of Items found-->
<ul>
  <div id="elreonraritys">
    <h3><u>Base Item Found Rarity +%</u>
    </h3>
    <li>iLvl 3: 6 to 10 (of Plunder)</li>
    <li><strong>iLvl 30: 13 to 17 (Elreon lvl 7)</strong></li>
    <li>iLvl 30: 11 to 14 (of Raiding)</li>
    <li>iLvl 53: 15 to 20 (of Archaeology)</li>
    <li>iLvl 75: 21 to 26 (of Excavation)</li>
  </div>
</ul>

<!--#% increased Rarity of Items found-->
<ul>
  <div id="gloveraritys">
    <h3><u>Base Item Found Rarity +%</u>
    </h3>
    <li>iLvl 3: 6 to 10 (of Plunder)</li>
    <li>iLvl 30: 11 to 14 (of Raiding)</li>    
  </div>
</ul>




<!--#% increased Quantity of Items found(Legacy)-->
<ul>
  <div id="quant">
    <h3><em><u>Base Item Found Quantity +%</u></em>
    </h3>
    <li><em>iLvl 2: 4 to 8 (of Collecting)</em></li>
    <li><em>iLvl 32: 9 to 12 (of Gathering)</em></li>
    <li><em>iLvl 55: 13 to 16 (of Hoarding)</em></li>
    <li><em>iLvl 77: 17 to 20 (of Amassment)</em></li>
  </div>
</ul>

<!--#% increased Flask Charges gained-->
<ul>
  <div id="toraflskg"> 
    <h3><u>Flask Charges Gained +%</u>
    </h3>
    <li>iLvl 5: 10 to 20 (of Refilling)</li>
    </div>
</ul>

<!--#% reduced Flask Charges used-->
<ul>
  <div id="toraflsku"> 
    <h3><u>Flask Charges Used -%</u>
    </h3>
    <li>iLvl 3: -20 to -10 (of Sipping)</li>
    </div>
</ul>

<!--#% increased Flask effect duration-->
<ul>
  <div id="toraflskeffdur"> 
    <h3><u>Flask Effect Duration +%</u>
    </h3>
    <li>iLvl 5: 10 to 20 (of Savouring)</li>
    <li><strong>iLvl 20: 5 to 15 (Tora lvl 3)</strong></li>
    </div>
</ul>

</body>
</html>
