<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<!--+# to Accuracy Rating-->
<ul>
  <div id="wepacc">
    <h3>Local Accuracy Rating
    </h3>
    <li>iLvl 1: 5 to 15 (of Calm)</li>
    <li>iLvl 12: 16 to 60 (of Steadiness)</li>
    <li><strong>iLvl 20: 91 to 120 (Vagan lvl 3)</strong></li>
    <li>iLvl 20: 61 to 100 (of Accuracy)</li>
    <li>iLvl 26: 101 to 130 (of Precision)</li>
    <li><strong>iLvl 30: 121 to 150 (Vagan lvl 5)</strong></li>
    <li>iLvl 33: 131 to 165 (of the Sniper)</li>
    <li>iLvl 41: 166 to 200 (of the Marksman)</li>
    <li>iLvl 50: 201 to 250 (of the Deadeye)</li>
    <li>iLvl 63: 251 to 320 (of the Ranger)</li>
  </div>
</ul>

<!--+# to Accuracy Rating-->
<ul>
  <div id="elreonacc">
    <h3>Local Accuracy Rating
    </h3>
    <li>iLvl 1: 5 to 15 (of Calm)</li>
    <li>iLvl 12: 16 to 60 (of Steadiness)</li>
    <li><strong>iLvl 20: 91 to 120 (Elreon lvl 3)</strong></li>
    <li>iLvl 20: 61 to 100 (of Accuracy)</li>
    <li>iLvl 26: 101 to 130 (of Precision)</li>
    <li><strong>iLvl 30: 121 to 150 (Elreon lvl 5)</strong></li>
    <li>iLvl 33: 131 to 165 (of the Sniper)</li>
    <li>iLvl 41: 166 to 200 (of the Marksman)</li>
    <li>iLvl 50: 201 to 250 (of the Deadeye)</li>
    <li>iLvl 63: 251 to 320 (of the Ranger)</li>
    <li>iLvl 76: 321 to 400 (of the Assassin)</li>
  </div>
</ul>

<!--+# to Accuracy Rating-->
<ul>
  <div id="nwepacc">
    <h3>Local Accuracy Rating
    </h3>
    <li>iLvl 1: 5 to 15 (of Calm)</li>
    <li>iLvl 12: 16 to 60 (of Steadiness)</li>
    <li>iLvl 20: 61 to 100 (of Accuracy)</li>
    <li>iLvl 26: 101 to 130 (of Precision)</li>
    <li>iLvl 33: 131 to 165 (of the Sniper)</li>
    <li>iLvl 41: 166 to 200 (of the Marksman)</li>
    <li>iLvl 50: 201 to 250 (of the Deadeye)</li>
    <li>iLvl 63: 251 to 320 (of the Ranger)</li>
    <li>iLvl 80: 321 to 360 (of the Assassin)</li>
  </div>
</ul>


<!--+# to Accuracy Rating-->
<ul>
  <div id="armouracc">
    <h3>Local Accuracy Rating
    </h3>
    <li>iLvl 1: 5 to 15 (of Calm)</li>
    <li>iLvl 12: 16 to 60 (of Steadiness)</li>    
    <li>iLvl 20: 61 to 100 (of Accuracy)</li>
    <li>iLvl 26: 101 to 130 (of Precision)</li>    
    <li>iLvl 33: 131 to 165 (of the Sniper)</li>
    <li>iLvl 41: 166 to 200 (of the Marksman)</li>
    <li>iLvl 50: 201 to 250 (of the Deadeye)</li>
    <li>iLvl 63: 251 to 320 (of the Ranger)</li>
    <li>iLvl 76: 321 to 400 (of the Assassin)</li>
  </div>
</ul>


<!--#% increased Light Radius / +# to Accuracy Rating-->
<ul>  
  <div id="acchybrid">
    <h3>Light Radius / +%
      Accuracy Rating
    </h3>
    <li>iLvl 8: 5 / 10 to 20 (of Shining)</li>
    <li>iLvl 15: 10 / 21 to 40 (of Light)</li>        
    <li>iLvl 30: 15 / 5 to 10 (of Radiance)</li>
  </div>
</ul>


<!--#% increased Attack Speed-->
<ul>
  <div id="atkspd">
    <h3>Attack Speed +%
    </h3>
    <li>iLvl 1: 5 to 7 (of Skill)</li>
    <li>iLvl 11: 8 to 10 (of Ease)</li>
    <li><strong>iLvl 20: 8 to 11 (Vagan lvl 5)</strong></li>
    <li>iLvl 22: 11 to 13 (of Mastery)</li>
    <li><strong>iLvl 30: 12 to 15 (Vagan lvl 6)</strong></li>
    <li>iLvl 30: 14 to 16 (of Renown)</li>
    <li>iLvl 37: 17 to 19 (of Acclaim)</li>
    <li>iLvl 45: 20 to 22 (of Fame)</li>
    <li>iLvl 60: 23 to 25 (of Infamy)</li>
    <li>iLvl 77: 26 to 27 (of Celebration)</li>
  </div>
</ul>

<!--#% increased Attack Speed-->
<ul>
  <div id="ratkspd">
    <h3>Attack Speed +%
    </h3>
    <li>iLvl 1: 5 to 7 (of Skill)</li>    
  </div>
</ul>


<!--#% increased Attack Speed-->
<ul>
  <div id="toraattkspd">
    <h3>Attack Speed +%
    </h3>
    <li>iLvl 1: 5 to 7 (of Skill)</li>
    <li>iLvl 11: 8 to 10 (of Ease)</li>
    <li><strong>iLvl 20: 7 to 12 (Tora lvl 6)</strong></li>
    <li>iLvl 22: 11 to 13 (of Mastery)</li>
    <li>iLvl 30: 14 to 16 (of Renown)</li>
  </div>
</ul>

<!--#% increased Attack Speed-->
<ul>
  <div id="quivattkspd">
    <h3>Attack Speed +%
    </h3>
    <li>iLvl 1: 6 to 9 (of Skill)</li>
    <li>iLvl 11: 5 to 10 (of Ease)</li>
    <li><strong>iLvl 20: 7 to 12 (Tora lvl 6)</strong></li>
  </div>
</ul>


<!--#% increased Attack Speed-->
<ul>
  <div id="gloveattkspd">
    <h3>Attack Speed +%
    </h3>
    <li>iLvl 1: 5 to 7 (of Skill)</li>
    <li>iLvl 11: 8 to 10 (of Ease)</li>
    <li><strong>iLvl 20: 9 to 12 (Haku lvl 7)</strong></li>
    <li>iLvl 22: 11 to 13 (of Mastery)</li>
    <li>iLvl 76: 14 to 16 (of Grandmastery)</li>
  </div>
</ul>


<!--+# to Dexterity-->
<ul>
  <div id="vagandex">
    <h3>Additional Dexterity
    </h3>
    <li>iLvl 1: 8 to 12 (of the Mongoose)</li>
    <li>iLvl 11: 13 to 17 (of the Lynx)</li>
    <li><strong>iLvl 15: 20 to 25 (Vagan lvl 2)</strong></li>
    <li>iLvl 22: 18 to 22 (of the Fox)</li>
    <li><strong>iLvl 25: 26 to 30 (Vagan lvl 5)</strong></li>
    <li>iLvl 33: 23 to 27 (of the Falcon)</li>
    <li>iLvl 44: 28 to 32 (of the Panther)</li>
    <li>iLvl 55: 33 to 37 (of the Leopard)</li>
    <li>iLvl 66: 38 to 42 (of the Jaguar)</li>
    <li>iLvl 74: 43 to 50 (of the Phantasm)</li>
    <li>iLvl 82: 51 to 55 (of the Wind)</li>
  </div>
</ul>


<!--+# to Dexterity-->
<ul>
  <div id="ndex">
    <h3>Additional Dexterity
    </h3>
    <li>iLvl 1: 8 to 12 (of the Mongoose)</li>
    <li>iLvl 11: 13 to 17 (of the Lynx)</li>    
    <li>iLvl 22: 18 to 22 (of the Fox)</li>    
    <li>iLvl 33: 23 to 27 (of the Falcon)</li>
    <li>iLvl 44: 28 to 32 (of the Panther)</li>
    <li>iLvl 55: 33 to 37 (of the Leopard)</li>
    <li>iLvl 66: 38 to 42 (of the Jaguar)</li>
    <li>iLvl 74: 43 to 50 (of the Phantasm)</li>
    <li>iLvl 82: 51 to 55 (of the Wind)</li>
  </div>
</ul>

<!--+# to Dexterity-->
<ul>
  <div id="elreondex"><h3>Additional Dexterity
    </h3>
    <li>iLvl 1: 8 to 12 (of the Mongoose)</li>
    <li>iLvl 11 : 13 to 17 (of the Lynx)</li>
    <li><strong>iLvl 20 : 16 to 20 (Elreon lvl 2)</strong></li>
    <li>iLvl 22 : 18 to 22 (of the Fox)</li>
    <li><strong>iLvl 30 : 21 to 25 (Elreon lvl 4)</strong></li>
    <li>iLvl 33 : 23 to 27 (of the Falcon)</li>
    <li>iLvl 44 : 28 to 32 (of the Panther)</li>
    <li>iLvl 55 : 33 to 37 (of the Leopard)</li>
    <li>iLvl 66 : 38 to 42 (of the Jaguar)</li>
    <li>iLvl 74 : 43 to 50 (of the Phantasm)</li>
    <li>iLvl 82: 51 to 55 (of the Wind)</li>
  </div>
</ul>


<!--+# to Dexterity-->
<ul>
  <div id="hakudex">
    <h3>Additional Dexterity
    </h3>
    <li>iLvl 1: 8 to 12 (of the Mongoose)</li>
    <li>iLvl 11: 13 to 17 (of the Lynx)</li>
    <li><strong>iLvl 15: 20 to 25 (Haku lvl 2)</strong></li>
    <li>iLvl 22: 18 to 22 (of the Fox)</li>
    <li><strong>iLvl 25: 26 to 30 (Haku lvl 5)</strong></li>
    <li>iLvl 33: 23 to 27 (of the Falcon)</li>
    <li>iLvl 44: 28 to 32 (of the Panther)</li>
    <li>iLvl 55: 33 to 37 (of the Leopard)</li>
    <li>iLvl 66: 38 to 42 (of the Jaguar)</li>
    <li>iLvl 74: 43 to 50 (of the Phantasm)</li>
    <li>iLvl 82: 51 to 55 (of the Wind)</li>
  </div>
</ul>  

 
<!--+# to Strength-->
<ul>
  <div id="vaganstr">
    <h3>Additional Strength
    </h3>
    <li>iLvl 1: 8 to 12 (of the Brute)</li>
    <li>iLvl 11: 13 to 17 (of the Wrestler)</li>
    <li><strong>iLvl 15: 20 to 25 (Vagan lvl 2)</strong></li>
    <li>iLvl 22: 18 to 22 (of the Bear)</li>
    <li><strong>iLvl 25: 26 to 30 (Vagan lvl 5)</strong></li>
    <li>iLvl 33: 23 to 27 (of the Lion)</li>
    <li>iLvl 44: 28 to 32 (of the Gorilla)</li>
    <li>iLvl 55: 33 to 37 (of the Goliath)</li>
    <li>iLvl 66: 38 to 42 (of the Leviathan)</li>
    <li>iLvl 74: 43 to 50 (of the Titan)</li>
    <li>iLvl 82: 51 to 55 (of the Gods)</li>
  </div>
</ul>

<!--+# to Strength-->
<ul>
  <div id="nbstr">
    <h3>Additional Strength
    </h3>
    <li>iLvl 1: 8 to 12 (of the Brute)</li>
    <li>iLvl 11: 13 to 17 (of the Wrestler)</li>
    <li>iLvl 22: 18 to 22 (of the Bear)</li>
    <li>iLvl 33: 23 to 27 (of the Lion)</li>
    <li>iLvl 44: 28 to 32 (of the Gorilla)</li>
    <li>iLvl 55: 33 to 37 (of the Goliath)</li>
    <li>iLvl 66: 38 to 42 (of the Leviathan)</li>
    <li>iLvl 74: 43 to 50 (of the Titan)</li>
    <li>iLvl 82: 51 to 55 (of the Gods)</li>
  </div>
</ul>

<!--+# to Strength-->
<ul>
  <div id="elreonstr"><h3>Additional Strength
    </h3>
    <li>iLvl 1: 8 to 12 (of the Brute)</li>
    <li>iLvl 11 : 13 to 17 (of the Wrestler)</li>
    <li><strong>iLvl 20 : 16 to 20 (Elreon lvl 2)</strong></li>
    <li>iLvl 22 : 18 to 22 (of the Bear)</li>
    <li><strong>iLvl 30 : 21 to 25 (Elreon lvl 4)</strong></li>
    <li>iLvl 33 : 23 to 27 (of the Lion)</li>
    <li>iLvl 44 : 28 to 32 (of the Gorilla)</li>
    <li>iLvl 55 : 33 to 37 (of the Goliath)</li>
    <li>iLvl 66 : 38 to 42 (of the Leviathan)</li>
    <li>iLvl 74 : 43 to 50 (of the Titan)</li>
    <li>iLvl 82: 51 to 55 (of the Gods)</li>
  </div>
</ul>
<!--+# to Strength-->
<ul>
  <div id="hakustr">
    <h3>Additional Strength
    </h3>
    <li>iLvl 1: 8 to 12 (of the Brute)</li>
    <li>iLvl 11: 13 to 17 (of the Wrestler)</li>
    <li><strong>iLvl 15: 20 to 25 (Haku lvl 2)</strong></li>
    <li>iLvl 22: 18 to 22 (of the Bear)</li>
    <li><strong>iLvl 25: 26 to 30 (Haku lvl 5)</strong></li>
    <li>iLvl 33: 23 to 27 (of the Lion)</li>
    <li>iLvl 44: 28 to 32 (of the Gorilla)</li>
    <li>iLvl 55: 33 to 37 (of the Goliath)</li>
    <li>iLvl 66: 38 to 42 (of the Leviathan)</li>
    <li>iLvl 74: 43 to 50 (of the Titan)</li>
    <li>iLvl 82: 51 to 55 (of the Gods)</li>
  </div>
</ul>


<!--+# to Intelligence-->
<ul>
  <div id="cataint">
    <h3>Additional Intelligence                          
    </h3>
    <li>iLvl 1: 8 to 12 (of the Pupil)</li>
    <li>iLvl 11: 13 to 17 (of the Student)</li>
    <li><strong>iLvl 15: 20 to 25 (Catarina lvl 2)</strong></li>
    <li>iLvl 22: 18 to 22 (of the Prodigy)</li>
    <li><strong>iLvl 25: 26 to 30 (Catarina lvl 3)</strong> </li>
    <li>iLvl 33: 23 to 27 (of the Augur)</li>
    <li>iLvl 44: 28 to 32 (of the Philosopher)</li>
    <li>iLvl 55: 33 to 37 (of the Sage)</li>
    <li>iLvl 66: 38 to 42 (of the Savant)</li>
    <li>iLvl 74: 43 to 50 (of the Virtuoso)</li>
    <li>iLvl 82: 51 to 55 (of the Genius)</li>
  </div>
</ul>

<!--+# to Intelligence-->
<ul>
  <div id="elreonint"><h3>Additional Intelligence                          
    </h3>
    <li>iLvl 1: 8 to 12 (of the Pupil)</li>
    <li>iLvl 11 : 13 to 17 (of the Student)</li>
    <li><strong>iLvl 20 : 16 to 20 (Elreon lvl 2)</strong></li>
    <li>iLvl 22 : 18 to 22 (of the Prodigy)</li>
    <li><strong>iLvl 30 : 21 to 25 (Elreon lvl 4)</strong></li>
    <li>iLvl 33 : 23 to 27 (of the Augur)</li>
    <li>iLvl 44 : 28 to 32 (of the Philosopher)</li>
    <li>iLvl 55 : 33 to 37 (of the Sage)</li>
    <li>iLvl 66 : 38 to 42 (of the Savant)</li>
    <li>iLvl 74 : 43 to 50 (of the Virtuoso)</li>
    <li>iLvl 82: 51 to 55 (of the Genius)</li>
  </div>
</ul>


<!--+# to Intelligence-->
<ul>
  <div id="nint">
    <h3>Additional Intelligence                          
    </h3>
    <li>iLvl 1: 8 to 12 (of the Pupil)</li>
    <li>iLvl 11: 13 to 17 (of the Student)</li>
    <li>iLvl 22: 18 to 22 (of the Prodigy)</li>
    <li>iLvl 33: 23 to 27 (of the Augur)</li>
    <li>iLvl 44: 28 to 32 (of the Philosopher)</li>
    <li>iLvl 55: 33 to 37 (of the Sage)</li>
    <li>iLvl 66: 38 to 42 (of the Savant)</li>
    <li>iLvl 74: 43 to 50 (of the Virtuoso)</li>
    <li>iLvl 82: 51 to 55 (of the Genius)</li>
  </div>
</ul>


<!--+# to All Attributes-->

<ul>
  <div id="elreonallatt"><h3>  
  Additional All Attributes
  </h3>
    <li>iLvl 1: 1 to 4 (of the Clouds)</li>
    <li>iLvl 11 : 5 to 8 (of the Sky)</li>
    <li><strong>iLvl 20 : 6 to 11 (Elreon lvl 4)</strong></li>
    <li>iLvl 22 : 9 to 12 (of the Meteor)</li>
    <li>iLvl 33 : 13 to 16 (of the Comet)</li>
    <li>iLvl 44 : 17 to 20 (of the Heavens)</li>
    <li>iLvl 55 : 21 to 24 (of the Galaxy)</li>
    <li>iLvl 66 : 25 to 28 (of the Universe)</li>
    <li>iLvl 77 : 29 to 32 (of the Infinite)</li>
  </div>
</ul>


<!--#% increased Global Critical Strike Multiplier-->
<ul>
  <div id="vaganmulti">
    <h3>Base Critical Strike Multiplier +%
    </h3>
    <li>iLvl 8: 10 to 14 (of Ire)</li>
    <li><strong>iLvl 20: 17 to 21 (Vagan lvl 3)</strong></li>
    <li>iLvl 21: 15 to 19 (of Anger)</li>
    <li><strong>iLvl 30: 22 to 27 (Vagan lvl 5)</strong></li>
    <li>iLvl 30: 20 to 24 (of Rage)</li>
    <li>iLvl 44: 25 to 29 (of Fury)</li>
    <li>iLvl 59: 30 to 34 (of Ferocity)</li>
    <li>iLvl 73: 35 to 38 (of Destruction)</li>
  </div>
</ul>

<!--#% increased Global Critical Strike Multiplier-->
<ul>
  <div id="amulti">
    <h3>Base Critical Strike Multiplier +%
    </h3>
    <li>iLvl 8: 10 to 14 (of Ire)</li>
    <li>iLvl 21: 15 to 19 (of Anger)</li>
    <li>iLvl 30: 20 to 24 (of Rage)</li>
    <li>iLvl 44: 25 to 29 (of Fury)</li>
    <li>iLvl 59: 30 to 34 (of Ferocity)</li>
    <li>iLvl 74: 35 to 38 (of Destruction)</li>
                  <em>Legacy</em>
    <li><em>iLvl 8: 7 to 12 (of Ire)</em></li>
    <li><em>iLvl 21: 13 to 26 (of Anger)</em></li>
    <li><em>iLvl 31: 27 to 39 (of Rage)</em></li>
    <li><em>iLvl 45: 40 to 53 (of Fury)</em></li>
    <li><em>iLvl 59: 54 to 66 (of Ferocity)</em></li>
    <li><em>iLvl 74: 67 to 70 (of Destruction)</em></li>
  </div>
</ul>


<!--#% increased Global Critical Strike Multiplier-->
<ul>
  <div id="toramulti">
    <h3>Base Critical Strike Multiplier +%
    </h3>
    <li>iLvl 8: 10 to 14 (of Ire)</li>
    <li><strong>iLvl 20: 17 to 21 (Tora lvl 3)</strong></li>
    <li>iLvl 21: 15 to 19 (of Anger)</li>
    <li><strong>iLvl 30: 22 to 27 (Tora lvl 5)</strong></li>
    <li>iLvl 30: 20 to 24 (of Rage)</li>
    <li>iLvl 44: 25 to 29 (of Fury)</li>
    <li>iLvl 59: 30 to 34 (of Ferocity)</li>
    <li>iLvl 73: 35 to 38 (of Destruction)</li><br>
  </div>
</ul>


<!--#% increased Critical Strike Chance-->
<ul>
  <div id="toracrit">
    <h3>Critical Strike Chance +%
    </h3>
    <li>iLvl 1: 10 to 14 (of Needling)</li>
    <li><strong>iLvl 20: 17 to 21 (Tora lvl 2)</strong></li>
    <li>iLvl 20: 15 to 19 (of Stinging)</li>
    <li><strong>iLvl 30: 22 to 27 (Tora lvl 4)</strong></li>
    <li>iLvl 30: 20 to 24 (of Piercing)</li>
    <li>iLvl 44: 25 to 29 (of Puncturing)</li>
    <li>iLvl 59: 30 to 34 (of Penetrating)</li>
    <li>iLvl 73: 35 to 38 (of Incision)</li>
  </div>
</ul> 


<!--#% increased Critical Strike Chance-->
<ul>
  <div id="vagancrit">
    <h3>Critical Strike Chance +%
    </h3>
    <li>iLvl 1: 10 to 14 (of Needling)</li>
    <li><strong>iLvl 20: 17 to 21 (Vagan lvl 2)</strong></li>
    <li>iLvl 20: 15 to 19 (of Stinging)</li>
    <li><strong>iLvl 30: 22 to 27 (Vagan lvl 4)</strong></li>
    <li>iLvl 30: 20 to 24 (of Piercing)</li>
    <li>iLvl 44: 25 to 29 (of Puncturing)</li>
    <li>iLvl 59: 30 to 34 (of Penetrating)</li>
    <li>iLvl 73: 35 to 38 (of Incision)</li>
  </div>
</ul>

<!--#% increased Critical Strike Chance-->
<ul>
  <div id="elreoncrit">
    <h3>Critical Strike Chance +%
    </h3>
    <li>iLvl 1: 10 to 14 (of Needling)</li>
    <li>iLvl 20: 15 to 19 (of Stinging)</li>
    <li><strong>iLvl 30: 27 to 32 (Elreon lvl 6)</strong></li>
    <li>iLvl 30: 20 to 24 (of Piercing)</li>
    <li>iLvl 44: 25 to 29 (of Puncturing)</li>
    <li>iLvl 59: 30 to 34 (of Penetrating)</li>
    <li>iLvl 72: 35 to 38 (of Incision)</li>
  </div>
</ul> 


<!--+# Life gained on Kill-->
<ul>
  <div id="lgok">
    <h3>Base Life Gained On Enemy Death
    </h3>
    <li>iLvl 1: 3 to 6 (of Success)</li>
    <li>iLvl 23: 7 to 10 (of Victory)</li>
    <li>iLvl 40: 11 to 14 (of Triumph)</li>
  </div>
</ul>


<!--+# Life gained for each Enemy hit by your Attacks-->
<ul>
  <div id="vaganlgoh">
    <h3>Base Life Gain Per Target
    </h3>
    <li>iLvl 8: 2 (of Rejuvenation)</li>
    <li><strong>iLvl: 20: 2 to 3 (Vagan lvl 5)</strong></li>
    <li>iLvl 20: 3 (of Restoration)</li>
    <li>iLvl 30: 4 (of Regrowth)</li>
    <li>iLvl 40: 5 (of Nourishment)</li>
  </div>
</ul>

<!--+# Life gained for each Enemy hit by your Attacks-->
<ul>
  <div id="nlgoh">
    <h3>Base Life Gain Per Target
    </h3>
    <li>iLvl 8: 2 (of Rejuvenation)</li>    
    <li>iLvl 20: 3 (of Restoration)</li>
    <li>iLvl 30: 4 (of Regrowth)</li>
    <li>iLvl 40: 5 (of Nourishment)</li>
  </div>
</ul>


<!--+# Life gained for each Enemy hit by your Attacks-->
<ul>
  <div id="glovelgoh">
    <h3>Base Life Gain Per Target
    </h3>
    <li>iLvl 8: 2 (of Rejuvenation)</li>
  </div>
</ul>

<!--+# Life gained for each Enemy hit by your Attacks-->
<ul>
  <div id="elreonlgoh"><h3>Base Life Gain Per Target
    </h3>
    <li>iLvl 8: 2 (of Rejuvenation)</li>
    <li><strong>iLvl 20 : 1 to 2 (Elreon lvl 5)</strong></li>
    <li>iLvl 20 : 3 (of Restoration)</li>
    <li>iLvl 30 : 4 (of Regrowth)</li>
  </div>
</ul>
<!--+# Mana gained on Kill-->
<ul>
  <div id="mgok">
    <h3>Base Mana Gained On Enemy Death
    </h3>
    <li>iLvl 1: 1 (of Absorption)</li>
    <li>iLvl 24: 2 to 3 (of Osmosis)</li>
    <li>iLvl 40: 4 to 6 (of Consumption)</li>
  </div>
</ul>


<!--#% to Cold Resistance-->
<ul>
  <div id="vagancoldres">
    <h3>Base Cold Damage Resistance %
    </h3>
    <li>iLvl 1: 6 to 11 (of the Inuit)</li>
    <li>iLvl 14: 12 to 17 (of the Seal)</li>
    <li><strong>iLvl 20: 16 to 20 (Vagan lvl 3)</strong></li>
    <li>iLvl 26: 18 to 23 (of the Penguin)</li>
    <li><strong>iLvl 30: 21 to 25 (Vagan lvl 5)</strong></li>
    <li>iLvl 38: 24 to 29 (of the Yeti)</li>
    <li>iLvl 50: 30 to 35 (of the Walrus)</li>
    <li>iLvl 60: 36 to 41 (of the Polar Bear)</li>
    <li>iLvl 72: 42 to 45 (of the Ice)</li>
    <li>iLvl 84: 46 to 48 (of Haast)</li>
  </div>
</ul>


<!--#% to Cold Resistance-->
<ul>
  <div id="hakucoldres">
    <h3>Base Cold Damage Resistance %
    </h3>
    <li>iLvl 1: 6 to 11 (of the Inuit)</li>
    <li>iLvl 14: 12 to 17 (of the Seal)</li>
    <li><strong>iLvl 20: 21 to 25 (Haku lvl 4)</strong></li>
    <li>iLvl 26: 18 to 23 (of the Penguin)</li>
    <li><strong>iLvl 30: 26 to 30 (Haku lvl 6)</strong></li>
    <li>iLvl 38: 24 to 29 (of the Yeti)</li>
    <li>iLvl 50: 30 to 35 (of the Walrus)</li>
    <li>iLvl 60: 36 to 41 (of the Polar Bear)</li>
    <li>iLvl 72: 42 to 45 (of the Ice)</li>
    <li>iLvl 84: 46 to 48 (of Haast)</li>
  </div>
</ul>



<!--#% to Cold Resistance-->
<ul>
  <div id="toracoldres">
    <h3>Base Cold Damage Resistance %
    </h3>
    <li>iLvl 1: 6 to 11 (of the Inuit)</li>
    <li>iLvl 14: 12 to 17 (of the Seal)</li>
    <li><strong>iLvl 20: 16 to 20 (Tora lvl 3)</strong></li>
    <li>iLvl 26: 18 to 23 (of the Penguin)</li>
    <li><strong>iLvl 30: 21 to 25 (Tora lvl 5)</strong></li>
    <li>iLvl 38: 24 to 29 (of the Yeti)</li>
    <li>iLvl 50: 30 to 35 (of the Walrus)</li>
    <li>iLvl 60: 36 to 41 (of the Polar Bear)</li>
    <li>iLvl 72: 42 to 45 (of the Ice)</li>
    <li>iLvl 84: 46 to 48 (of Haast)</li>
  </div>
</ul>

<!--#% to Cold Resistance-->
<ul>
  <div id="elreoncoldres">
    <h3>Base Cold Damage Resistance %
    </h3>
    <li>iLvl 1: 6 to 11 (of the Inuit)</li>
    <li>iLvl 14: 12 to 17 (of the Seal)</li>
    <li><strong>iLvl 20: 16 to 20 (Elreon lvl 3)</strong></li>
    <li>iLvl 26: 18 to 23 (of the Penguin)</li>
    <li><strong>iLvl 30: 21 to 25 (Elreon lvl 5)</strong></li>
    <li>iLvl 38: 24 to 29 (of the Yeti)</li>
    <li>iLvl 50: 30 to 35 (of the Walrus)</li>
    <li>iLvl 60: 36 to 41 (of the Polar Bear)</li>
    <li>iLvl 72: 42 to 45 (of the Ice)</li>
    <li>iLvl 84: 46 to 48 (of Haast)</li>
  </div>
</ul>


<!--#% to Fire Resistance-->
<ul>
  <div id="vaganfireres">
    <h3>Base Fire Damage Resistance %
    </h3>
    <li>iLvl 1: 6 to 11 (of the Whelpling)</li>
    <li>iLvl 12: 12 to 17 (of the Salamander)</li>
    <li><strong>iLvl 20: 16 to 20 (Vagan lvl 3)</strong></li>
    <li>iLvl 24: 18 to 23 (of the Drake)</li>
    <li><strong>iLvl 30: 21 to 25 (Vagan lvl 5)</strong></li>
    <li>iLvl 36: 24 to 29 (of the Kiln)</li>
    <li>iLvl 48: 30 to 35 (of the Furnace)</li>
    <li>iLvl 60: 36 to 41 (of the Volcano)</li>
    <li>iLvl 72: 42 to 45 (of the Magma)</li>
    <li>iLvl 84: 46 to 48 (of Tzteosh)</li>
  </div>
</ul>


<!--#% to Fire Resistance-->
<ul>
  <div id="hakufireres">
    <h3>Base Fire Damage Resistance %
    </h3>
    <li>iLvl 1: 6 to 11 (of the Whelpling)</li>
    <li>iLvl 12: 12 to 17 (of the Salamander)</li>
    <li><strong>iLvl 20: 21 to 25 (Haku lvl 4)</strong></li>
    <li>iLvl 24: 18 to 23 (of the Drake)</li>
    <li><strong>iLvl 30: 26 to 30 (Haku lvl 6)</strong></li>
    <li>iLvl 36: 24 to 29 (of the Kiln)</li>
    <li>iLvl 48: 30 to 35 (of the Furnace)</li>
    <li>iLvl 60: 36 to 41 (of the Volcano)</li>
    <li>iLvl 72: 42 to 45 (of the Magma)</li>
    <li>iLvl 84: 46 to 48 (of Tzteosh)</li>
  </div>
</ul>


<!--#% to Fire Resistance-->
<ul>
  <div id="torafireres">
    <h3>Base Fire Damage Resistance %
    </h3>
    <li>iLvl 1: 6 to 11 (of the Whelpling)</li>
    <li>iLvl 12: 12 to 17 (of the Salamander)</li>
    <li><strong>iLvl 20: 16 to 20 (Tora lvl 3)</strong></li>
    <li>iLvl 24: 18 to 23 (of the Drake)</li>
    <li><strong>iLvl 30: 21 to 25 (Tora lvl 5)</strong></li>
    <li>iLvl 36: 24 to 29 (of the Kiln)</li>
    <li>iLvl 48: 30 to 35 (of the Furnace)</li>
    <li>iLvl 60: 36 to 41 (of the Volcano)</li>
    <li>iLvl 72: 42 to 45 (of the Magma)</li>
    <li>iLvl 84: 46 to 48 (of Tzteosh)</li>
  </div>
</ul>

<!--#% to Fire Resistance-->
<ul>
  <div id="elreonfireres">
    <h3>Base Fire Damage Resistance %
    </h3>
    <li>iLvl 1: 6 to 11 (of the Whelpling)</li>
    <li>iLvl 12: 12 to 17 (of the Salamander)</li>
    <li><strong>iLvl 20: 16 to 20 (Elreon lvl 3)</strong></li>
    <li>iLvl 24: 18 to 23 (of the Drake)</li>
    <li><strong>iLvl 30: 21 to 25 (Elreon lvl 5)</strong></li>
    <li>iLvl 36: 24 to 29 (of the Kiln)</li>
    <li>iLvl 48: 30 to 35 (of the Furnace)</li>
    <li>iLvl 60: 36 to 41 (of the Volcano)</li>
    <li>iLvl 72: 42 to 45 (of the Magma)</li>
    <li>iLvl 84: 46 to 48 (of Tzteosh)</li>
  </div>
</ul>


<!--#% to Lightning Resistance-->
<ul>
  <div id="vaganlightres">
    <h3>Base Lightning Damage Resistance %
    </h3>
    <li>iLvl 1: 6 to 11 (of the Cloud)</li>
    <li>iLvl 13: 12 to 17 (of the Squall)</li>
    <li><strong>iLvl 20: 16 to 20 (Vagan lvl3)</strong></li>
    <li>iLvl 25: 18 to 23 (of the Storm)</li>
    <li><strong>iLvl 30: 21 to 25 (Vagan lvl5)</strong></li>
    <li>iLvl 37: 24 to 29 (of the Thunderhead)</li>
    <li>iLvl 49: 30 to 35 (of the Tempest)</li>
    <li>iLvl 60: 36 to 41 (of the Maelstrom)</li>
    <li>iLvl 72: 42 to 45 (of the Lightning)</li>
    <li>iLvl 84: 46 to 48 (of Ephij)</li>
  </div>
</ul>


<!--#% to Lightning Resistance-->
<ul>
  <div id="hakulightres">
    <h3>Base Lightning Damage Resistance %
    </h3>
    <li>iLvl 1: 6 to 11 (of the Cloud)</li>
    <li>iLvl 13: 12 to 17 (of the Squall)</li>
    <li><strong>iLvl 20: 21 to 25 (Haku lvl 4)</strong></li>
    <li>iLvl 25: 18 to 23 (of the Storm)</li>
    <li><strong>iLvl 30: 26 to 30 (Haku lvl 6)</strong></li>
    <li>iLvl 37: 24 to 29 (of the Thunderhead)</li>
    <li>iLvl 49: 30 to 35 (of the Tempest)</li>
    <li>iLvl 60: 36 to 41 (of the Maelstrom)</li>
    <li>iLvl 72: 42 to 45 (of the Lightning)</li>
    <li>iLvl 84: 46 to 48 (of Ephij)</li>
  </div>
</ul>


<!--#% to Lightning Resistance-->
<ul>
  <div id="toralightres">
    <h3>Base Lightning Damage Resistance %
    </h3>
    <li>iLvl 1: 6 to 11 (of the Cloud)</li>
    <li>iLvl 13: 12 to 17 (of the Squall)</li>
    <li><strong>iLvl 20: 16 to 20 (Tora lvl3)</strong></li>
    <li>iLvl 25: 18 to 23 (of the Storm)</li>
    <li><strong>iLvl 30: 21 to 25 (Tora lvl5)</strong></li>
    <li>iLvl 37: 24 to 29 (of the Thunderhead)</li>
    <li>iLvl 49: 30 to 35 (of the Tempest)</li>
    <li>iLvl 60: 36 to 41 (of the Maelstrom)</li>
    <li>iLvl 72: 42 to 45 (of the Lightning)</li>
    <li>iLvl 84: 46 to 48 (of Ephij)</li>
  </div>
</ul>

<!--#% to Lightning Resistance-->
<ul>
  <div id="elreonlightres">
    <h3>Base Lightning Damage Resistance %
    </h3>
    <li>iLvl 1: 6 to 11 (of the Cloud)</li>
    <li>iLvl 13: 12 to 17 (of the Squall)</li>
    <li><strong>iLvl 20: 16 to 20 (Elreon lvl3)</strong></li>
    <li>iLvl 25: 18 to 23 (of the Storm)</li>
    <li><strong>iLvl 30: 21 to 25 (Elreon lvl5)</strong></li>
    <li>iLvl 37: 24 to 29 (of the Thunderhead)</li>
    <li>iLvl 49: 30 to 35 (of the Tempest)</li>
    <li>iLvl 60: 36 to 41 (of the Maelstrom)</li>
    <li>iLvl 72: 42 to 45 (of the Lightning)</li>
    <li>iLvl 84: 46 to 48 (of Ephij)</li>
  </div>
</ul>


<!--#% to Chaos Resistance-->
<ul>
  <div id="chaosres">
    <h3>Base Chaos Damage Resistance %
    </h3>
    <li>iLvl 16: 5 to 10 (of the Lost)</li>
    <li>iLvl 30: 11 to 15 (of Banishment)</li>
    <li>iLvl 44: 16 to 20 (of Eviction)</li>
    <li>iLvl 56: 21 to 25 (of Expulsion)</li>
    <li>iLvl 65: 26 to 30 (of Exile)</li>
    <li>iLvl 81: 31 to 35 (of Bameth)</li>
  </div>
</ul>


<!--#% to all Elemental Resistances-->
<ul>
  <div id="shieldallres">
    <h3>Base Resist All Elements %
    </h3>
    <li>iLvl 12: 3 to 5 (of the Crystal)</li>
    <li>iLvl 24: 6 to 8 (of the Prism)</li>
    <li>iLvl 36: 9 to 11 (of the Kaleidoscope)</li>
    <li>iLvl 48: 12 to 14 (of Variegation)</li>
    <li>iLvl 60: 15 to 16 (of the Rainbow)</li>
  </div>
</ul>


<!--#% to all Elemental Resistances-->
<ul>
  <div id="elreonallres">
    <h3>Base Resist All Elements %
    </h3>
    <li>iLvl 12: 3 to 5 (of the Crystal)</li>
    <li><strong>iLvl 20 : 7 to 10 (Elreon lvl 4)</strong></li>
    <li>iLvl 24: 6 to 8 (of the Prism)</li>
    <li>iLvl 36: 9 to 11 (of the Kaleidoscope)</li>
    <li>iLvl 48: 12 to 14 (of Variegation)</li>
    <li>iLvl 60: 15 to 16 (of the Rainbow)</li>
  </div>
</ul>


<!--#% additional Block Chance-->
<ul>
  <div id="block">
    <h3>Local Additional Block Chance %
    </h3>
    <li>iLvl 10: 1 to 3 (of Intercepting)</li>
    <li><strong>iLvl 30: 2 to 3 (Haku lvl 6)</strong></li>
    <li>iLvl 58: 4 to 6 (of Walling)</li>
  </div>
</ul>


<!--#% reduced Attribute Requirements-->
<ul>
  <div id="attreq">
    <h3>Local Attribute Requirements +%
    </h3>
    <li>iLvl 36: -18 (of the Worthy)</li>
    <li>iLvl 60: -32 (of the Apt)</li>
  </div>
</ul>


<!--#% increased Stun Duration on Enemies-->
<ul>
  <div id="stundur">
    <h3>Base Stun Duration +%
    </h3>
    <li>iLvl 5: 11 to 15 (of Impact)</li>
    <li>iLvl 18: 16 to 20 (of Dazing)</li>
    <li><strong>iLvl 20: 23 to 28 (Vagan lvl 6)</strong></li>
    <li>iLvl 30: 21 to 25 (of Stunning)</li>
    <li>iLvl 44: 26 to 30 (of Slamming)</li>
    <li>iLvl 58: 31 to 35 (of Staggering)</li>
  </div>
</ul>

<!--#% increased Stun Duration on Enemies-->
<ul>
  <div id="nstundur">
    <h3>Base Stun Duration +%
    </h3>
    <li>iLvl 5: 11 to 15 (of Impact)</li>
    <li>iLvl 18: 16 to 20 (of Dazing)</li>
    <li>iLvl 30: 21 to 25 (of Stunning)</li>
    <li>iLvl 44: 26 to 30 (of Slamming)</li>
    <li>iLvl 58: 31 to 35 (of Staggering)</li>
  </div>
</ul>


<!--#% reduced Enemy Stun Threshold-->
<ul>
  <div id="stunthresh">
    <h3>Base Stun Threshold Reduction +%
    </h3>
    <li>iLvl 5: 5 to 7 (of the Pugilist)</li>
    <li><strong>iLvl 20: 11 to 12 (Vagan lvl 6)</strong></li>
    <li>iLvl 20: 8 to 9 (of the Brawler)</li>
    <li>iLvl 30: 10 to 11 (of the Boxer)</li>
    <li>iLvl 44: 12 to 13 (of the Combatant)</li>
    <li>iLvl 58: 14 to 15 (of the Gladiator)</li>
  </div>
</ul>

<!--#% reduced Enemy Stun Threshold-->
<ul>
  <div id="nstunthresh">
    <h3>Base Stun Threshold Reduction +%
    </h3>
    <li>iLvl 5: 5 to 7 (of the Pugilist)</li>
    <li>iLvl 20: 8 to 9 (of the Brawler)</li>
    <li>iLvl 30: 10 to 11 (of the Boxer)</li>
    <li>iLvl 44: 12 to 13 (of the Combatant)</li>
    <li>iLvl 58: 14 to 15 (of the Gladiator)</li>
  </div>
</ul>


<!--#% increased Mana Regeneration Rate-->
<ul>
  <div id="catamanaregen">
    <h3>Mana Regeneration Rate +%
    </h3>
    <li>iLvl 2: 10 to 19 (of Excitement)</li>
    <li>iLvl 18: 20 to 29 (of Joy)</li>
    <li><strong>iLvl 20: 25 to 34 (Catarina lvl 2)</strong></li>
    <li>iLvl 29: 30 to 39 (of Elation)</li>
    <li><strong>iLvl 30: 35 to 44 (Catarina lvl 4)</strong></li>
    <li>iLvl 42: 40 to 49 (of Bliss)</li>
    <li>iLvl 55: 50 to 59 (of Euphoria)</li>
    <li>iLvl 79: 60 to 69 (of Nirvana)</li>
  </div>
</ul>

<!--#% increased Mana Regeneration Rate-->
<ul>
  <div id="nmanaregen">
    <h3>Mana Regeneration Rate +%
    </h3>
    <li>iLvl 2: 10 to 19 (of Excitement)</li>
    <li>iLvl 18: 20 to 29 (of Joy)</li>
    <li>iLvl 29: 30 to 39 (of Elation)</li>
    <li>iLvl 42: 40 to 49 (of Bliss)</li>
    <li>iLvl 55: 50 to 59 (of Euphoria)</li>
    <li>iLvl 79: 60 to 69 (of Nirvana)</li>
  </div>
</ul>


<!--#% increased Mana Regeneration Rate-->
<ul>
  <div id="elreonmanaregen">
    <h3>Mana Regeneration Rate +%
    </h3>
    <li>iLvl 2: 10 to 19 (of Excitement)</li>
    <li>iLvl 18: 20 to 29 (of Joy)</li>
    <li><strong>iLvl 20 : 25 to 34 (Elreon lvl 5)</strong></li>
    <li>iLvl 29: 30 to 39 (of Elation)</li>    
    <li>iLvl 42: 40 to 49 (of Bliss)</li>
    <li>iLvl 55: 50 to 59 (of Euphoria)</li>
    <li>iLvl 79: 60 to 69 (of Nirvana)</li>
  </div>
</ul>


<!--#% increased Critical Strike Chance for Spells-->
<ul>
  <div id="spellcrit">
    <h3>Spell Critical Strike Chance +%
    </h3>
    <li>iLvl 11: 10 to 19 (of Menace)</li>
    <li><strong>iLvl 20: 30 to 49 (Catarina lvl 4)</strong></li>
    <li>iLvl 21: 20 to 39 (of Havoc)</li>
    <li>iLvl 28: 40 to 59 (of Disaster)</li>
    <li><strong>iLvl 30: 50 to 69 (Catarina lvl7)</strong></li>
    <li>iLvl 41: 60 to 79 (of Calamity)</li>
    <li>iLvl 59: 80 to 99 (of Ruin)</li>
    <li>iLvl 76: 100 to 109 (of Unmaking)</li>
  </div>
</ul>

<!--#% increased Critical Strike Chance for Spells-->
<ul>
  <div id="nspellcrit">
    <h3>Spell Critical Strike Chance +%
    </h3>
    <li>iLvl 11: 10 to 19 (of Menace)</li>
    <li>iLvl 21: 20 to 39 (of Havoc)</li>
    <li>iLvl 28: 40 to 59 (of Disaster)</li>
    <li>iLvl 41: 60 to 79 (of Calamity)</li>
    <li>iLvl 59: 80 to 99 (of Ruin)</li>
    <li>iLvl 76: 100 to 109 (of Unmaking)</li>
  </div>
</ul>


<!--#% increased Cast Speed-->
<ul>
  <div id="castspd">
    <h3>Base Cast Speed +%
    </h3>
    <li>iLvl 2: 5 to 7 (of Talent)</li>
    <li>iLvl 15: 8 to 10 (of Nimbleness)</li>
    <li><strong>iLvl 20: 9 to 11 (Catarina lvl 3)</strong></li>
    <li>iLvl 30: 11 to 13 (of Expertise)</li>
    <li>iLvl 40: 14 to 16 (of Legerdemain)</li>
    <li>iLvl 55: 17 to 19 (of Prestidigitation)</li>
    <li>iLvl 72: 20 to 22 (of Sortilege)</li>
    <li>iLvl 83: 23 to 25 (of Finesse)</li>
  </div>
</ul>


<!--#% increased Cast Speed-->
<ul>
  <div id="castspda"><h3>Base Cast Speed +%</h3>
    <li>iLvl 2: 5 to 7 (of Talent)</li>
    <li>iLvl 15 : 8 to 10 (of Nimbleness)</li>
    <li>iLvl 30 : 11 to 13 (of Expertise)</li>
  </div>
</ul>

<!--#% increased Cast Speed-->
<ul>
  <div id="castspdr"><h3>Base Cast Speed +%</h3>
    <li>iLvl 2: 5 to 7 (of Talent)</li>
  </div>
</ul>


<!--#% increased Cold Damage-->
<ul>
  <div id="colddmg">
    <h3>Cold Damage +%
    </h3>
    <li>iLvl 12: 3 to 7 (of SNow)</li>
    <li><strong>iLvl 20: 10 to 14 (Catarina lvl 3)</strong></li>
    <li>iLvl 24: 8 to 12 (of Sleet)</li>
    <li><strong>iLvl 30: 15 to 19 (Catarina lvl 5)</strong></li>
    <li>iLvl 36: 13 to 17 (of Ice)</li>
    <li>iLvl 50: 18 to 22 (of Rime)</li>
    <li>iLvl 64: 23 to 26 (of Floe)</li>
    <li>iLvl 76: 27 to 30 (of Glaciation)</li>
  </div>
</ul>

<!--#% increased Cold Damage-->
<ul>
  <div id="acolddmg">
    <h3>Cold Damage +%
    </h3>
    <li>iLvl 12: 3 to 7 (of SNow)</li>
    <li>iLvl 24: 8 to 12 (of Sleet)</li>
    <li>iLvl 36: 13 to 17 (of Ice)</li>
  </div>
</ul>

<!--#% increased Cold Damage-->
<ul>
  <div id="rcolddmg">
    <h3>Cold Damage +%
    </h3>
    <li>iLvl 12: 3 to 7 (of SNow)</li>
    <li>iLvl 24: 8 to 12 (of Sleet)</li>
  </div>
</ul>

  
<!--#% increased Fire Damage--> 
<ul>
  <div id="firedmg">
    <h3>Fire Damage +%
    </h3>
    <li>iLvl 8: 3 to 7 (of Embers)</li>
    <li><strong>iLvl 20: 10 to 14 (Catarina lvl 3)</strong></li>
    <li>iLvl 22: 8 to 12 (of Coals)</li>
    <li><strong>iLvl 30: 15 to 19 (Catarina lvl 5)</strong></li>
    <li>iLvl 36: 13 to 17 (of Cinders)</li>
    <li>iLvl 50: 18 to 22 (of Flames)</li>
    <li>iLvl 64: 23 to 26 (of Immolation)</li>
    <li>iLvl 76: 27 to 30 (of Ashes)</li>
  </div>
</ul>

<!--#% increased Fire Damage--> 
<ul>
  <div id="afiredmg">
    <h3>Fire Damage +%
    </h3>
    <li>iLvl 8: 3 to 7 (of Embers)</li>
    <li>iLvl 22: 8 to 12 (of Coals)</li>
    <li>iLvl 36: 13 to 17 (of Cinders)</li>
  </div>
</ul>

<!--#% increased Fire Damage--> 
<ul>
  <div id="rfiredmg">
    <h3>Fire Damage +%
    </h3>
    <li>iLvl 8: 3 to 7 (of Embers)</li>
    <li>iLvl 22: 8 to 12 (of Coals)</li>
  </div>
</ul>

 
<!--#% increased Lightning Damage-->
<ul>
  <div id="lightdmg">
    <h3>Lightning Damage +%
    </h3>
    <li>iLvl 10: 3 to 7 (of Sparks)</li>
    <li><strong>iLvl 20: 10 to 14 (Catarina lvl 3)</strong></li>
    <li>iLvl 23: 8 to 12 (of Static)</li>
    <li><strong>iLvl 30: 15 to 19 (Catarina lvl 5)</strong></li>
    <li>iLvl 36: 13 to 17 (of Electricity)</li>
    <li>iLvl 50: 18 to 22 (of Voltage)</li>
    <li>iLvl 64: 23 to 26 (of Discharge)</li>
    <li>iLvl 76: 27 to 30 (of Arcing)</li>
  </div>
</ul>

<!--#% increased Lightning Damage-->
<ul>
  <div id="alightdmg">
    <h3>Lightning Damage +%
    </h3>
    <li>iLvl 10: 3 to 7 (of Sparks)</li>
    <li>iLvl 23: 8 to 12 (of Static)</li>
    <li>iLvl 36: 13 to 17 (of Electricity)</li>
  </div>
</ul>

<!--#% increased Lightning Damage-->
<ul>
  <div id="rlightdmg">
    <h3>Lightning Damage +%
    </h3>
    <li>iLvl 10: 3 to 7 (of Sparks)</li>
    <li>iLvl 23: 8 to 12 (of Static)</li>
  </div>
</ul>


<!--#% increased Projectile Speed-->
<ul>
  <div id="projspd">
    <h3>Base Projectile Speed +%
    </h3>
    <li>iLvl 14: 10 to 17 (of Darting)</li>
    <li><strong>iLvl 25: 10 to 30 (Tora lvl 6)</strong></li>
    <li>iLvl 27: 18 to 25 (of Flight)</li>
    <li>iLvl 41: 26 to 33 (of Propulsion)</li>
    <li>iLvl 55: 34 to 41 (of the Zephyr)</li>
    <li>iLvl 82: 42 to 46 (of the Gale)</li>
  </div>
</ul>


<!--# Life Regenerated per second-->
<ul>
  <div id="liferegen">
    <h3>Base Life Regeneration Rate Per Minute
    </h3>
    <li>iLvl 1: 1 to 2 (of the Newt)</li>
    <li>iLvl 18: 2.01 to 3.0 (of the Lizard)</li>
    <li>iLvl 30: 3.01 to 4.0 (of the Starfish)</li>
    <li>iLvl 44: 4.01 to 5.0 (of the Hydra)</li>
    <li>iLvl 59: 5.01 to 6.0 (of the Troll)</li>
    <li>iLvl 78: 6.01 to 7.0 (of the Phoenix)</li>
  </div>
</ul>


<!--#% increased Stun Recovery-->
<ul>
  <div id="stunrec">
    <h3>Base Stun Recovery +%
    </h3>
    <li>iLvl 1: 11 to 13 (of Thick Skin)</li>
    <li>iLvl 17: 14 to 16 (of Stone Skin)</li>
    <li>iLvl 28: 17 to 19 (of Iron Skin)</li>
    <li>iLvl 42: 20 to 22 (of Steel Skin)</li>
    <li>iLvl 56: 23 to 25 (of Adamantite Skin)</li>
    <li>iLvl 79: 26 to 28 (of Corundum Skin)</li>
  </div>
</ul>


<!--#% increased Rarity of Items found-->
<ul>
  <div id="helmraritys">
    <h3>Base Item Found Rarity +%
    </h3>
    <li>iLvl 3: 6 to 10 (of Plunder)</li>
    <li>iLvl 30: 11 to 14 (of Raiding)</li>
    <li>iLvl 53: 15 to 20 (of Archaeology)</li>
    <li>iLvl 75: 21 to 26 (of Excavation)</li>
  </div>
</ul>

<!--#% increased Rarity of Items found-->
<ul>
  <div id="elreonraritys">
    <h3>Base Item Found Rarity +%
    </h3>
    <li>iLvl 3: 6 to 10 (of Plunder)</li>
    <li><strong>iLvl 30: 13 to 17 (Elreon lvl 7)</strong></li>
    <li>iLvl 30: 11 to 14 (of Raiding)</li>
    <li>iLvl 53: 15 to 20 (of Archaeology)</li>
    <li>iLvl 75: 21 to 26 (of Excavation)</li>
  </div>
</ul>

<!--#% increased Rarity of Items found-->
<ul>
  <div id="gloveraritys">
    <h3>Base Item Found Rarity +%
    </h3>
    <li>iLvl 3: 6 to 10 (of Plunder)</li>
    <li>iLvl 30: 11 to 14 (of Raiding)</li>    
  </div>
</ul>




<!--#% increased Quantity of Items found(Legacy)-->
<ul>
  <div id="quant">
    <h3><em>Base Item Found Quantity +%</em>
    </h3>
    <li><em>iLvl 2: 4 to 8 (of Collecting)</em></li>
    <li><em>iLvl 32: 9 to 12 (of Gathering)</em></li>
    <li><em>iLvl 55: 13 to 16 (of Hoarding)</em></li>
    <li><em>iLvl 77: 17 to 20 (of Amassment)</em></li>
  </div>
</ul>

<!--#% increased Flask Charges gained-->
<ul>
  <div id="toraflskg"> 
    <h3>Flask Charges Gained +%
    </h3>
    <li>iLvl 5: 10 to 20 (of Refilling)</li>
    </div>
</ul>

<!--#% reduced Flask Charges used-->
<ul>
  <div id="toraflsku"> 
    <h3>Flask Charges Used -%
    </h3>
    <li>iLvl 3: -20 to -10 (of Sipping)</li>
    </div>
</ul>

<!--#% increased Flask effect duration-->
<ul>
  <div id="toraflskeffdur"> 
    <h3>Flask Effect Duration +%
    </h3>
    <li>iLvl 7: 10 to 20 (of Savouring)</li>
    <li><strong>iLvl 20: 5 to 15 (Tora lvl 3)</strong></li>
    </div>
</ul>

<!--Flask-->
<div id="flasks"><strong>#% Additional Elemental Resistances During Flask Effect
</strong>
<ol style='margin-top:0in' type=disc><li>iLvl 1: 20 to 30 (of Resistance)</li></ol>
  
  <strong> #% Increased Stun Recovery During Flask Effect </strong>
<ol style='margin-top:0in' type=disc><li>iLvl 1: 40 to 60 (of Steadiness)</li></ol>
  
  <strong> Immunity To Freeze And Chill During Flask Effect<br>Removes Freeze And Chill On Use </strong>
<ol style='margin-top:0in' type=disc><li>iLvl 4: (of Heat)</li></ol>
  
  <strong> #% Increased Movement Speed During Flask Effect </strong>
<ol style='margin-top:0in' type=disc><li>iLvl 5: 20 to 30 (of Adrenaline)</li></ol>
  
  <strong> #% Increased Armour (rating) During Flask Effect </strong>
<ol style='margin-top:0in' type=disc><li>iLvl 6: 60 to 100 (of Iron Skin)</li></ol>
  
  <strong> Immunity To Burning During Flask Effect<br>Removes Burning On Use </strong>
<ol style='margin-top:0in' type=disc><li>iLvl 6: (of Dousing)</li></ol>
  
  <strong> #% Increased Evasion (rating) During Flask Effect</strong>
<ol style='margin-top:0in' type=disc><li>iLvl 8: 60 to 100 (of Reflexes)</li></ol>
  
  <strong>Immunity To Bleeding During Flask Effect<br>Removes Bleeding On Use</strong>
<ol style='margin-top:0in' type=disc><li>iLvl 8: of (Staunching)</li></ol>
  
  <strong>Adds Knockback During Flask Effect</strong>
<ol style='margin-top:0in' type=disc><li>iLvl 9: (of Fending)</li></ol>
  
  <strong>2% Physical Damage Leeched As Life During Flask Effect</strong>
<ol style='margin-top:0in' type=disc><li>iLvl 10: (of Gluttony)</li></ol>
  
  <strong>Grants #% Of Life Recovery To Minions</strong>
<ol style='margin-top:0in' type=disc><li>iLvl 10: 40 to 60 (of Animation)</li></ol>
  
  <strong>Immunity To Shock During Flask Effect<br>Removes Shock On Use</strong>
<ol style='margin-top:0in' type=disc><li>iLvl 10: (of Grounding)</li></ol>
  
  <strong>2% Physical Damage Leeched As Mana During Flask Effect</strong>
<ol style='margin-top:0in' type=disc><li>iLvl 12: (of Craving)</li></ol>
  
  <strong>Immunity To Curses During Flask Effect<br>Removes Curses On Use</strong>
<ol style='margin-top:0in' type=disc><li>iLvl 18: (of Warding)</li></ol>
</div>

<!--Strongbox-->
<div id="strngbxs"><strong>Contains (3 to 8) additional items </strong>
  <ol style='margin-top:0in' type=disc><li>iLvl 1: (of Abundance)</li></ol>	
  
  <strong>+(1 to 5) Chest level </strong>
  <ol style='margin-top:0in' type=disc> <li>iLvl 1: (of Ascendance)</li></ol>
  
  <strong>(30 to 60)% increased Quantity of Contained Items </strong>
  <ol style='margin-top:0in' type=disc><li>iLvl 1: (of Bounty)</li></ol>
  
  <strong>Contains an extra Vaal Gem </strong>
  <ol style='margin-top:0in' type=disc><li>iLvl 1: (of Corruption)</li></ol>
  
  <strong>Contained Items have (1 to 20)% Quality </strong>
  <ol style='margin-top:0in' type=disc><li>iLvl 1: (of Quality)</li></ol>
  
  <strong>Contains Identified Items </strong>
  <ol style='margin-top:0in' type=disc><li>iLvl 1: (of Wisdom)</li></ol>
  
  <strong>Contains additional Utility Flasks </strong>
  <ol style='margin-top:0in' type=disc><li>iLvl 4: (of Waters)</li></ol>
  
  <strong>Contains (1 to 5) additional Magic Item </strong>
  <ol style='margin-top:0in' type=disc><li>iLvl 4: (of Curiosities)</li></ol>
  
  <strong>(1000 to 2000)% increased Rarity of Contained Items </strong>
  <ol style='margin-top:0in' type=disc><li>iLvl 4: (of Treasures)</li></ol>
  
  <strong>Contains (1 to 3) additional rare items </strong>
  <ol style='margin-top:0in' type=disc><li>iLvl 8: (of Affluence)</li></ol>	
  
  <strong>Only drops Support Gems </strong>
  <ol style='margin-top:0in' type=disc><li>iLvl 12: (of Augmentation)</li></ol>		
  
  <strong>Contained Items have an additional Socket </strong>
  <ol style='margin-top:0in' type=disc><li>iLvl 20: (of Complexity)</li></ol>	
  
  <strong>Contained Items are fully Linked </strong>
  <ol style='margin-top:0in' type=disc><li>iLvl 40: (of Unity)</li></ol>	
  
  <strong>Contained Gems have Experience </strong>
  <ol style='margin-top:0in' type=disc><li>iLvl 40: (of Facets)</li></ol>	
  
  <strong>Contains Mirrored Items </strong>
  <ol style='margin-top:0in' type=disc><li>iLvl 40: (of Kalandra)</li></ol>	
  
  <strong>Contains an additional Unique Item </strong>
  <ol style='margin-top:0in' type=disc><li>iLvl 45: (of Singularity)</li></ol>
</div>	
	
<!--Map-->		
	
<div id="maps"><strong>(20 to 50)% Monster pack size </strong>
  <ol style='margin-top:0in' type=disc><li>0% quantity of items found: (of Hordes)</li></ol>
  
  <strong>(20 to 50)% more Magic Monsters </strong>
  <ol style='margin-top:0in' type=disc><li>3% quantity of items found: (of Champions)</strong></ol>
  </ol>
  
  <strong>(20 to 50)% more Rare Monsters </strong>
  <ol style='margin-top:0in' type=disc><li>3% quantity of items found: (of Commanders)</li></ol>
  
  <strong>Players have Elemental Equilibrium </strong>
  <ol style='margin-top:0in' type=disc><li>9% quantity of items found: (of Balance)</li></ol>
  
  <strong>Area has patches of desecrated ground </strong>
  <ol style='margin-top:0in' type=disc><li>11% quantity of items found: (of Desecration)</li></ol>
  
  <strong>Area has patches of burning ground </strong>
  <ol style='margin-top:0in' type=disc><li>11% quantity of items found: (of Flames)</li></ol>
  
  <strong>Area has patches of chilled ground </strong>
  <ol style='margin-top:0in' type=disc><li>11% quantity of items found: (of Ice)</li></ol>
  
  <strong>Area has patches of shocked ground </strong>
  <ol style='margin-top:0in' type=disc><li>11% quantity of items found: (of Lightning)</li></ol>
  
  <strong>Monsters gain (1 to 3) Endurance Charges every 20 seconds </strong>
  <ol style='margin-top:0in' type=disc><li>15% quantity of items found: (of Endurance)</li></ol>
  
  <strong>Monsters gain (1 to 3) Frenzy Charges every 20 seconds </strong>
  <ol style='margin-top:0in' type=disc><li>15% quantity of items found: (of Frenzy)</li></ol>
  
  <strong>Monsters gain (1 to 3) Power Charges every 20 seconds </strong>
  <ol style='margin-top:0in' type=disc><li>15% quantity of items found: (of Power)</li></ol>
  
  <strong>Monsters Poison on Hit </strong>
  <ol style='margin-top:0in' type=disc><li>16% quantity of items found: (of Venom)</li></ol>
  
  <strong>Players are cursed with (Lvl 15)Elemental Weakness </strong>
  <ol style='margin-top:0in' type=disc><li>17% quantity of items found: (of Elemental Weakness)</li></ol>
  
  <strong>Players are cursed with (Lvl 15)Enfeeble </strong>
  <ol style='margin-top:0in' type=disc><li>18% quantity of items found: (of Enfeeblement)</li></ol>
  
  <strong>Players recover Life, Mana and Energy Shield 50% slower </strong>
  <ol style='margin-top:0in' type=disc><li>20% quantity of items found: (of Smothering)</li></ol>
  
  <strong>Players have Blood Magic </strong>
  <ol style='margin-top:0in' type=disc><li>25% quantity of items found: (of Hemomancy)</li></ol>
  
  <strong>Players are cursed with (Lvl 15)Vulnerability </strong>
  <ol style='margin-top:0in' type=disc><li>25% quantity of items found: (of Vulnerability	)</li></ol>
  
  <strong>Players are cursed with (Lvl 15)Temporal Chains	Level 15 </strong>
  <ol style='margin-top:0in' type=disc><li>27% quantity of items found: (of Temporal Chains	)</li></ol>
  
  <strong>-(15 to 25)% maximum Player Resistances </strong>
  <ol style='margin-top:0in' type=disc><li>30% quantity of items found: (of Exposure)</li></ol>
  
  <strong>Monsters Fracture </strong>
  <ol style='margin-top:0in' type=disc><li>30% quantity of items found: (of Fracturing)</li></ol>
  
  <strong>Players cannot regenerate Life or Mana </strong>
  <ol style='margin-top:0in' type=disc><li>30% quantity of items found: (of Stasis)</li></ol><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>	
</body>
</html>
