<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<div id="viridianp">


    <!--#% increased Physical Damage with Axes-->
  
    <strong>Physical Damage with Axes +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 16 (Sinister)</li>
    </ol>
    
    <!--#% increased Physical Damage with Swords-->
  
    <strong>Physical Damage with Swords +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 16 (Vicious)</li>
    </ol>
    
    <!--#% increased Physical Damage with Bows-->
  
    <strong>Physical Damage with Bows +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 16 (Fierce)</li>
    </ol>
    
    <!--#% increased Physical Damage with Claws-->
  
    <strong>Physical Damage with Claws +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 16 (Savage)</li>
    </ol>
    
    <!--#% increased Physical Damage with Daggers-->
  
    <strong>Physical Damage with Daggers +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 16 (Lethal)</li>
    </ol>
    
    <!--#% increased Physical Damage with One Handed Melee Weapons-->
  
    <strong>Physical Damage with One Handed Melee Weapons +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 12 to 14 (Soldier's)</li>
    </ol>
    
    <!--#% increased Physical Damage with Two Handed Melee Weapons-->
  
    <strong>Physical Damage with Two Handed Melee Weapons +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 12 to 14 (Champion's)</li>
    </ol>
    
    <!--#% increased Physical Damage Dual Wielding-->
  
    <strong>Physical Damage Dual Wielding +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 12 to 14 (Gladiator's)</li>
    </ol>
    
    <!--#% increased Melee Physical Damage while holding a Shield-->
  
    <strong>Melee Physical Damage while holding a Shield +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 12 to 14 (Flanking)</li>
    </ol>
    
    <!--#% increased Trap Damage-->
  
    <strong>Trap Damage +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 16 (Trapping)</li>
      </ol>     
  
      <!--#% increased Mine Damage-->
  
    <strong>Mine Damage +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 16 (Sabotage)</li>
      </ol>
      
      <!--#% increased Fire Damage-->
  
    <strong>Fire Damage +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 16 (Flaming)</li>
      </ol>
      
      <!--#% increased Cold Damage-->
  
    <strong> Cold Damage +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 16 (Chilling)</li>
      </ol>
      
      <!--#% increased Lightning Damage-->
  
    <strong>Lightning Damage +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 16 (Humming)</li>
      </ol> 
      
      <!--#% increased Physical Damage-->
  
    <strong>Physical Damage +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 16 (Sharpened)</li>
      </ol> 
      
      <!--#% increased Chaos Damage-->
  
    <strong>Chaos Damage +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 9 to 13 (Chaotic)</li>
      </ol>
      
      <!--#% increased Attack Speed with Axes-->
  
    <strong>Attack Speed with Axes +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 6 to 8 (Cleaving)</li>
    </ol>
    
    <!--#% increased Attack Speed with Swords-->
  
    <strong>Attack Speed with Swords +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 6 to 8 (Fencing)</li>
    </ol>
    
    <!--#% increased Attack Speed with Bows-->
  
    <strong>Attack Speed with Bows +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 6 to 8 (Volleying)</li>
    </ol>
    
    <!--#% increased Attack Speed with Claws-->
  
    <strong>Attack Speed with Claws +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 6 to 8 (Ripping)</li>
    </ol>
    
    <!--#% increased Attack Speed with Daggers-->
  
    <strong>Attack Speed with Daggers +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 6 to 8 (Slicing)</li>
    </ol>
    
    <!--#% increased Attack Speed with One Handed Melee Weapons-->
  
    <strong>Attack Speed with One Handed Melee Weapons +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 4 to 6 (Bandit's)</li>
    </ol>
    
    <!--#% increased Attack Speed with Two Handed Melee Weapons-->
  
    <strong>Attack Speed with Two Handed Melee Weapons +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 4 to 6 (Warrior's)</li>
    </ol>
    
    <!--#% increased Attack Speed while Dual Wielding-->
  
    <strong>Attack Speed while Dual Wielding +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 4 to 6 (Harmonic)</li>
    </ol>
    
    <!--#% increased Attack Speed holding a Shield-->
  
    <strong>Attack Speed while holding a Shield +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 4 to 6 (Charging)</li>
    </ol>
    
    <strong>Trap Throwing Speed +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 6 to 8 (Honed)</li>
      </ol>
      
      <!--#% increased Trap Mine Laying Speed -->
  
    <strong>Mine Laying Speed +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 6 to 8 (Arming)</li>
      </ol>
      
      <!--#% increased maximum Life -->
  
    <strong>Maximum Life +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 5 to 7 (Vivid)</li>
      </ol>
      
      <!--#% increased maximum Mana -->
  
    <strong>Maximum Mana +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 6 to 8 (Enlightened)</li>
      </ol>     
      
      
      <!--#% increased Mana Regeneration Rate -->
  
    <strong>Mana Regeneration Rate +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 12 to 15 (Energetic)</li>
      </ol>
      
    <!--#% of Physical Attack Damage Leeched as Mana-->
  
    <strong>Physical Attack Damage Leeched as Mana +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 0.2 to 0.4(Thirsting)</li>
    </ol>
    
    <!--#% increased Evasion Rating-->
  
    <strong>Evasion +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 18 (Evasive)</li>
    </ol>
    
    <!--#% increased Critical Strike Chance with One Handed Melee Weapons-->
  
    <strong>Critical Strike Chance with One Handed Melee Weapons +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 18 (Harming)</li>
    </ol>
    
    <!--#% increased Critical Strike Multiplier with One Handed Melee Weapons-->
  
    <strong>Critical Strike Multiplier with One Handed Melee Weapons +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 15 to 18 (Piercing)</li>
    </ol> 
    
    <!--#% increased Critical Strike Chance with Two Handed Melee Weapons-->
  
    <strong>Critical Strike Chance with Two Handed Melee Weapons +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 18 (Sundering)</li>
    </ol> 
        
        <!--#% increased Critical Strike Multiplier with Two Handed Melee Weapons-->
  
    <strong>Critical Strike Multiplier with Two Handed Melee Weapons +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 15 to 18 (Rupturing)</li>
    </ol>
    
    
    <!--#% increased Critical Strike Chance while Dual Wielding-->
  
    <strong>Critical Strike Chance while Dual Wielding +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 18 (Technical)</li>
    </ol>
        
        <!--#% increased Critical Strike Multiplier while Dual Wielding-->
  
    <strong>Critical Strike Multiplier while Dual Wielding +%</strong>
    <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 15 to 18 (Puncturing)</li>
    </ol>
    
    
    <!--#% increased Critical Strike Chance with Fire Skills -->
  
    <strong>Critical Strike Chance with Fire Skills +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 18 (Incinerating)</li>
      </ol>
      
      <!--#% increased Critical Strike Multiplier with Fire Skills -->
  
    <strong>Critical Strike Multiplier with Fire Skills +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 15 to 18 (Infernal)</li>
      </ol>
      
      <!--#% increased Critical Strike Chance with Cold Skills -->
  
    <strong>Critical Strike Chance with Cold Skills +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 18 (Avalanching)</li>
      </ol>
      
      <!--#% increased Critical Strike Multiplier with Cold Skills -->
  
    <strong>Critical Strike Multiplier with Cold Skills +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 15 to 18 (Arctic)</li>
      </ol>
      
      <!--#% increased Critical Strike Chance with Lightning Skills -->
  
    <strong>Critical Strike Chance with Lightning Skills +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 14 to 18 (Thundering)</li>
      </ol>
      
      <!--#% increased Critical Strike Multiplier with Lightning Skills -->
  
    <strong>Critical Strike Multiplier with Lightning Skills +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 15 to 18 (Surging)</li>
      </ol>
      
      <!--#% additional Block Chance while Dual Wielding -->
  
    <strong>Block Chance while Dual Wielding +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 1 (Parrying)</li>
      </ol>
      
      <!--#% additional Block Chance with Shields -->
      
      <strong>Block Chance with Shields +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 1 (Shielding)</li>
      </ol>
      
            
      <!--#% additional Spell Block Chance while Dual Wielding -->
  
    <strong>Spell Block Chance while Dual Wielding +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 1 (Dissipating)</li>
      </ol>
      
      <!--#% additional Spell Block Chance with Shields -->
      
      <strong>Spell Block Chance with Shields +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 1 (Thwarting)</li>
      </ol>
      
      <!--#%  increased Totem Damage-->
      
      <strong>Totem Damage +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 12 to 16 (Shaman's)</li>
      </ol>
      
      <!--#%  increased Totem Life-->
      
      <strong>Totem Life +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 8 to 12 (Carved's)</li>
      </ol>
          
</div>

<!--SUFFIX-->


<div id="viridians">


    <!--#% increased Melee Damage-->
      
      <strong>Melee Damage +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 10 to 12 (of Combat)</li>
      </ol>


      <!--#% increased Projectile Damage-->
      
      <strong>Projectile Damage +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 10 to 12 (of Archery)</li>
      </ol>      
      
      <!--#% increased Damage-->
      
      <strong>Damage +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 8 to 10 (of Wounding)</li>
      </ol>
      
      <!--#% increased Damage over Time-->
      
      <strong>Damage over Time +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 10 to 12 (of Entropy)</li>
      </ol>
      
      <!--#% increased Area Damage-->
      
      <strong>Area Damage +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 10 to 12 (of Blasting)</li>
      </ol>
      
      <!--#% increased Attack Speed-->
      
      <strong>Attack Speed +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 3 to 5 (of Berserking)</li>
      </ol>
      
      <!--#% increased Projectile Speed-->
      
      <strong>Projectile Speed +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 6 to 8 (of Soaring)</li>
      </ol>
      
      <!--#% increased Attack and Cast Speed-->
      
      <strong>Attack and Cast Speed +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 2 to 4 (of Zeal)</li>
      </ol>
      
      <!--+# Addtional Strength-->
      
      <strong>Addtional Strength +#</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 12 to 16 (of Strength)</li>
      </ol>
      
      <!--+# Addtional Dexterity -->
      
      <strong>Addtional Dexterity  +#</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 12 to 16 (of Dexterity)</li>
      </ol>
      
      <!--+# Addtional Intelligence -->
      
      <strong>Addtional Intelligence  +#</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 12 to 16 (of Intelligence)</li>
      </ol>
      
      <!--+# Addtional Strength and Dexterity -->
      
      <strong>Addtional Strength and Dexterity +#</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 8 to 10 (of Athletics)</li>
      </ol>
      
      <!--+# Addtional Strength and Intelligence  -->
      
      <strong>Addtional Strength and Intelligence +#</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 8 to 10 (of Spirit)</li>
      </ol>
      
      <!--+# Addtional Dexterity and Intelligence  -->
      
      <strong>Addtional Dexterity and Intelligence +#</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 8 to 10 (of Cunning)</li>
      </ol>
      
      <!--+# Addtional all Attributes-->
      
      <strong>All Attributes +#</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 6 to 8 (of Adaption)</li>
      </ol>
      
      <!--+# Mana gained for each Enemy hit by your Attacks-->
      
      <strong>Mana gained for each Enemy hit by your Attacks +#</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 1 to 2 (of Absorbtion)</li>
      </ol>
      
      <!--+% increased Rarity of Items found-->
      
      <strong>Rarity of Items found +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 4 to 6 (of Raiding)</li>
      </ol>
      
      <!--+% increased increased Accuracy Rating-->
      
      <strong>Accuracy Rating +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 10 to 14 (of Precision)</li>
      </ol>
      
      <!--+% increased increased Accuracy Rating / +% increased Global Critical Strike Chance-->
      
      <strong>Accuracy Rating +% / Global Critical Strike Chance +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 6 to 10 / 6 to 10 (of Deadliness)</li>
      </ol>
      
      <!--+% increased Global Critical Strike Chance-->
      
      <strong>Global Critical Strike Chance +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 8 to 12 (of Menace)</li>
      </ol>
      
      <!--+% increased Global Critical Strike Multiplier -->
      
      <strong>Global Critical Strike Multiplier +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 9 to 12 (of Potency)</li>
      </ol>
      
      <!--+% increased Global Melee Critical Strike Chance-->
      
      <strong>Global Melee Critical Strike Chance +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 8 to 12 (of Weight)</li>
      </ol>
      
      <!--+% increased Global Melee Critical Strike Multiplier -->
      
      <strong>Global Melee Critical Strike Multiplier +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 12 to 15 (of Demolishing)</li>
      </ol>
      
      <!--+% increased Critical Strike Chance for Elemental Skills -->
      
      <strong>Critical Strike Chance for Elemental Skills +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 10 to 14 (of the Apocalypse)</li>
      </ol>      
      
      
      <!--+% increased Critical Strike Multiplier for Elemental Skills -->
      
      <strong>Critical Strike Multiplier for Elemental Skills +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 12 to 15 (of the Elements)</li>
      </ol>
      
      <!--+% increased Fire Resistance-->
      
      <strong>Fire Resistance +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 12 to 15 (of the Dragon)</li>
      </ol>
      
      <!--+% increased Cold Resistance-->
      
      <strong>Cold Resistance +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 12 to 15 (of the Beast)</li>
      </ol>
      
      <!--+% increased Lightning Resistance-->
      
      <strong>Lightning Resistance +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 12 to 15 (of Grounding)</li>
      </ol>
      
      <!--+% increased Fire and Cold Resistances-->
      
      <strong> Fire and Cold Resistances +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 10 to 12 (of the Hearth)</li>
      </ol>
      
      <!--+% increased Fire and Lightning Resistances-->
      
      <strong> Fire and Lightning Resistances +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 10 to 12 (of Insulation)</li>
      </ol>
      
      <!--+% increased Cold and Lightning Resistances-->
      
      <strong> Cold and Lightning Resistances +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 10 to 12 (of Shelter)</li>
      </ol>
      
      <!--+% increased all Elemental Resistances-->
      
      <strong> All Elemental Resistances +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 8 to 10 (of Resistance)</li>
      </ol>
      
      <!--+% increased Chaos Resistance-->
      
      <strong>Chaos Resistance +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 7 to 13 (of Order)</li>
      </ol>
      
      <!--+% increased Stun Duration on Enemies-->
      
      <strong>Stun Duration +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 10 to 14 (of Stunning)</li>
      </ol>
      
      <!--+% increased Stun Recovery-->
      
      <strong>Stun Recovery +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 10 to 14 (of Recovery)</li>
      </ol>
      
      <!--+% reduced Mana Cost of Skills-->
      
      <strong>Reduced Mana Cost of Skills +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 3 to 5 (of Efficiency)</li>
      </ol>
      
      <!--+% chance to Knock Enemies Back on hit-->
      
      <strong>Chance to Knockback +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 4 to 6 (of Fending)</li>
      </ol>
      
      <!--+% chance to Freeze / increased Freeze Duration on Enemies +%-->
      
      <strong>Chance to Freeze +% / Freeze Duration +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 2 to 3 / 12 to 16 (of Freezing)</li>
      </ol>
      
      <!--+% chance to Shock / increased Shock Duration on Enemies +%-->
      
      <strong>Chance to Shock +%/ Shock Duration +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 2 to 3 / 12 to 16 (of Shocking)</li>
      </ol>
      
      <!--+% chance to Ignite / increased Ignite Duration on Enemies +%-->
      
      <strong>Chance to Ignite +%/ Ignite Duration +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 2 to 3 / 12 to 16 (of Burning)</li>
      </ol>
      
            
      <!--+% increase all elemental resistances for Totems-->
      
      <strong>Totem Elemental Resistances +%</strong>
      <ol style='margin-top:0in' type=disc>
        <li>iLvl 1: 6 to 10 (of Runes)</li>
      </ol>
      
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      
</div>





</body>
</html>
